<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.qqchPerformInspection.mapper.QqchPerformInspectionMapper">

    <resultMap type="com.hhwy.pm.qqch.qqchPerformInspection.domain.QqchPerformInspection"
               id="QqchPerformInspectionResultMap">
        <result property="id" column="id"/>
        <result property="checkUnit" column="check_unit"/>
        <result property="checkPersonId" column="check_person_id"/>
        <result property="checkPersonName" column="check_person_name"/>
        <result property="checkDate" column="check_date"/>
        <result property="overallStatus" column="overall_status"/>
        <result property="version" column="version"/>
        <result property="valid" column="valid"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>
    <sql id="selectQqchPerformInspectionVo">
        select
                                                            `id`
                                                         ,`check_unit`
                                                         ,`check_person_id`
                                                         ,`check_person_name`
                                                         ,`check_date`
                                                         ,`overall_status`
                                                         ,`version`
                                                         ,`valid`
                                                         ,`create_user`
                                                         ,`create_user_name`
                                                         ,`create_time`
                                                         ,`update_user`
                                                         ,`update_time`
                                                         ,`del_user`
                                                         ,`del_time`
                                                         ,`del_flag`
                                                         ,`pt_var1`
                                                         ,`pt_var2`
                                                         ,`pt_var3`
                                                         ,`dept_id`
                                    from qqch_perform_inspection
    </sql>
    <select id="getQqchPerformInspection" resultMap="QqchPerformInspectionResultMap">
        <include refid="selectQqchPerformInspectionVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="checkUnit != null  and checkUnit != ''">and `check_unit` = #{checkUnit}</if>
            <if test="checkPersonId != null ">and `check_person_id` = #{checkPersonId}</if>
            <if test="checkPersonName != null  and checkPersonName != ''">and `check_person_name` = #{checkPersonName}
            </if>
            <if test="checkDate != null ">and `check_date` = #{checkDate}</if>
            <if test="overallStatus != null  and overallStatus != ''">and `overall_status` = #{overallStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getQqchPerformInspectionList" resultMap="QqchPerformInspectionResultMap">
        <include refid="selectQqchPerformInspectionVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="checkUnit != null  and checkUnit != ''">and `check_unit` like concat('%',#{checkUnit},'%') </if>
            <if test="checkPersonId != null ">and `check_person_id` = #{checkPersonId}</if>
            <if test="checkPersonName != null  and checkPersonName != ''">and `check_person_name` like concat('%',#{checkPersonName},'%')</if>
            <if test="checkDate != null ">and `check_date` = #{checkDate}</if>
            <if test="overallStatus != null  and overallStatus != ''">and `overall_status` = #{overallStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="params != null  and params.checkUnitFlag != null and params.checkUnitFlag != '' ">
                <choose>
                    <when test="params.checkUnitFlag == '1' "> and check_unit = '海外事业部'</when>
                    <when test="params.checkUnitFlag == '2' "> and check_unit != '海外事业部'</when>
                </choose>
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getSummaryList" resultType="map">
        select sum(1) num,sum(if(check_unit='海外事业部',1,0)) centerNum,max(check_date) checkDate from qqch_perform_inspection
        where del_flag = 0 and valid = 1
    </select>

    <insert id="insertQqchPerformInspection" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_perform_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="checkUnit != null  and checkUnit != ''">`check_unit`,</if>
            <if test="checkPersonId != null ">`check_person_id`,</if>
            <if test="checkPersonName != null  and checkPersonName != ''">`check_person_name`,</if>
            <if test="checkDate != null ">`check_date`,</if>
            <if test="overallStatus != null  and overallStatus != ''">`overall_status`,</if>
            <if test="version != null ">`version`,</if>
            <if test="valid != null  and valid != ''">`valid`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="deptId != null ">`dept_id`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="checkUnit != null  and checkUnit != ''">#{checkUnit},</if>
            <if test="checkPersonId != null ">#{checkPersonId},</if>
            <if test="checkPersonName != null  and checkPersonName != ''">#{checkPersonName},</if>
            <if test="checkDate != null ">#{checkDate},</if>
            <if test="overallStatus != null  and overallStatus != ''">#{overallStatus},</if>
            <if test="version != null ">#{version},</if>
            <if test="valid != null  and valid != ''">#{valid},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="deptId != null ">#{deptId},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchPerformInspection -->
    <insert id="insertQqchPerformInspectionList">
        insert into qqch_perform_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `check_unit`,
            `check_person_id`,
            `check_person_name`,
            `check_date`,
            `overall_status`,
            `version`,
            `valid`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `dept_id`,
        </trim>
        values
        <foreach collection="qqchPerformInspectionList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.checkUnit},
                #{item.checkPersonId},
                #{item.checkPersonName},
                #{item.checkDate},
                #{item.overallStatus},
                #{item.version},
                #{item.valid},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.deptId},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchPerformInspection">
        update qqch_perform_inspection
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="checkUnit != null  and  checkUnit != ''">`check_unit` = #{checkUnit},</if>
            <if test="checkPersonId != null ">`check_person_id` = #{checkPersonId},</if>
            <if test="checkPersonName != null  and  checkPersonName != ''">`check_person_name` = #{checkPersonName},
            </if>
            <if test="checkDate != null ">`check_date` = #{checkDate},</if>
            <if test="overallStatus != null  and  overallStatus != ''">`overall_status` = #{overallStatus},</if>
            <if test="version != null ">`version` = #{version},</if>
            <if test="valid != null  and  valid != ''">`valid` = #{valid},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchPerformInspectionList">
        update qqch_perform_inspection
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="check_unit  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkUnit}
                </foreach>
            </trim>
            <trim prefix="check_person_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkPersonId}
                </foreach>
            </trim>
            <trim prefix="check_person_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkPersonName}
                </foreach>
            </trim>
            <trim prefix="check_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkDate}
                </foreach>
            </trim>
            <trim prefix="overall_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.overallStatus}
                </foreach>
            </trim>
            <trim prefix="version  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.version}
                </foreach>
            </trim>
            <trim prefix="valid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.valid}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchPerformInspection">
        update `qqch_perform_inspection` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="checkUnit != null  and checkUnit != ''">and `check_unit` = #{checkUnit}</if>
            <if test="checkPersonId != null ">and `check_person_id` = #{checkPersonId}</if>
            <if test="checkPersonName != null  and checkPersonName != ''">and `check_person_name` = #{checkPersonName}
            </if>
            <if test="checkDate != null ">and `check_date` = #{checkDate}</if>
            <if test="overallStatus != null  and overallStatus != ''">and `overall_status` = #{overallStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="ids != null and ids != ''">and find_in_set(id,#{ids})</if>
        </where>
    </update>

    <update id="deleteQqchPerformInspectionByPks">
        update `qqch_perform_inspection` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchPerformInspectionPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>