<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.wzch.demand.mapper.WzchTotalDemandDetailMapper">
    <resultMap type="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail" id="WzchTotalDemandDetailResult">
        <result property="id"    column="id"    />
        <result property="totalDemandId"    column="total_demand_id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialTechParam"    column="material_tech_param"    />
        <result property="materialStandard"    column="material_standard"    />
        <result property="categoryName"    column="category_name"    />
        <result property="totalDemandAmount"    column="total_demand_amount"    />
        <result property="selfDemandAmount"    column="self_demand_amount"    />
        <result property="nonSelfAmount"    column="non_self_amount"    />
        <result property="firstEnterFlag"    column="first_enter_flag"    />
        <result property="contStandard"    column="cont_standard"    />
        <result property="resourceSurvey"    column="resource_survey"    />
        <result property="fileGroupId"    column="file_group_id"    />
        <result property="remark"    column="remark"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="valid"    column="valid"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectWzchTotalDemandDetailVo">
        select valid,version,`id`, `total_demand_id`, category_name, `material_code`, `material_tech_param`, `material_standard`,  `total_demand_amount`, `self_demand_amount`, `non_self_amount`,  `first_enter_flag`, `cont_standard`, `resource_survey`, `file_group_id`, `remark`, `project_id`, `project_name`, `dept_id`, `create_user`, `create_user_name`, `create_time`, `update_user`, `update_user_name`, `update_time`, `del_user`, `del_time`, `del_flag`, `pt_var1`, `pt_var2`, `pt_var3` from `wzch_total_demand_detail`
    </sql>
    <delete id="deleteByTotalDemandId">
        delete from wzch_total_demand_detail where total_demand_id = #{totalDemandId}
    </delete>

    <delete id="deleteByVersion">
        delete from wzch_total_demand_detail where version = #{version}
    </delete>

    <select id="selectWzchTotalDemandDetailList" parameterType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail" resultMap="WzchTotalDemandDetailResult">
        <include refid="selectWzchTotalDemandDetailVo"/>
        <where>
            `del_flag` = 0
            <if test="totalDemandId != null "> and `total_demand_id` = #{totalDemandId}</if>
            <if test="materialCode != null  and materialCode != ''"> and `material_code` = #{materialCode}</if>
            <if test="materialTechParam != null  and materialTechParam != ''"> and `material_tech_param` = #{materialTechParam}</if>
            <if test="materialStandard != null  and materialStandard != ''"> and `material_standard` = #{materialStandard}</if>
            <if test="categoryName != null  and categoryName != ''"> and `category_name` = #{categoryName}</if>
            <if test="totalDemandAmount != null "> and `total_demand_amount` = #{totalDemandAmount}</if>
            <if test="selfDemandAmount != null "> and `self_demand_amount` = #{selfDemandAmount}</if>
            <if test="nonSelfAmount != null "> and `non_self_amount` = #{nonSelfAmount}</if>
            <if test="firstEnterFlag != null  and firstEnterFlag != ''"> and `first_enter_flag` = #{firstEnterFlag}</if>
            <if test="contStandard != null  and contStandard != ''"> and `cont_standard` = #{contStandard}</if>
            <if test="resourceSurvey != null  and resourceSurvey != ''"> and `resource_survey` = #{resourceSurvey}</if>
            <if test="fileGroupId != null  and fileGroupId != ''"> and `file_group_id` = #{fileGroupId}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and `project_name` like concat('%', #{projectName}, '%')</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` like concat('%', #{createUserName}, '%')</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and `update_user_name` like concat('%', #{updateUserName}, '%')</if>
            <if test="valid != null  and valid != ''"> and `valid` = #{valid}</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="version != null "> and `version` = #{version}</if>
        </where>
        order by `id` desc
    </select>

    <select id="selectWzchTotalDemandDetailById" parameterType="Long" resultMap="WzchTotalDemandDetailResult">
        <include refid="selectWzchTotalDemandDetailVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertWzchTotalDemandDetail" parameterType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
        insert into `wzch_total_demand_detail`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="totalDemandId != null">`total_demand_id`,</if>
            <if test="materialCode != null">`material_code`,</if>
            <if test="materialTechParam != null">`material_tech_param`,</if>
            <if test="materialStandard != null">`material_standard`,</if>
            <if test="totalDemandAmount != null">`total_demand_amount`,</if>
            <if test="selfDemandAmount != null">`self_demand_amount`,</if>
            <if test="nonSelfAmount != null">`non_self_amount`,</if>
            <if test="firstEnterFlag != null">`first_enter_flag`,</if>
            <if test="contStandard != null">`cont_standard`,</if>
            <if test="resourceSurvey != null">`resource_survey`,</if>
            <if test="fileGroupId != null">`file_group_id`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="projectName != null">`project_name`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createUserName != null">`create_user_name`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateUserName != null">`update_user_name`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="valid != null">`valid`,</if>
            <if test="categoryName != null">`category_name`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="version != null">`version`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="totalDemandId != null">#{totalDemandId},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialTechParam != null">#{materialTechParam},</if>
            <if test="materialStandard != null">#{materialStandard},</if>
            <if test="totalDemandAmount != null">#{totalDemandAmount},</if>
            <if test="selfDemandAmount != null">#{selfDemandAmount},</if>
            <if test="nonSelfAmount != null">#{nonSelfAmount},</if>
            <if test="firstEnterFlag != null">#{firstEnterFlag},</if>
            <if test="contStandard != null">#{contStandard},</if>
            <if test="resourceSurvey != null">#{resourceSurvey},</if>
            <if test="fileGroupId != null">#{fileGroupId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="valid != null">#{valid},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="version != null">#{version},</if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `wzch_total_demand_detail` (
        `id`,
        `total_demand_id`,
        `material_code`,
        `material_tech_param`,
        `material_standard`,
        `total_demand_amount`,
        `self_demand_amount`,
        `non_self_amount`,
        `first_enter_flag`,
        `cont_standard`,
        `resource_survey`,
        `file_group_id`,
        `remark`,
        `project_id`,
        `project_name`,
        `dept_id`,
        `create_user`,
        `create_user_name`,
        `create_time`,
        `update_user`,
        `update_user_name`,
        `update_time`,
        `del_user`,
        `del_time`,
        `del_flag`,
        `valid`,
        `category_name`,
        `pt_var1`,
        `pt_var2`,
        `pt_var3`,
        `version`
        )values
        <foreach collection="list" separator="," item="item" index="index" >
            (
            #{item.id },
            #{item.totalDemandId},
            #{item.materialCode},
            #{item.materialTechParam},
            #{item.materialStandard},
            #{item.totalDemandAmount},
            #{item.selfDemandAmount},
            #{item.nonSelfAmount},
            #{item.firstEnterFlag},
            #{item.contStandard},
            #{item.resourceSurvey},
            #{item.fileGroupId},
            #{item.remark},
            #{item.projectId},
            #{item.projectName},
            #{item.deptId},
            #{item.createUser},
            #{item.createUserName},
            #{item.createTime},
            #{item.updateUser},
            #{item.updateUserName},
            #{item.updateTime},
            #{item.delUser},
            #{item.delTime},
            #{item.delFlag},
            #{item.valid},
            #{item.categoryName},
            #{item.ptVar1},
            #{item.ptVar2},
            #{item.ptVar3},
            #{item.version}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `wzch_total_demand_detail`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="valid =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.valid != null ">
                        when `id` = #{item.id} then #{item.valid}
                    </if>
                </foreach>
            </trim>
            <trim prefix="total_demand_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.totalDemandId != null ">
                        when `id` = #{item.id} then #{item.totalDemandId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="category_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.categoryName != null ">
                        when `id` = #{item.id} then #{item.categoryName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_code =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.materialCode != null ">
                        when `id` = #{item.id} then #{item.materialCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_tech_param =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.materialTechParam != null ">
                        when `id` = #{item.id} then #{item.materialTechParam}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_standard =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.materialStandard != null ">
                        when `id` = #{item.id} then #{item.materialStandard}
                    </if>
                </foreach>
            </trim>
            <trim prefix="total_demand_amount =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.totalDemandAmount != null ">
                        when `id` = #{item.id} then #{item.totalDemandAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="self_demand_amount =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.selfDemandAmount != null ">
                        when `id` = #{item.id} then #{item.selfDemandAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="non_self_amount =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nonSelfAmount != null ">
                        when `id` = #{item.id} then #{item.nonSelfAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="first_enter_flag =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.firstEnterFlag != null ">
                        when `id` = #{item.id} then #{item.firstEnterFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cont_standard =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.contStandard != null ">
                        when `id` = #{item.id} then #{item.contStandard}
                    </if>
                </foreach>
            </trim>
            <trim prefix="resource_survey =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.resourceSurvey != null ">
                        when `id` = #{item.id} then #{item.resourceSurvey}
                    </if>
                </foreach>
            </trim>
            <trim prefix="file_group_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.fileGroupId != null ">
                        when `id` = #{item.id} then #{item.fileGroupId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remark =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.remark != null ">
                        when `id` = #{item.id} then #{item.remark}
                    </if>
                </foreach>
            </trim>
            <trim prefix="project_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.projectId != null ">
                        when `id` = #{item.id} then #{item.projectId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="project_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.projectName != null ">
                        when `id` = #{item.id} then #{item.projectName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="dept_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.deptId != null ">
                        when `id` = #{item.id} then #{item.deptId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createUser != null ">
                        when `id` = #{item.id} then #{item.createUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createUserName != null ">
                        when `id` = #{item.id} then #{item.createUserName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createTime != null ">
                        when `id` = #{item.id} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser != null ">
                        when `id` = #{item.id} then #{item.updateUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUserName != null ">
                        when `id` = #{item.id} then #{item.updateUserName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateTime != null ">
                        when `id` = #{item.id} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_user =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delUser != null ">
                        when `id` = #{item.id} then #{item.delUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delTime != null ">
                        when `id` = #{item.id} then #{item.delTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_flag =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delFlag != null ">
                        when `id` = #{item.id} then #{item.delFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var1 =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar1 != null ">
                        when `id` = #{item.id} then #{item.ptVar1}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var2 =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar2 != null ">
                        when `id` = #{item.id} then #{item.ptVar2}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var3 =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar3 != null ">
                        when `id` = #{item.id} then #{item.ptVar3}
                    </if>
                </foreach>
            </trim>
            <trim prefix="version =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.version != null ">
                        when `id` = #{item.id} then #{item.version}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateWzchTotalDemandDetail" parameterType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
        update `wzch_total_demand_detail`
        <trim prefix="SET" suffixOverrides=",">
            <if test="valid != null">`valid` = #{valid},</if>
            <if test="totalDemandId != null">`total_demand_id` = #{totalDemandId},</if>
            <if test="materialCode != null">`material_code` = #{materialCode},</if>
            <if test="materialTechParam != null">`material_tech_param` = #{materialTechParam},</if>
            <if test="materialStandard != null">`material_standard` = #{materialStandard},</if>
            <if test="totalDemandAmount != null">`total_demand_amount` = #{totalDemandAmount},</if>
            <if test="selfDemandAmount != null">`self_demand_amount` = #{selfDemandAmount},</if>
            <if test="nonSelfAmount != null">`non_self_amount` = #{nonSelfAmount},</if>
            <if test="firstEnterFlag != null">`first_enter_flag` = #{firstEnterFlag},</if>
            <if test="contStandard != null">`cont_standard` = #{contStandard},</if>
            <if test="resourceSurvey != null">`resource_survey` = #{resourceSurvey},</if>
            <if test="fileGroupId != null">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="projectName != null">`project_name` = #{projectName},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createUserName != null">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateUserName != null">`update_user_name` = #{updateUserName},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="categoryName != null">`category_name` = #{categoryName},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="version != null">`version` = #{version},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteWzchTotalDemandDetailById" parameterType="Long">
        update `wzch_total_demand_detail` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteWzchTotalDemandDetailByIds" parameterType="String">
        update `wzch_total_demand_detail` set del_flag = 1 where `id` in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateOfValid">
        update wzch_total_demand_detail set valid = #{valid}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectWzchTotalDemandDetails"  resultType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
        select a.`id`, a.`total_demand_id` totalDemandId,a.valid,
        a.`material_tech_param` materialTechParam, a.`material_standard` materialStandard,
        a.`total_demand_amount` totalDemandAmount, a.`self_demand_amount` selfDemandAmount,
        a.`non_self_amount` nonSelfAmount, a.`first_enter_flag` firstEnterFlag,
        a.`cont_standard` contStandard, a.`resource_survey` resourceSurvey, a.`file_group_id` fileGroupId,
        a.`remark`, a.`project_id` projectId, a.`project_name` projectName, a.`dept_id` deptId,
        a.`create_user` createUser, a.`create_user_name` createUserName, a.`create_time` createTime,
        a.`update_user` updateUser , a.`update_user_name` updateUserName, a.`update_time` updateTime,
        a.`del_user` delUser , a.`del_time` delTime, a.`del_flag` delFlag,
        a.`material_code` materialCode,
        a.category_name categoryName
        from `wzch_total_demand_detail` a
        where  a.del_flag = 0
        <if test="projectId!=null">
            and a.project_id = #{projectId}
        </if>
        <if test="valid!=null and valid!=''">
            and a.valid = #{valid}
        </if>
        <if test="totalDemandId!=null">
            and a.total_demand_id = #{totalDemandId}
        </if>
        <if test="materialStandardList!=null and materialStandardList.size()>0">
            and a.`material_standard` in
            <foreach collection="materialStandardList" item = "materialStandard" open="(" separator="," close=")">
                #{materialStandard}
            </foreach>
        </if>
    </select>

    <select id="selectDetailByTotalDemandIds" resultType = "com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
        select a.`id`,a.valid,a.total_demand_id totalDemandId,a.material_code materialCode,
        a.`material_tech_param` materialTechParam, a.`material_standard` materialStandard,
        a.`total_demand_amount` totalDemandAmount, a.`self_demand_amount` selfDemandAmount,
        a.`non_self_amount` nonSelfAmount, a.`first_enter_flag` firstEnterFlag,a.category_name categoryName,
        a.`cont_standard` contStandard, a.`resource_survey` resourceSurvey, a.`file_group_id` fileGroupId,
        a.`remark`, a.`project_id` projectId, a.`project_name` projectName, a.`dept_id` deptId,
        a.`create_user` createUser, a.`create_user_name` createUserName, a.`create_time` createTime,
        a.`update_user` updateUser , a.`update_user_name` updateUserName, a.`update_time` updateTime,
        a.`del_user` delUser , a.`del_time` delTime, a.`del_flag` delFlag
        from  `wzch_total_demand_detail` a
        where
        a.`del_flag` = '0' and a.total_demand_id in
        <foreach item="totalDemandId" collection="list" open="(" separator="," close=")">
            #{totalDemandId}
        </foreach>
    </select>
    <select id="selectWzchSourceDetailByProjectId"
            resultType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
         select a.`id`,a.valid,a.total_demand_id totalDemandId,
         a.`material_tech_param` materialTechParam, a.`material_standard` materialStandard,
        a.`total_demand_amount` totalDemandAmount, a.`self_demand_amount` selfDemandAmount,
        a.`non_self_amount` nonSelfAmount, a.`first_enter_flag` firstEnterFlag,
         a.`cont_standard` contStandard, a.`resource_survey` resourceSurvey, a.`file_group_id` fileGroupId,
          a.`remark`, a.`project_id` projectId, a.`project_name` projectName, a.`dept_id` deptId,
          a.`create_user` createUser, a.`create_user_name` createUserName, a.`create_time` createTime,
          a.`update_user` updateUser , a.`update_user_name` updateUserName, a.`update_time` updateTime,
           a.`del_user` delUser , a.`del_time` delTime, a.`del_flag` delFlag,
            e.update_time validDate
            from  `wzch_total_demand_detail` a left join  wzch_total_demand e  on a.total_demand_id = e.id
            where  a.del_flag = 0 and a.project_id = #{projectId} and e.valid = '1'


    </select>
    <select id="selectWzchTotalDemandDetailListOfLeaderView"
            resultType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">

        select a.`id`, a.`total_demand_id` totalDemandId,a.valid,
        a.`material_tech_param` materialTechParam, a.`material_standard` materialStandard,
        a.`total_demand_amount` totalDemandAmount, a.`self_demand_amount` selfDemandAmount,
        a.`non_self_amount` nonSelfAmount, a.`first_enter_flag` firstEnterFlag,
        a.`cont_standard` contStandard, a.`resource_survey` resourceSurvey, a.`file_group_id` fileGroupId,
        a.`remark`, a.`project_id` projectId, a.`project_name` projectName, a.`dept_id` deptId,
        a.`create_user` createUser, a.`create_user_name` createUserName, a.`create_time` createTime,
        a.`update_user` updateUser , a.`update_user_name` updateUserName, a.`update_time` updateTime,
        a.`del_user` delUser , a.`del_time` delTime, a.`del_flag` delFlag,
        a.`material_code` materialCode,
        a.category_name categoryName
        from `wzch_total_demand_detail` a
        where  a.del_flag = 0 and a.valid = '1'
        <if test="projectId!=null">
            and a.project_id = #{projectId}
        </if>
        <if test="totalDemandId!=null">
            and a.total_demand_id = #{totalDemandId}
        </if>
        <if test="materialStandardList!=null and materialStandardList.size()>0">
            and a.`material_standard` in
            <foreach collection="materialStandardList" item = "materialStandard" open="(" separator="," close=")">
                #{materialStandard}
            </foreach>
        </if>

    </select>
    <select id="selectByProjectIds" resultMap="WzchTotalDemandDetailResult">
        <include refid="selectWzchTotalDemandDetailVo"/>
        where
        `del_flag` = '0' and valid = '1'
        and project_id in
        <foreach collection="list" item = "item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByProjectIdsOfTotal" resultType="com.hhwy.pm.qqch.wzch.demand.domain.WzchTotalDemandDetail">
        SELECT
        id,
        material_code materialCode,
        material_standard materialStandard,
        category_name categoryName,
        total_demand_id totalDemandId,
        SUM(IFNULL( total_demand_amount, 0 )) totalDemandAmount,
        SUM(IFNULL( self_demand_amount, 0 )) selfDemandAmount,
        SUM(IFNULL( non_self_amount, 0 )) nonSelfAmount
        FROM
        wzch_total_demand_detail
        WHERE
        project_id IN
        <foreach collection="projectIds" item = "item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="materialStandardList!=null and materialStandardList.size()>0">
            and `material_standard` in
            <foreach collection="materialStandardList" item = "materialStandard" open="(" separator="," close=")">
                #{materialStandard}
            </foreach>
        </if>
        AND valid = 1
        AND del_flag = 0
        GROUP BY
        material_code,
        material_standard
    </select>


</mapper>