<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.technique.techManagePlan.mapper.QqchAppInnovatePlanMapper">

    <resultMap type="com.hhwy.pm.qqch.preparation.technique.techManagePlan.domain.QqchAppInnovatePlan"
               id="QqchAppInnovatePlanResultMap">
        <result property="id" column="id"/>
        <result property="technologyName" column="technology_name"/>
        <result property="appOrInnovate" column="app_or_innovate"/>
        <result property="type" column="type"/>
        <result property="director" column="director"/>
        <result property="directorId" column="director_id"/>
        <result property="relatedStaff" column="related_staff"/>
        <result property="relatedStaffId" column="related_staff_id"/>
        <result property="contactWay" column="contact_way"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
        <result property="version" column="version"/>
        <result property="valid" column="valid"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>
    <sql id="selectQqchAppInnovatePlanVo">
        select `id`
             , `technology_name`
             , `app_or_innovate`
             , `type`
             , `director`
             , `director_id`
             , `related_staff`
             , `related_staff_id`
             , `contact_way`
             , `start_time`
             , `end_time`
             , `remark`
             , `sort`
             , `version`
             , `valid`
             , `region_id`
             , `region_name`
             , `project_id`
             , `project_name`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `pt_var1`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
        from qqch_app_innovate_plan
    </sql>
    <select id="getQqchAppInnovatePlan" resultMap="QqchAppInnovatePlanResultMap">
        <include refid="selectQqchAppInnovatePlanVo"/>
        <where>
            del_flag = '0'
            <if test="id != null ">and `id` = #{id}</if>
            <if test="technologyName != null  and technologyName != ''">and `technology_name` = #{technologyName}</if>
            <if test="appOrInnovate != null  and appOrInnovate != ''">and `app_or_innovate` = #{appOrInnovate}</if>
            <if test="type != null  and type != ''">and `type` = #{type}</if>
            <if test="relatedStaff != null  and relatedStaff != ''">and `related_staff` = #{relatedStaff}</if>
            <if test="relatedStaffId != null  and relatedStaffId != ''">and `related_staff_id` = #{relatedStaffId}</if>
            <if test="contactWay != null  and contactWay != ''">and `contact_way` = #{contactWay}</if>
            <if test="startTime != null ">and `start_time` = #{startTime}</if>
            <if test="endTime != null ">and `end_time` = #{endTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        limit 1
    </select>

    <select id="getQqchAppInnovatePlanList" resultMap="QqchAppInnovatePlanResultMap">
        <include refid="selectQqchAppInnovatePlanVo"/>
        <where>
            del_flag = '0'
            <if test="id != null ">and `id` = #{id}</if>
            <if test="technologyName != null  and technologyName != ''">and `technology_name` = #{technologyName}</if>
            <if test="appOrInnovate != null  and appOrInnovate != ''">and `app_or_innovate` = #{appOrInnovate}</if>
            <if test="type != null  and type != ''">and `type` = #{type}</if>
            <if test="relatedStaff != null  and relatedStaff != ''">and `related_staff` = #{relatedStaff}</if>
            <if test="relatedStaffId != null  and relatedStaffId != ''">and `related_staff_id` = #{relatedStaffId}</if>
            <if test="contactWay != null  and contactWay != ''">and `contact_way` = #{contactWay}</if>
            <if test="startTime != null ">and `start_time` = #{startTime}</if>
            <if test="endTime != null ">and `end_time` = #{endTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by sort
    </select>

    <insert id="insertQqchAppInnovatePlan" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_app_innovate_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="technologyName != null  and technologyName != ''">`technology_name`,</if>
            <if test="appOrInnovate != null  and appOrInnovate != ''">`app_or_innovate`,</if>
            <if test="type != null  and type != ''">`type`,</if>
            <if test="director != null  and director != ''">`director`,</if>
            <if test="directorId != null  and directorId != ''">`director_id`,</if>
            <if test="relatedStaff != null  and relatedStaff != ''">`related_staff`,</if>
            <if test="relatedStaffId != null  and relatedStaffId != ''">`related_staff_id`,</if>
            <if test="contactWay != null  and contactWay != ''">`contact_way`,</if>
            <if test="startTime != null ">`start_time`,</if>
            <if test="endTime != null ">`end_time`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="sort != null ">`sort`,</if>
            <if test="version != null ">`version`,</if>
            <if test="valid != null  and valid != ''">`valid`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="technologyName != null  and technologyName != ''">#{technologyName},</if>
            <if test="appOrInnovate != null  and appOrInnovate != ''">#{appOrInnovate},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="director != null  and director != ''">#{director},</if>
            <if test="directorId != null  and directorId != ''">#{directorId},</if>
            <if test="relatedStaff != null  and relatedStaff != ''">#{relatedStaff},</if>
            <if test="relatedStaffId != null  and relatedStaffId != ''">#{relatedStaffId},</if>
            <if test="contactWay != null  and contactWay != ''">#{contactWay},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="version != null ">#{version},</if>
            <if test="valid != null  and valid != ''">#{valid},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchAppInnovatePlan -->
    <insert id="insertQqchAppInnovatePlanList">
        insert into qqch_app_innovate_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `technology_name`,
            `app_or_innovate`,
            `type`,
            `director`,
            `director_id`,
            `related_staff`,
            `related_staff_id`,
            `contact_way`,
            `start_time`,
            `end_time`,
            `remark`,
            `sort`,
            `version`,
            `valid`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="qqchAppInnovatePlanList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.technologyName},
                #{item.appOrInnovate},
                #{item.type},
                #{item.director},
                #{item.directorId},
                #{item.relatedStaff},
                #{item.relatedStaffId},
                #{item.contactWay},
                #{item.startTime},
                #{item.endTime},
                #{item.remark},
                #{item.sort},
                #{item.version},
                #{item.valid},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchAppInnovatePlan">
        update qqch_app_innovate_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="technologyName != null  and  technologyName != ''">`technology_name` = #{technologyName},</if>
            <if test="appOrInnovate != null  and  appOrInnovate != ''">`app_or_innovate` = #{appOrInnovate},</if>
            <if test="type != null  and  type != ''">`type` = #{type},</if>
            <if test="director != null  and  director != ''">`director` = #{director},</if>
            <if test="directorId != null  and  directorId != ''">`director_id` = #{directorId},</if>
            <if test="relatedStaff != null  and  relatedStaff != ''">`related_staff` = #{relatedStaff},</if>
            <if test="relatedStaffId != null  and  relatedStaffId != ''">`related_staff_id` = #{relatedStaffId},</if>
            <if test="contactWay != null  and  contactWay != ''">`contact_way` = #{contactWay},</if>
            <if test="startTime != null ">`start_time` = #{startTime},</if>
            <if test="endTime != null ">`end_time` = #{endTime},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="sort != null ">`sort` = #{sort},</if>
            <if test="version != null ">`version` = #{version},</if>
            <if test="valid != null  and  valid != ''">`valid` = #{valid},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchAppInnovatePlanList">
        update qqch_app_innovate_plan
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="technology_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.technologyName}
                </foreach>
            </trim>
            <trim prefix="app_or_innovate  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.appOrInnovate}
                </foreach>
            </trim>
            <trim prefix="type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.type}
                </foreach>
            </trim>
           <trim prefix="director  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.director}
                </foreach>
            </trim>
           <trim prefix="director_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.directorId}
                </foreach>
            </trim>
            <trim prefix="related_staff  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.relatedStaff}
                </foreach>
            </trim>
            <trim prefix="related_staff_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.relatedStaffId}
                </foreach>
            </trim>
            <trim prefix="contact_way  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.contactWay}
                </foreach>
            </trim>
            <trim prefix="start_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.startTime}
                </foreach>
            </trim>
            <trim prefix="end_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.endTime}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="sort  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.sort}
                </foreach>
            </trim>
            <trim prefix="version  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.version}
                </foreach>
            </trim>
            <trim prefix="valid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.valid}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchAppInnovatePlan">
        update `qqch_app_innovate_plan` set del_flag = '1'
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="technologyName != null  and technologyName != ''">and `technology_name` = #{technologyName}</if>
            <if test="appOrInnovate != null  and appOrInnovate != ''">and `app_or_innovate` = #{appOrInnovate}</if>
            <if test="type != null  and type != ''">and `type` = #{type}</if>
            <if test="relatedStaff != null  and relatedStaff != ''">and `related_staff` = #{relatedStaff}</if>
            <if test="relatedStaffId != null  and relatedStaffId != ''">and `related_staff_id` = #{relatedStaffId}</if>
            <if test="contactWay != null  and contactWay != ''">and `contact_way` = #{contactWay}</if>
            <if test="startTime != null ">and `start_time` = #{startTime}</if>
            <if test="endTime != null ">and `end_time` = #{endTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteQqchAppInnovatePlanByPks">
        update `qqch_app_innovate_plan` set del_flag = '1'
        <where>
            `id` in
            <foreach item="id" collection="qqchAppInnovatePlanPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>