<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sp.techManagement.sgsjTechnicalScienceTopic.mapper.SgsjTechnicalScienceTopicMapper">

    <resultMap type="com.hhwy.sp.techManagement.sgsjTechnicalScienceTopic.domain.SgsjTechnicalScienceTopic"
               id="SgsjTechnicalScienceTopicResultMap">
        <result property="id" column="id"/>
        <result property="applyState" column="apply_state"/>
        <result property="taskStatus" column="task_status"/>
        <result property="handlePerson" column="handle_person"/>
        <result property="topicCode" column="topic_code"/>
        <result property="topicName" column="topic_name"/>
        <result property="topicCurentNode" column="topic_curent_node"/>
        <result property="startEndDate" column="start_end_date"/>
        <result property="dutyPerson" column="duty_person"/>
        <result property="dutyPersonName" column="duty_person_name"/>
        <result property="togetherUnit" column="together_unit"/>
        <result property="togetherUnitOther" column="together_unit_other"/>
        <result property="rdCost" column="rd_cost"/>
        <result property="alreadyPayCost" column="already_pay_cost"/>
        <result property="leftCost" column="left_cost"/>
        <result property="writeInPerson" column="write_in_person"/>
        <result property="writeInPersonName" column="write_in_person_name"/>
        <result property="writeInPersonPhoneNum" column="write_in_person_phone_num"/>
        <result property="topicSummary" column="topic_summary"/>
        <result property="topicFileGroupId" column="topic_file_group_id"/>
        <result property="outlineFileGroupId" column="outline_file_group_id"/>
        <result property="contractFileGroupId" column="contract_file_group_id"/>
        <result property="inspectFileGroupId" column="inspect_file_group_id"/>
        <result property="acceptanceFileGroupId" column="acceptance_file_group_id"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>
    <sql id="selectSgsjTechnicalScienceTopicVo">
        SELECT `id`
                , `apply_state`
                , `task_status`
                , `handle_person`
                , `topic_code`
                , `topic_name`
                , `topic_curent_node`
                , `start_end_date`
                , `duty_person`
                , `duty_person_name`
                , `together_unit`
                , `together_unit_other`
                , `rd_cost`
                , `already_pay_cost`
                , `left_cost`
                , `write_in_person`
                , `write_in_person_name`
                , `write_in_person_phone_num`
                , `topic_summary`
                , `topic_file_group_id`
                , `outline_file_group_id`
                , `contract_file_group_id`
                , `inspect_file_group_id`
                , `acceptance_file_group_id`
                , `remark`
                , `region_id`
                , `region_name`
                , `project_id`
                , `project_name`
                , `dept_id`
                , `create_user`
                , `create_user_name`
                , `create_time`
                , `update_user`
                , `update_time`
                , `del_user`
                , `del_time`
                , `del_flag`
                , `pt_var1`
                , `pt_var2`
                , `pt_var3`
                , `pt_var4`
                , `pt_var5`
        FROM sgsj_technical_science_topic
    </sql>
    <select id="getSgsjTechnicalScienceTopic" resultMap="SgsjTechnicalScienceTopicResultMap">
        <include refid="selectSgsjTechnicalScienceTopicVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">
                and (`id` = #{id} or pt_var2 = #{id})
            </if>
            <if test="applyState != null  and applyState != ''">and `apply_state` = #{applyState}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="handlePerson != null  and handlePerson != ''">and `handle_person` = #{handlePerson}</if>
            <!--<if test="topicCode != null  and topicCode != ''">and `topic_code` like concat('%', #{topicCode}, '%') </if>-->
            <if test="topicCode != null  and topicCode != ''">and `topic_code` = #{topicCode}</if>
            <if test="topicName != null  and topicName != ''">and `topic_name` like concat('%', #{topicName}, '%') </if>
            <if test="topicCurentNode != null  and topicCurentNode != ''">and `topic_curent_node` = #{topicCurentNode}
            </if>
            <if test="startEndDate != null  and startEndDate != ''">and `start_end_date` = #{startEndDate}</if>
            <if test="dutyPerson != null  and dutyPerson != ''">and `duty_person` = #{dutyPerson}</if>
            <if test="dutyPersonName != null  and dutyPersonName != ''">and `duty_person_name` = #{dutyPersonName}</if>
            <if test="togetherUnit != null  and togetherUnit != ''">and `together_unit` = #{togetherUnit}</if>
            <if test="togetherUnitOther != null  and togetherUnitOther != ''">and `together_unit_other` =
                #{togetherUnitOther}
            </if>
            <if test="rdCost != null ">and `rd_cost` = #{rdCost}</if>
            <if test="alreadyPayCost != null ">and `already_pay_cost` = #{alreadyPayCost}</if>
            <if test="leftCost != null ">and `left_cost` = #{leftCost}</if>
            <if test="writeInPerson != null  and writeInPerson != ''">and `write_in_person` = #{writeInPerson}</if>
            <if test="writeInPersonName != null  and writeInPersonName != ''">and `write_in_person_name` =
                #{writeInPersonName}
            </if>
            <if test="writeInPersonPhoneNum != null  and writeInPersonPhoneNum != ''">and `write_in_person_phone_num` =
                #{writeInPersonPhoneNum}
            </if>
            <if test="topicSummary != null  and topicSummary != ''">and `topic_summary` = #{topicSummary}</if>
            <if test="topicFileGroupId != null  and topicFileGroupId != ''">and `topic_file_group_id` =
                #{topicFileGroupId}
            </if>
            <if test="outlineFileGroupId != null  and outlineFileGroupId != ''">and `outline_file_group_id` =
                #{outlineFileGroupId}
            </if>
            <if test="contractFileGroupId != null  and contractFileGroupId != ''">and `contract_file_group_id` =
                #{contractFileGroupId}
            </if>
            <if test="inspectFileGroupId != null  and inspectFileGroupId != ''">and `inspect_file_group_id` =
                #{inspectFileGroupId}
            </if>
            <if test="acceptanceFileGroupId != null  and acceptanceFileGroupId != ''">and `acceptance_file_group_id` =
                #{acceptanceFileGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getSgsjTechnicalScienceTopicList" resultMap="SgsjTechnicalScienceTopicResultMap">
        <include refid="selectSgsjTechnicalScienceTopicVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="applyState != null  and applyState != ''">and `apply_state` = #{applyState}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="handlePerson != null  and handlePerson != ''">and `handle_person` = #{handlePerson}</if>
            <if test="topicCode != null  and topicCode != ''">and `topic_code` like concat('%', #{topicCode}, '%') </if>
            <if test="topicName != null  and topicName != ''">and `topic_name` like concat('%', #{topicName}, '%') </if>
            <if test="topicCurentNode != null  and topicCurentNode != ''">and `topic_curent_node` = #{topicCurentNode}
            </if>
            <if test="startEndDate != null  and startEndDate != ''">and `start_end_date` = #{startEndDate}</if>
            <if test="dutyPerson != null  and dutyPerson != ''">and `duty_person` = #{dutyPerson}</if>
            <if test="dutyPersonName != null  and dutyPersonName != ''">and `duty_person_name` = #{dutyPersonName}</if>
            <if test="togetherUnit != null  and togetherUnit != ''">and `together_unit` = #{togetherUnit}</if>
            <if test="togetherUnitOther != null  and togetherUnitOther != ''">and `together_unit_other` =
                #{togetherUnitOther}
            </if>
            <if test="rdCost != null ">and `rd_cost` = #{rdCost}</if>
            <if test="alreadyPayCost != null ">and `already_pay_cost` = #{alreadyPayCost}</if>
            <if test="leftCost != null ">and `left_cost` = #{leftCost}</if>
            <if test="writeInPerson != null  and writeInPerson != ''">and `write_in_person` = #{writeInPerson}</if>
            <if test="writeInPersonName != null  and writeInPersonName != ''">and `write_in_person_name` =
                #{writeInPersonName}
            </if>
            <if test="writeInPersonPhoneNum != null  and writeInPersonPhoneNum != ''">and `write_in_person_phone_num` =
                #{writeInPersonPhoneNum}
            </if>
            <if test="topicSummary != null  and topicSummary != ''">and `topic_summary` = #{topicSummary}</if>
            <if test="topicFileGroupId != null  and topicFileGroupId != ''">and `topic_file_group_id` =
                #{topicFileGroupId}
            </if>
            <if test="outlineFileGroupId != null  and outlineFileGroupId != ''">and `outline_file_group_id` =
                #{outlineFileGroupId}
            </if>
            <if test="contractFileGroupId != null  and contractFileGroupId != ''">and `contract_file_group_id` =
                #{contractFileGroupId}
            </if>
            <if test="inspectFileGroupId != null  and inspectFileGroupId != ''">and `inspect_file_group_id` =
                #{inspectFileGroupId}
            </if>
            <if test="acceptanceFileGroupId != null  and acceptanceFileGroupId != ''">and `acceptance_file_group_id` =
                #{acceptanceFileGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertSgsjTechnicalScienceTopic" useGeneratedKeys="true" keyProperty="id">
        insert into sgsj_technical_science_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="applyState != null  and applyState != ''">`apply_state`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
            <if test="handlePerson != null  and handlePerson != ''">`handle_person`,</if>
            <if test="topicCode != null  and topicCode != ''">`topic_code`,</if>
            <if test="topicName != null  and topicName != ''">`topic_name`,</if>
            <if test="topicCurentNode != null  and topicCurentNode != ''">`topic_curent_node`,</if>
            <if test="startEndDate != null  and startEndDate != ''">`start_end_date`,</if>
            <if test="dutyPerson != null  and dutyPerson != ''">`duty_person`,</if>
            <if test="dutyPersonName != null  and dutyPersonName != ''">`duty_person_name`,</if>
            <if test="togetherUnit != null  and togetherUnit != ''">`together_unit`,</if>
            <if test="togetherUnitOther != null  and togetherUnitOther != ''">`together_unit_other`,</if>
            <if test="rdCost != null ">`rd_cost`,</if>
            <if test="alreadyPayCost != null ">`already_pay_cost`,</if>
            <if test="leftCost != null ">`left_cost`,</if>
            <if test="writeInPerson != null  and writeInPerson != ''">`write_in_person`,</if>
            <if test="writeInPersonName != null  and writeInPersonName != ''">`write_in_person_name`,</if>
            <if test="writeInPersonPhoneNum != null  and writeInPersonPhoneNum != ''">`write_in_person_phone_num`,</if>
            <if test="topicSummary != null  and topicSummary != ''">`topic_summary`,</if>
            <if test="topicFileGroupId != null  and topicFileGroupId != ''">`topic_file_group_id`,</if>
            <if test="outlineFileGroupId != null  and outlineFileGroupId != ''">`outline_file_group_id`,</if>
            <if test="contractFileGroupId != null  and contractFileGroupId != ''">`contract_file_group_id`,</if>
            <if test="inspectFileGroupId != null  and inspectFileGroupId != ''">`inspect_file_group_id`,</if>
            <if test="acceptanceFileGroupId != null  and acceptanceFileGroupId != ''">`acceptance_file_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="applyState != null  and applyState != ''">#{applyState},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
            <if test="handlePerson != null  and handlePerson != ''">#{handlePerson},</if>
            <if test="topicCode != null  and topicCode != ''">#{topicCode},</if>
            <if test="topicName != null  and topicName != ''">#{topicName},</if>
            <if test="topicCurentNode != null  and topicCurentNode != ''">#{topicCurentNode},</if>
            <if test="startEndDate != null  and startEndDate != ''">#{startEndDate},</if>
            <if test="dutyPerson != null  and dutyPerson != ''">#{dutyPerson},</if>
            <if test="dutyPersonName != null  and dutyPersonName != ''">#{dutyPersonName},</if>
            <if test="togetherUnit != null  and togetherUnit != ''">#{togetherUnit},</if>
            <if test="togetherUnitOther != null  and togetherUnitOther != ''">#{togetherUnitOther},</if>
            <if test="rdCost != null ">#{rdCost},</if>
            <if test="alreadyPayCost != null ">#{alreadyPayCost},</if>
            <if test="leftCost != null ">#{leftCost},</if>
            <if test="writeInPerson != null  and writeInPerson != ''">#{writeInPerson},</if>
            <if test="writeInPersonName != null  and writeInPersonName != ''">#{writeInPersonName},</if>
            <if test="writeInPersonPhoneNum != null  and writeInPersonPhoneNum != ''">#{writeInPersonPhoneNum},</if>
            <if test="topicSummary != null  and topicSummary != ''">#{topicSummary},</if>
            <if test="topicFileGroupId != null  and topicFileGroupId != ''">#{topicFileGroupId},</if>
            <if test="outlineFileGroupId != null  and outlineFileGroupId != ''">#{outlineFileGroupId},</if>
            <if test="contractFileGroupId != null  and contractFileGroupId != ''">#{contractFileGroupId},</if>
            <if test="inspectFileGroupId != null  and inspectFileGroupId != ''">#{inspectFileGroupId},</if>
            <if test="acceptanceFileGroupId != null  and acceptanceFileGroupId != ''">#{acceptanceFileGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertSgsjTechnicalScienceTopic -->
    <insert id="insertSgsjTechnicalScienceTopicList">
        insert into sgsj_technical_science_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `apply_state`,
            `task_status`,
            `handle_person`,
            `topic_code`,
            `topic_name`,
            `topic_curent_node`,
            `start_end_date`,
            `duty_person`,
            `duty_person_name`,
            `together_unit`,
            `together_unit_other`,
            `rd_cost`,
            `already_pay_cost`,
            `left_cost`,
            `write_in_person`,
            `write_in_person_name`,
            `write_in_person_phone_num`,
            `topic_summary`,
            `topic_file_group_id`,
            `outline_file_group_id`,
            `contract_file_group_id`,
            `inspect_file_group_id`,
            `acceptance_file_group_id`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="sgsjTechnicalScienceTopicList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.applyState},
                #{item.taskStatus},
                #{item.handlePerson},
                #{item.topicCode},
                #{item.topicName},
                #{item.topicCurentNode},
                #{item.startEndDate},
                #{item.dutyPerson},
                #{item.dutyPersonName},
                #{item.togetherUnit},
                #{item.togetherUnitOther},
                #{item.rdCost},
                #{item.alreadyPayCost},
                #{item.leftCost},
                #{item.writeInPerson},
                #{item.writeInPersonName},
                #{item.writeInPersonPhoneNum},
                #{item.topicSummary},
                #{item.topicFileGroupId},
                #{item.outlineFileGroupId},
                #{item.contractFileGroupId},
                #{item.inspectFileGroupId},
                #{item.acceptanceFileGroupId},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateSgsjTechnicalScienceTopic">
        update sgsj_technical_science_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyState != null  and  applyState != ''">`apply_state` = #{applyState},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
            <if test="handlePerson != null  and  handlePerson != ''">`handle_person` = #{handlePerson},</if>
            <if test="topicCode != null  and  topicCode != ''">`topic_code` = #{topicCode},</if>
            <if test="topicName != null  and  topicName != ''">`topic_name` = #{topicName},</if>
            <if test="topicCurentNode != null  and  topicCurentNode != ''">`topic_curent_node` = #{topicCurentNode},
            </if>
            <if test="startEndDate != null  and  startEndDate != ''">`start_end_date` = #{startEndDate},</if>
            <if test="dutyPerson != null  and  dutyPerson != ''">`duty_person` = #{dutyPerson},</if>
            <if test="dutyPersonName != null  and  dutyPersonName != ''">`duty_person_name` = #{dutyPersonName},</if>
            <if test="togetherUnit != null  and  togetherUnit != ''">`together_unit` = #{togetherUnit},</if>
            <if test="togetherUnitOther != null  and  togetherUnitOther != ''">`together_unit_other` =
                #{togetherUnitOther},
            </if>
            <if test="rdCost != null ">`rd_cost` = #{rdCost},</if>
            <if test="alreadyPayCost != null ">`already_pay_cost` = #{alreadyPayCost},</if>
            <if test="leftCost != null ">`left_cost` = #{leftCost},</if>
            <if test="writeInPerson != null  and  writeInPerson != ''">`write_in_person` = #{writeInPerson},</if>
            <if test="writeInPersonName != null  and  writeInPersonName != ''">`write_in_person_name` =
                #{writeInPersonName},
            </if>
            <if test="writeInPersonPhoneNum != null  and  writeInPersonPhoneNum != ''">`write_in_person_phone_num` =
                #{writeInPersonPhoneNum},
            </if>
            <if test="topicSummary != null  and  topicSummary != ''">`topic_summary` = #{topicSummary},</if>
            <if test="topicFileGroupId != null  and  topicFileGroupId != ''">`topic_file_group_id` =
                #{topicFileGroupId},
            </if>
            <if test="outlineFileGroupId != null  and  outlineFileGroupId != ''">`outline_file_group_id` =
                #{outlineFileGroupId},
            </if>
            <if test="contractFileGroupId != null  and  contractFileGroupId != ''">`contract_file_group_id` =
                #{contractFileGroupId},
            </if>
            <if test="inspectFileGroupId != null  and  inspectFileGroupId != ''">`inspect_file_group_id` =
                #{inspectFileGroupId},
            </if>
            <if test="acceptanceFileGroupId != null  and  acceptanceFileGroupId != ''">`acceptance_file_group_id` =
                #{acceptanceFileGroupId},
            </if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateTaskStatus">
        update sgsj_technical_science_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyState != null  and  applyState != ''">`apply_state` = #{applyState},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
        </trim>
        <where>
            <if test="ptVar2 != null ">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar1 != null ">and `pt_var1` = #{ptVar1}</if>
        </where>
    </update>

    <update id="updateSgsjTechnicalScienceTopicList">
        update sgsj_technical_science_topic
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="apply_state  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.applyState}
                </foreach>
            </trim>
            <trim prefix="task_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.taskStatus}
                </foreach>
            </trim>
            <trim prefix="handle_person  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.handlePerson}
                </foreach>
            </trim>
            <trim prefix="topic_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.topicCode}
                </foreach>
            </trim>
            <trim prefix="topic_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.topicName}
                </foreach>
            </trim>
            <trim prefix="topic_curent_node  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.topicCurentNode}
                </foreach>
            </trim>
            <trim prefix="start_end_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.startEndDate}
                </foreach>
            </trim>
            <trim prefix="duty_person  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dutyPerson}
                </foreach>
            </trim>
            <trim prefix="duty_person_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dutyPersonName}
                </foreach>
            </trim>
            <trim prefix="together_unit  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.togetherUnit}
                </foreach>
            </trim>
            <trim prefix="together_unit_other  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.togetherUnitOther}
                </foreach>
            </trim>
            <trim prefix="rd_cost  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.rdCost}
                </foreach>
            </trim>
            <trim prefix="already_pay_cost  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.alreadyPayCost}
                </foreach>
            </trim>
            <trim prefix="left_cost  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.leftCost}
                </foreach>
            </trim>
            <trim prefix="write_in_person  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.writeInPerson}
                </foreach>
            </trim>
            <trim prefix="write_in_person_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.writeInPersonName}
                </foreach>
            </trim>
            <trim prefix="write_in_person_phone_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.writeInPersonPhoneNum}
                </foreach>
            </trim>
            <trim prefix="topic_summary  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.topicSummary}
                </foreach>
            </trim>
            <trim prefix="topic_file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.topicFileGroupId}
                </foreach>
            </trim>
            <trim prefix="outline_file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.outlineFileGroupId}
                </foreach>
            </trim>
            <trim prefix="contract_file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.contractFileGroupId}
                </foreach>
            </trim>
            <trim prefix="inspect_file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.inspectFileGroupId}
                </foreach>
            </trim>
            <trim prefix="acceptance_file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.acceptanceFileGroupId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <delete id="deleteById">
        update `sgsj_technical_science_topic` set del_flag = 1
        where `id` = #{id}
    </delete>

    <update id="deleteSgsjTechnicalScienceTopic">
        update `sgsj_technical_science_topic` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="applyState != null  and applyState != ''">and `apply_state` = #{applyState}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="handlePerson != null  and handlePerson != ''">and `handle_person` = #{handlePerson}</if>
            <if test="topicCode != null  and topicCode != ''">and `topic_code` = #{topicCode}</if>
            <if test="topicName != null  and topicName != ''">and `topic_name` = #{topicName}</if>
            <if test="topicCurentNode != null  and topicCurentNode != ''">and `topic_curent_node` = #{topicCurentNode}
            </if>
            <if test="startEndDate != null  and startEndDate != ''">and `start_end_date` = #{startEndDate}</if>
            <if test="dutyPerson != null  and dutyPerson != ''">and `duty_person` = #{dutyPerson}</if>
            <if test="dutyPersonName != null  and dutyPersonName != ''">and `duty_person_name` = #{dutyPersonName}</if>
            <if test="togetherUnit != null  and togetherUnit != ''">and `together_unit` = #{togetherUnit}</if>
            <if test="togetherUnitOther != null  and togetherUnitOther != ''">and `together_unit_other` =
                #{togetherUnitOther}
            </if>
            <if test="rdCost != null ">and `rd_cost` = #{rdCost}</if>
            <if test="alreadyPayCost != null ">and `already_pay_cost` = #{alreadyPayCost}</if>
            <if test="leftCost != null ">and `left_cost` = #{leftCost}</if>
            <if test="writeInPerson != null  and writeInPerson != ''">and `write_in_person` = #{writeInPerson}</if>
            <if test="writeInPersonName != null  and writeInPersonName != ''">and `write_in_person_name` =
                #{writeInPersonName}
            </if>
            <if test="writeInPersonPhoneNum != null  and writeInPersonPhoneNum != ''">and `write_in_person_phone_num` =
                #{writeInPersonPhoneNum}
            </if>
            <if test="topicSummary != null  and topicSummary != ''">and `topic_summary` = #{topicSummary}</if>
            <if test="topicFileGroupId != null  and topicFileGroupId != ''">and `topic_file_group_id` =
                #{topicFileGroupId}
            </if>
            <if test="outlineFileGroupId != null  and outlineFileGroupId != ''">and `outline_file_group_id` =
                #{outlineFileGroupId}
            </if>
            <if test="contractFileGroupId != null  and contractFileGroupId != ''">and `contract_file_group_id` =
                #{contractFileGroupId}
            </if>
            <if test="inspectFileGroupId != null  and inspectFileGroupId != ''">and `inspect_file_group_id` =
                #{inspectFileGroupId}
            </if>
            <if test="acceptanceFileGroupId != null  and acceptanceFileGroupId != ''">and `acceptance_file_group_id` =
                #{acceptanceFileGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteSgsjTechnicalScienceTopicByPks">
        update `sgsj_technical_science_topic` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="sgsjTechnicalScienceTopicPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="getExportList" resultType="com.hhwy.sp.techManagement.sgsjTechnicalScienceTopic.domain.SgsjTechnicalScienceTopicDTO">
        SELECT
            *
        FROM
            sgsj_technical_science_topic a
                LEFT JOIN sgjs_achievement_award b ON a.id = b.foreign_id
                LEFT JOIN sgjs_authenticate_evaluate c ON a.id = c.foreign_id
    </select>
</mapper>