<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.common.mapper.CommonMapper">
    <update id="deleteByVersion">

        update ${tn}
        set del_flag = 1, valid = 0
        where version = #{version}

    </update>
    <select id="selectCanAdjust" resultType="java.lang.String">
        SELECT t.valid
        FROM ${tableName} AS t
        WHERE t.id = #{businessId}
    </select>

    <select id="selectCanAdjustOnly" resultType="java.lang.Long">
        select id
        from ${tableName} s
        where s.del_flag = 0
          AND s.version=(SELECT max(t.version)
                              FROM ${tableName} AS t
                              WHERE t.del_flag = 0)
        order by id desc
        limit 1
    </select>
    <select id="selectCanAdjustOnlyValid" resultType="java.lang.Long">
        select id
        from ${tableName} s
        where s.del_flag = 0
          AND s.version=(SELECT max(t.version)
                         FROM ${tableName} AS t
                         WHERE t.del_flag = 0 and t.valid = 1)
    </select>

    <update id="deleteDetailsByMainId">
        update ${tableName} set del_flag = 1 where main_id=#{mainId}
    </update>

    <select id="selectMaxVersion" resultType="java.math.BigDecimal">
        select ifnull(max(version), 1) from ${tableName} where del_flag = '0' and valid = '1' order by version desc
    </select>
    <select id="selectLessOrEqualAssignVersion" resultType="java.math.BigDecimal">
        select version
        from ${tableName}
        where del_flag = '0' and version &lt;= #{version}
        group by version
        order by version desc
        limit 1
    </select>
    <select id="selectMaxVersionByType" resultType="java.math.BigDecimal">
        select ifnull(max(version), 1) from ${tableName} where del_flag = '0' and valid = '1' and type = #{type} order by version desc;
    </select>
    <select id="selectLessOrEqualAssignVersionByType" resultType="java.math.BigDecimal">
        select version
        from ${tableName}
        where del_flag = '0' and version &lt;= #{version}
        and type = #{type}
        group by version
        order by version desc
        limit 1
    </select>
    <select id="getCountByVersion" resultType="java.lang.Integer">
        select count(*) from ${tableName} where del_flag = '0' and version = #{version}
    </select>
</mapper>