<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.group.mapper.QqchWorkGroupMemberMapper">

    <resultMap type="com.hhwy.pm.qqch.group.domain.QqchWorkGroupMember"
               id="QqchWorkGroupMemberResultMap">
        <result property="id" column="id"/>
        <result property="workGroupId" column="work_group_id"/>
        <result property="temporaryGroupDuty" column="temporary_group_duty"/>
        <result property="director" column="director"/>
        <result property="directorId" column="director_id"/>
        <result property="affiliatedUnit" column="affiliated_unit"/>
        <result property="postDuty" column="post_duty"/>
        <result property="planResponsibility" column="plan_responsibility"/>
        <result property="expertMember" column="expert_member"/>
        <result property="expertBusinessDirection" column="expert_business_direction"/>
        <result property="mobile" column="mobile"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>

    <select id="getQqchWorkGroupMember" resultMap="QqchWorkGroupMemberResultMap">
        select
        `id`
        ,`work_group_id`
        ,`temporary_group_duty`
        ,`director`
        ,`director_id`
        ,`affiliated_unit`
        ,`post_duty`
        ,`plan_responsibility`
        ,`expert_member`
        ,`expert_business_direction`
        ,`mobile`
        ,`wechat_id`
        ,`remark`
        ,`region_id`
        ,`region_name`
        ,`project_id`
        ,`project_name`
        ,`dept_id`
        ,`create_user`
        ,`create_user_name`
        ,`create_time`
        ,`update_user`
        ,`update_time`
        ,`del_user`
        ,`del_time`
        ,`del_flag`
        ,`pt_var1`
        ,`pt_var2`
        ,`pt_var3`
        ,`pt_var4`
        ,`pt_var5`
        from qqch_work_group_member
        <where>
            del_flag = '0'
            <if test="id != null ">and `id` = #{id}</if>
            <if test="workGroupId != null ">and `work_group_id` = #{workGroupId}</if>
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">and `temporary_group_duty` =
                #{temporaryGroupDuty}
            </if>
            <if test="director != null  and director != ''">and `director` = #{director}</if>
            <if test="directorId != null ">and `director_id` = #{directorId}</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''">and `affiliated_unit` = #{affiliatedUnit}</if>
            <if test="postDuty != null  and postDuty != ''">and `post_duty` = #{postDuty}</if>
            <if test="planResponsibility != null  and planResponsibility != ''">and `plan_responsibility` =
                #{planResponsibility}
            </if>
            <if test="expertMember != null  and expertMember != ''">and `expert_member` = #{expertMember}</if>
            <if test="expertBusinessDirection != null  and expertBusinessDirection != ''">and
                `expert_business_direction` = #{expertBusinessDirection}
            </if>
            <if test="mobile != null  and mobile != ''">and `mobile` = #{mobile}</if>
            <if test="wechatId != null  and wechatId != ''">and `wechat_id` = #{wechatId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getQqchWorkGroupMemberList" resultMap="QqchWorkGroupMemberResultMap">
        select
        `id`
        ,`work_group_id`
        ,`temporary_group_duty`
        ,`director`
        ,`director_id`
        ,`affiliated_unit`
        ,`post_duty`
        ,`plan_responsibility`
        ,`expert_member`
        ,`expert_business_direction`
        ,`mobile`
        ,`wechat_id`
        ,`remark`
        ,`region_id`
        ,`region_name`
        ,`project_id`
        ,`project_name`
        ,`dept_id`
        ,`create_user`
        ,`create_user_name`
        ,`create_time`
        ,`update_user`
        ,`update_time`
        ,`del_user`
        ,`del_time`
        ,`del_flag`
        ,`pt_var1`
        ,`pt_var2`
        ,`pt_var3`
        ,`pt_var4`
        ,`pt_var5`
        from qqch_work_group_member
        <where>
            del_flag = '0'
            <if test="id != null ">and `id` = #{id}</if>
            <if test="workGroupId != null ">and `work_group_id` = #{workGroupId}</if>
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">and `temporary_group_duty` =
                #{temporaryGroupDuty}
            </if>
            <if test="director != null  and director != ''">and `director` like concat('%' , #{director} , '%')</if>
            <if test="directorId != null ">and `director_id` = #{directorId}</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''">and `affiliated_unit` = #{affiliatedUnit}</if>
            <if test="postDuty != null  and postDuty != ''">and `post_duty` = #{postDuty}</if>
            <if test="planResponsibility != null  and planResponsibility != ''">and `plan_responsibility` =
                #{planResponsibility}
            </if>
            <if test="expertMember != null  and expertMember != ''">and `expert_member` = #{expertMember}</if>
            <if test="expertBusinessDirection != null  and expertBusinessDirection != ''">and
                `expert_business_direction` = #{expertBusinessDirection}
            </if>
            <if test="mobile != null  and mobile != ''">and `mobile` = #{mobile}</if>
            <if test="wechatId != null  and wechatId != ''">and `wechat_id` = #{wechatId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getWorkGroupMemberHistory" resultMap="QqchWorkGroupMemberResultMap">
        select
            `id`
             ,`work_group_id`
             ,`temporary_group_duty`
             ,`director`
             ,`director_id`
             ,`affiliated_unit`
             ,`post_duty`
             ,`plan_responsibility`
             ,`expert_member`
             ,`expert_business_direction`
             ,`mobile`
             ,`wechat_id`
             ,`remark`
             ,`region_id`
             ,`region_name`
             ,`project_id`
             ,`project_name`
             ,`dept_id`
             ,`create_user`
             ,`create_user_name`
             ,`create_time`
             ,`update_user`
             ,`update_time`
             ,`del_user`
             ,`del_time`
             ,`del_flag`
             ,`pt_var1`
             ,`pt_var2`
             ,`pt_var3`
             ,`pt_var4`
             ,`pt_var5`
        from qqch_work_group_member
        <where>
            del_flag = '0' and find_in_set(director_id,#{directorIds})
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">and `temporary_group_duty` =
                #{temporaryGroupDuty}
            </if>
            <if test="director != null  and director != ''">and `director` like concat('%' , #{director} , '%')</if>
        </where>
    </select>

    <insert id="insertQqchWorkGroupMember" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_work_group_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="workGroupId != null ">`work_group_id`,</if>
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">`temporary_group_duty`,</if>
            <if test="director != null  and director != ''">`director`,</if>
            <if test="directorId != null ">`director_id`,</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''">`affiliated_unit`,</if>
            <if test="postDuty != null  and postDuty != ''">`post_duty`,</if>
            <if test="planResponsibility != null  and planResponsibility != ''">`plan_responsibility`,</if>
            <if test="expertMember != null  and expertMember != ''">`expert_member`,</if>
            <if test="expertBusinessDirection != null  and expertBusinessDirection != ''">`expert_business_direction`,
            </if>
            <if test="mobile != null  and mobile != ''">`mobile`,</if>
            <if test="wechatId != null  and wechatId != ''">`wechat_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="workGroupId != null ">#{workGroupId},</if>
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">#{temporaryGroupDuty},</if>
            <if test="director != null  and director != ''">#{director},</if>
            <if test="directorId != null ">#{directorId},</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''">#{affiliatedUnit},</if>
            <if test="postDuty != null  and postDuty != ''">#{postDuty},</if>
            <if test="planResponsibility != null  and planResponsibility != ''">#{planResponsibility},</if>
            <if test="expertMember != null  and expertMember != ''">#{expertMember},</if>
            <if test="expertBusinessDirection != null  and expertBusinessDirection != ''">#{expertBusinessDirection},
            </if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="wechatId != null  and wechatId != ''">#{wechatId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchWorkGroupMember -->
    <insert id="insertQqchWorkGroupMemberList">
        insert into qqch_work_group_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `work_group_id`,
            `temporary_group_duty`,
            `director`,
            `director_id`,
            `affiliated_unit`,
            `post_duty`,
            `plan_responsibility`,
            `expert_member`,
            `expert_business_direction`,
            `mobile`,
            `wechat_id`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="qqchWorkGroupMemberList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.workGroupId},
                #{item.temporaryGroupDuty},
                #{item.director},
                #{item.directorId},
                #{item.affiliatedUnit},
                #{item.postDuty},
                #{item.planResponsibility},
                #{item.expertMember},
                #{item.expertBusinessDirection},
                #{item.mobile},
                #{item.wechatId},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchWorkGroupMember">
        update qqch_work_group_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="temporaryGroupDuty != null  and  temporaryGroupDuty != ''">`temporary_group_duty` =
                #{temporaryGroupDuty},
            </if>
            <if test="director != null  and  director != ''">`director` = #{director},</if>
            <if test="directorId != null ">`director_id` = #{directorId},</if>
            <if test="affiliatedUnit != null  and  affiliatedUnit != ''">`affiliated_unit` = #{affiliatedUnit},</if>
            <if test="postDuty != null  and  postDuty != ''">`post_duty` = #{postDuty},</if>
            <if test="planResponsibility != null  and  planResponsibility != ''">`plan_responsibility` =
                #{planResponsibility},
            </if>
            <if test="expertMember != null  and  expertMember != ''">`expert_member` = #{expertMember},</if>
            <if test="expertBusinessDirection != null  and  expertBusinessDirection != ''">`expert_business_direction` =
                #{expertBusinessDirection},
            </if>
            <if test="mobile != null  and  mobile != ''">`mobile` = #{mobile},</if>
            <if test="wechatId != null  and  wechatId != ''">`wechat_id` = #{wechatId},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchWorkGroupMemberList">
        update qqch_work_group_member
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="temporary_group_duty  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.temporaryGroupDuty}
                </foreach>
            </trim>
            <trim prefix="director  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.director}
                </foreach>
            </trim>
            <trim prefix="director_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.directorId}
                </foreach>
            </trim>
            <trim prefix="affiliated_unit  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.affiliatedUnit}
                </foreach>
            </trim>
            <trim prefix="post_duty  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.postDuty}
                </foreach>
            </trim>
            <trim prefix="plan_responsibility  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planResponsibility}
                </foreach>
            </trim>
            <trim prefix="expert_member  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.expertMember}
                </foreach>
            </trim>
            <trim prefix="expert_business_direction  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.expertBusinessDirection}
                </foreach>
            </trim>
            <trim prefix="mobile  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.mobile}
                </foreach>
            </trim>
            <trim prefix="wechat_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.wechatId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchWorkGroupMember">
        update `qqch_work_group_member` set del_flag = '1'
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="workGroupId != null ">and `work_group_id` = #{workGroupId}</if>
            <if test="temporaryGroupDuty != null  and temporaryGroupDuty != ''">and `temporary_group_duty` =
                #{temporaryGroupDuty}
            </if>
            <if test="director != null  and director != ''">and `director` = #{director}</if>
            <if test="directorId != null ">and `director_id` = #{directorId}</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''">and `affiliated_unit` = #{affiliatedUnit}</if>
            <if test="postDuty != null  and postDuty != ''">and `post_duty` = #{postDuty}</if>
            <if test="planResponsibility != null  and planResponsibility != ''">and `plan_responsibility` =
                #{planResponsibility}
            </if>
            <if test="expertMember != null  and expertMember != ''">and `expert_member` = #{expertMember}</if>
            <if test="expertBusinessDirection != null  and expertBusinessDirection != ''">and
                `expert_business_direction` = #{expertBusinessDirection}
            </if>
            <if test="mobile != null  and mobile != ''">and `mobile` = #{mobile}</if>
            <if test="wechatId != null  and wechatId != ''">and `wechat_id` = #{wechatId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteQqchWorkGroupMemberByPks">
        update `qqch_work_group_member` set del_flag = '1'
        <where>
            `id` in
            <foreach item="id" collection="qqchWorkGroupMemberPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>