<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sp.sgjsMeasure.sgjsEquipEntryRecord.sgjsEquipEntryRecord.mapper.SgjsEquipEntryRecordMapper">

    <resultMap id="SgjsEquipEntryRecordResultMap" type="com.hhwy.sp.sgjsMeasure.sgjsEquipEntryRecord.sgjsEquipEntryRecord.domain.SgjsEquipEntryRecord">
        <result property="id" column="id" />
        <result property="materialCode" column="material_code" />
        <result property="materialName" column="material_name" />
        <result property="materialSpec" column="material_spec" />
        <result property="categoryName" column="category_name" />
        <result property="categoryId" column="category_id" />
        <result property="entryDate" column="entry_date" />
        <result property="num" column="num" />
        <result property="source" column="source" />
        <result property="remark" column="remark" />
        <result property="actualNum" column="actual_num" />
        <result property="dataSource" column="data_source" />
        <result property="regionId" column="region_id" />
        <result property="regionName" column="region_name" />
        <result property="projectId" column="project_id" />
        <result property="projectName" column="project_name" />
        <result property="deptId" column="dept_id" />
        <result property="createUser" column="create_user" />
        <result property="createUserName" column="create_user_name" />
        <result property="createTime" column="create_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateTime" column="update_time" />
        <result property="delUser" column="del_user" />
        <result property="delTime" column="del_time" />
        <result property="delFlag" column="del_flag" />
        <result property="ptVar1" column="pt_var1" />
        <result property="ptVar2" column="pt_var2" />
        <result property="ptVar3" column="pt_var3" />
        <result property="ptVar4" column="pt_var4" />
        <result property="ptVar5" column="pt_var5" />
    </resultMap>
    <sql id="selectSgjsEquipEntryRecordVo">
        select
                                                            `id`
                                                         ,`material_code`
                                                         ,`material_name`
                                                         ,`material_spec`
                                                         ,`category_name`
                                                         ,`category_id`
                                                         ,`entry_date`
                                                         ,`num`
                                                         ,`source`
                                                         ,`remark`
                                                         ,`actual_num`
                                                         ,`data_source`
                                                         ,`region_id`
                                                         ,`region_name`
                                                         ,`project_id`
                                                         ,`project_name`
                                                         ,`dept_id`
                                                         ,`create_user`
                                                         ,`create_user_name`
                                                         ,`create_time`
                                                         ,`update_user`
                                                         ,`update_time`
                                                         ,`del_user`
                                                         ,`del_time`
                                                         ,`del_flag`
                                                         ,`pt_var1`
                                                         ,`pt_var2`
                                                         ,`pt_var3`
                                                         ,`pt_var4`
                                                         ,`pt_var5`
                                    from sgjs_equip_entry_record
    </sql>
    <select id="getSgjsEquipEntryRecord" resultMap="SgjsEquipEntryRecordResultMap">
        <include refid="selectSgjsEquipEntryRecordVo" />
        <where>
            del_flag = "0"
            <if test="id != null "> and `id` = #{id}</if>
            <if test="materialCode != null  and materialCode != ''"> and `material_code` = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and `material_name` = #{materialName}</if>
            <if test="materialSpec != null  and materialSpec != ''"> and `material_spec` = #{materialSpec}</if>
            <if test="categoryName != null  and categoryName != ''"> and `category_name` = #{categoryName}</if>
            <if test="categoryId != null "> and `category_id` = #{categoryId}</if>
            <if test="entryDate != null "> and `entry_date` = #{entryDate}</if>
            <if test="num != null "> and `num` = #{num}</if>
            <if test="source != null  and source != ''"> and `source` = #{source}</if>
            <if test="remark != null  and remark != ''"> and `remark` = #{remark}</if>
            <if test="actualNum != null "> and `actual_num` = #{actualNum}</if>
            <if test="dataSource != null  and dataSource != ''"> and `data_source` = #{dataSource}</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and `region_name` = #{regionName}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and `project_name` = #{projectName}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null "> and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateTime != null "> and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''"> and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getSgjsEquipEntryRecordList" resultMap="SgjsEquipEntryRecordResultMap">
        <include refid="selectSgjsEquipEntryRecordVo" />
        <where>
            del_flag = "0"
            <if test="id != null "> and `id` = #{id}</if>
            <if test="materialCode != null  and materialCode != ''"> and `material_code` = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and `material_name` = #{materialName}</if>
            <if test="materialSpec != null  and materialSpec != ''"> and `material_spec` = #{materialSpec}</if>
            <if test="categoryName != null  and categoryName != ''"> and `category_name` = #{categoryName}</if>
            <if test="categoryId != null "> and `category_id` = #{categoryId}</if>
            <if test="entryDate != null "> and `entry_date` = #{entryDate}</if>
            <if test="num != null "> and `num` = #{num}</if>
            <if test="source != null  and source != ''"> and `source` = #{source}</if>
            <if test="remark != null  and remark != ''"> and `remark` = #{remark}</if>
            <if test="actualNum != null "> and `actual_num` = #{actualNum}</if>
            <if test="dataSource != null  and dataSource != ''"> and `data_source` = #{dataSource}</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and `region_name` = #{regionName}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and `project_name` = #{projectName}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null "> and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateTime != null "> and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''"> and `pt_var5` = #{ptVar5}</if>
            <if test="entryDateBegin != null"> and `entry_date` &gt;= #{entryDateBegin}</if>
            <if test="entryDateEnd != null"> and `entry_date` &lt;= #{entryDateEnd}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertSgjsEquipEntryRecord"  useGeneratedKeys="true" keyProperty="id"  >
        insert into sgjs_equip_entry_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="materialCode != null  and materialCode != ''">`material_code`,</if>
            <if test="materialName != null  and materialName != ''">`material_name`,</if>
            <if test="materialSpec != null  and materialSpec != ''">`material_spec`,</if>
            <if test="categoryName != null  and categoryName != ''">`category_name`,</if>
            <if test="categoryId != null ">`category_id`,</if>
            <if test="entryDate != null ">`entry_date`,</if>
            <if test="num != null ">`num`,</if>
            <if test="source != null  and source != ''">`source`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="actualNum != null ">`actual_num`,</if>
            <if test="dataSource != null  and dataSource != ''">`data_source`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="materialCode != null  and materialCode != ''">#{materialCode},</if>
            <if test="materialName != null  and materialName != ''">#{materialName},</if>
            <if test="materialSpec != null  and materialSpec != ''">#{materialSpec},</if>
            <if test="categoryName != null  and categoryName != ''">#{categoryName},</if>
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="entryDate != null ">#{entryDate},</if>
            <if test="num != null ">#{num},</if>
            <if test="source != null  and source != ''">#{source},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="actualNum != null ">#{actualNum},</if>
            <if test="dataSource != null  and dataSource != ''">#{dataSource},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertSgjsEquipEntryRecord -->
    <insert id="insertSgjsEquipEntryRecordList" parameterType="list">
        insert into sgjs_equip_entry_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `material_code`,
            `material_name`,
            `material_spec`,
            `category_name`,
            `category_id`,
            `entry_date`,
            `num`,
            `source`,
            `remark`,
            `actual_num`,
            `data_source`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="sgjsEquipEntryRecordList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.materialCode},
                #{item.materialName},
                #{item.materialSpec},
                #{item.categoryName},
                #{item.categoryId},
                #{item.entryDate},
                #{item.num},
                #{item.source},
                #{item.remark},
                #{item.actualNum},
                #{item.dataSource},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateSgjsEquipEntryRecord">
        update sgjs_equip_entry_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="materialCode != null  and  materialCode != ''">`material_code` = #{materialCode},</if>
            <if test="materialName != null  and  materialName != ''">`material_name` = #{materialName},</if>
            <if test="materialSpec != null  and  materialSpec != ''">`material_spec` = #{materialSpec},</if>
            <if test="categoryName != null  and  categoryName != ''">`category_name` = #{categoryName},</if>
            <if test="categoryId != null ">`category_id` = #{categoryId},</if>
            <if test="entryDate != null ">`entry_date` = #{entryDate},</if>
            <if test="num != null ">`num` = #{num},</if>
            <if test="source != null  and  source != ''">`source` = #{source},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="actualNum != null ">`actual_num` = #{actualNum},</if>
            <if test="dataSource != null  and  dataSource != ''">`data_source` = #{dataSource},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null "> and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateSgjsEquipEntryRecordList">
        update sgjs_equip_entry_record
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="material_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.materialCode}
                </foreach>
            </trim>
            <trim prefix="material_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.materialName}
                </foreach>
            </trim>
            <trim prefix="material_spec  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.materialSpec}
                </foreach>
            </trim>
            <trim prefix="category_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.categoryName}
                </foreach>
            </trim>
            <trim prefix="category_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.categoryId}
                </foreach>
            </trim>
            <trim prefix="entry_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.entryDate}
                </foreach>
            </trim>
            <trim prefix="num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.num}
                </foreach>
            </trim>
            <trim prefix="source  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.source}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="actual_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.actualNum}
                </foreach>
            </trim>
            <trim prefix="data_source  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dataSource}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteSgjsEquipEntryRecord">
        update `sgjs_equip_entry_record` set del_flag = 1
        <where>
            <if test="id != null "> and `id` = #{id}</if>
            <if test="materialCode != null  and materialCode != ''"> and `material_code` = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and `material_name` = #{materialName}</if>
            <if test="materialSpec != null  and materialSpec != ''"> and `material_spec` = #{materialSpec}</if>
            <if test="categoryName != null  and categoryName != ''"> and `category_name` = #{categoryName}</if>
            <if test="categoryId != null "> and `category_id` = #{categoryId}</if>
            <if test="entryDate != null "> and `entry_date` = #{entryDate}</if>
            <if test="num != null "> and `num` = #{num}</if>
            <if test="source != null  and source != ''"> and `source` = #{source}</if>
            <if test="remark != null  and remark != ''"> and `remark` = #{remark}</if>
            <if test="actualNum != null "> and `actual_num` = #{actualNum}</if>
            <if test="dataSource != null  and dataSource != ''"> and `data_source` = #{dataSource}</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and `region_name` = #{regionName}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and `project_name` = #{projectName}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null "> and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateTime != null "> and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''"> and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteSgjsEquipEntryRecordByPks">
        update `sgjs_equip_entry_record` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="sgjsEquipEntryRecordPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <update id="bathUpdateByList" parameterType="list">
        update sgjs_equip_entry_record
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="actual_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.actualNum}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>