<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.safe.qqchSafeMostEnvirRiskList.mapper.QqchSafeMostEnvirRiskListDetailMapper">

    <resultMap type="com.hhwy.pm.qqch.preparation.safe.qqchSafeMostEnvirRiskList.domain.QqchSafeMostEnvirRiskListDetail"
               id="QqchSafeMostEnvirRiskListDetailResultMap">
        <result property="id" column="id"/>
        <result property="infoId" column="info_id"/>
        <result property="pollutionType" column="pollution_type"/>
        <result property="riskDes" column="risk_des"/>
        <result property="projectAboutWbs" column="project_about_wbs"/>
        <result property="controlMeasures" column="control_measures"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
    </resultMap>
    <sql id="selectQqchSafeMostEnvirRiskListDetailVo">
        select
                                                            `id`
                                                         ,`info_id`
                                                         ,`pollution_type`
                                                         ,`risk_des`
                                                         ,`project_about_wbs`
                                                         ,`control_measures`
                                                         ,`create_user`
                                                         ,`create_user_name`
                                                         ,`create_time`
                                                         ,`update_user`
                                                         ,`update_time`
                                                         ,`del_user`
                                                         ,`del_time`
                                                         ,`del_flag`
                                                         ,`pt_var1`
                                                         ,`pt_var2`
                                    from qqch_safe_most_envir_risk_list_detail
    </sql>
    <select id="getQqchSafeMostEnvirRiskListDetail" resultMap="QqchSafeMostEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeMostEnvirRiskListDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="pollutionType != null  and pollutionType != ''">and `pollution_type` = #{pollutionType}</if>
            <if test="riskDes != null  and riskDes != ''">and `risk_des` = #{riskDes}</if>
            <if test="projectAboutWbs != null  and projectAboutWbs != ''">and `project_about_wbs` = #{projectAboutWbs}
            </if>
            <if test="controlMeasures != null  and controlMeasures != ''">and `control_measures` = #{controlMeasures}
            </if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getQqchSafeMostEnvirRiskListDetailList" resultMap="QqchSafeMostEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeMostEnvirRiskListDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="pollutionType != null  and pollutionType != ''">and `pollution_type` = #{pollutionType}</if>
            <if test="riskDes != null  and riskDes != ''">and `risk_des` = #{riskDes}</if>
            <if test="projectAboutWbs != null  and projectAboutWbs != ''">and `project_about_wbs` = #{projectAboutWbs}
            </if>
            <if test="controlMeasures != null  and controlMeasures != ''">and `control_measures` = #{controlMeasures}
            </if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertQqchSafeMostEnvirRiskListDetail" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_safe_most_envir_risk_list_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="infoId != null ">`info_id`,</if>
            <if test="pollutionType != null  and pollutionType != ''">`pollution_type`,</if>
            <if test="riskDes != null  and riskDes != ''">`risk_des`,</if>
            <if test="projectAboutWbs != null  and projectAboutWbs != ''">`project_about_wbs`,</if>
            <if test="controlMeasures != null  and controlMeasures != ''">`control_measures`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="infoId != null ">#{infoId},</if>
            <if test="pollutionType != null  and pollutionType != ''">#{pollutionType},</if>
            <if test="riskDes != null  and riskDes != ''">#{riskDes},</if>
            <if test="projectAboutWbs != null  and projectAboutWbs != ''">#{projectAboutWbs},</if>
            <if test="controlMeasures != null  and controlMeasures != ''">#{controlMeasures},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchSafeMostEnvirRiskListDetail -->
    <insert id="insertQqchSafeMostEnvirRiskListDetailList">
        insert into qqch_safe_most_envir_risk_list_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `info_id`,
            `pollution_type`,
            `risk_des`,
            `project_about_wbs`,
            `control_measures`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
        </trim>
        values
        <foreach collection="qqchSafeMostEnvirRiskListDetailList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.infoId},
                #{item.pollutionType},
                #{item.riskDes},
                #{item.projectAboutWbs},
                #{item.controlMeasures},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchSafeMostEnvirRiskListDetail">
        update qqch_safe_most_envir_risk_list_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="infoId != null ">`info_id` = #{infoId},</if>
            <if test="pollutionType != null  and  pollutionType != ''">`pollution_type` = #{pollutionType},</if>
            <if test="riskDes != null  and  riskDes != ''">`risk_des` = #{riskDes},</if>
            <if test="projectAboutWbs != null  and  projectAboutWbs != ''">`project_about_wbs` = #{projectAboutWbs},
            </if>
            <if test="controlMeasures != null  and  controlMeasures != ''">`control_measures` = #{controlMeasures},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchSafeMostEnvirRiskListDetailList">
        update qqch_safe_most_envir_risk_list_detail
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="info_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.infoId}
                </foreach>
            </trim>
            <trim prefix="pollution_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.pollutionType}
                </foreach>
            </trim>
            <trim prefix="risk_des  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.riskDes}
                </foreach>
            </trim>
            <trim prefix="project_about_wbs  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectAboutWbs}
                </foreach>
            </trim>
            <trim prefix="control_measures  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.controlMeasures}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchSafeMostEnvirRiskListDetail">
        update `qqch_safe_most_envir_risk_list_detail` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="pollutionType != null  and pollutionType != ''">and `pollution_type` = #{pollutionType}</if>
            <if test="riskDes != null  and riskDes != ''">and `risk_des` = #{riskDes}</if>
            <if test="projectAboutWbs != null  and projectAboutWbs != ''">and `project_about_wbs` = #{projectAboutWbs}
            </if>
            <if test="controlMeasures != null  and controlMeasures != ''">and `control_measures` = #{controlMeasures}
            </if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
    </update>

    <update id="deleteQqchSafeMostEnvirRiskListDetailByPks">
        update `qqch_safe_most_envir_risk_list_detail` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchSafeMostEnvirRiskListDetailPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="getListByInfoIds" parameterType="list" resultMap="QqchSafeMostEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeMostEnvirRiskListDetailVo"></include>
        <where>
            del_flag = "0"
            <if test="infoIdList != null">
                and info_id in
                <foreach collection="infoIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <update id="deleteByInfoId">
        update `qqch_safe_most_envir_risk_list_detail` set del_flag = 1,del_user = #{delUser},del_time = #{delTime}
        <where>
            `info_id` = #{infoId}
        </where>
    </update>
</mapper>