<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.quality.emp.mapper.QqchEmpItemMapper">

    <resultMap type="com.hhwy.pm.qqch.preparation.quality.emp.domain.QqchEmpItem" id="QqchEmpItemResultMap">
        <result property="id" column="id"/>
        <result property="wbsId" column="wbs_id"/>
        <result property="wbsCode" column="wbs_code"/>
        <result property="checkCode" column="check_code"/>
        <result property="checkName" column="check_name"/>
        <result property="checkItem" column="check_item"/>
        <result property="stipulate" column="stipulate"/>
        <result property="checkMethod" column="check_method"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="storeFlag" column="store_flag"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="version" column="version"/>
        <result property="valid" column="valid"/>
        <result property="pid" column="pid"/>
        <result property="ancestorsWbsId" column="ancestors_wbs_id"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="sort" column="sort"/>
    </resultMap>
    <sql id="selectQqchEmpItemVo">
        select `id`
             , `wbs_id`
             , `wbs_code`
             , `check_code`
             , `check_name`
             , `check_item`
             , `stipulate`
             , `check_method`
             , `file_group_id`
             , `store_flag`
             , `remark`
             , `region_id`
             , `region_name`
             , `project_id`
             , `project_name`
             , `user_id`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `version`
             , `valid`
             , `pid`
             , `ancestors_wbs_id`
             , `pt_var5`
             , `sort`
        from qqch_emp_item
    </sql>
    <delete id="deleteByWbsCodeAndVersion">
        update
        qqch_emp_item
        SET
        del_flag = '1'
        WHERE
        wbs_code in
        <foreach item="item" collection="wbsCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and version = 1.0


    </delete>
    <select id="getQqchEmpItem" resultMap="QqchEmpItemResultMap">
        <include refid="selectQqchEmpItemVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="wbsId != null ">and `wbs_id` = #{wbsId}</if>
            <if test="wbsCode != null  and wbsCode != ''">and `wbs_code` = #{wbsCode}</if>
            <if test="checkCode != null  and checkCode != ''">and `check_code` = #{checkCode}</if>
            <if test="checkName != null  and checkName != ''">and `check_name` = #{checkName}</if>
            <if test="checkItem != null  and checkItem != ''">and `check_item` = #{checkItem}</if>
            <if test="stipulate != null  and stipulate != ''">and `stipulate` = #{stipulate}</if>
            <if test="checkMethod != null  and checkMethod != ''">and `check_method` = #{checkMethod}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="storeFlag != null  and storeFlag != ''">and `store_flag` = #{storeFlag}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="userId != null ">and `user_id` = #{userId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="version != null  and version != ''">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="pid != null  and pid != ''">and `pid` = #{pid}</if>
            <if test="ancestorsWbsId != null  and ancestorsWbsId != ''">and `ancestors_wbs_id` = #{ancestorsWbsId}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getQqchEmpItemList" resultMap="QqchEmpItemResultMap">
        <include refid="selectQqchEmpItemVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="wbsId != null ">and `wbs_id` = #{wbsId}</if>
            <if test="wbsCode != null  and wbsCode != ''">and `wbs_code` = #{wbsCode}</if>
            <if test="checkCode != null  and checkCode != ''">and `check_code` = #{checkCode}</if>
            <if test="checkName != null  and checkName != ''">and `check_name` = #{checkName}</if>
            <if test="checkItem != null  and checkItem != ''">and `check_item` = #{checkItem}</if>
            <if test="stipulate != null  and stipulate != ''">and `stipulate` = #{stipulate}</if>
            <if test="checkMethod != null  and checkMethod != ''">and `check_method` = #{checkMethod}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="storeFlag != null  and storeFlag != ''">and `store_flag` = #{storeFlag}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="userId != null ">and `user_id` = #{userId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="version != null  and version != ''">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="pid != null  and pid != ''">and `pid` = #{pid}</if>
            <if test="ancestorsWbsId != null  and ancestorsWbsId != ''">and `ancestors_wbs_id` = #{ancestorsWbsId}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertQqchEmpItem" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_emp_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="wbsId != null ">`wbs_id`,</if>
            <if test="wbsCode != null  and wbsCode != ''">`wbs_code`,</if>
            <if test="checkCode != null  and checkCode != ''">`check_code`,</if>
            <if test="checkName != null  and checkName != ''">`check_name`,</if>
            <if test="checkItem != null  and checkItem != ''">`check_item`,</if>
            <if test="stipulate != null  and stipulate != ''">`stipulate`,</if>
            <if test="checkMethod != null  and checkMethod != ''">`check_method`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="storeFlag != null  and storeFlag != ''">`store_flag`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="userId != null ">`user_id`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="version != null  and version != ''">`version`,</if>
            <if test="valid != null  and valid != ''">`valid`,</if>
            <if test="pid != null  and pid != ''">`pid`,</if>
            <if test="ancestorsWbsId != null  and ancestorsWbsId != ''">`ancestors_wbs_id`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="sort != null ">`sort`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="wbsId != null ">#{wbsId},</if>
            <if test="wbsCode != null  and wbsCode != ''">#{wbsCode},</if>
            <if test="checkCode != null  and checkCode != ''">#{checkCode},</if>
            <if test="checkName != null  and checkName != ''">#{checkName},</if>
            <if test="checkItem != null  and checkItem != ''">#{checkItem},</if>
            <if test="stipulate != null  and stipulate != ''">#{stipulate},</if>
            <if test="checkMethod != null  and checkMethod != ''">#{checkMethod},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="storeFlag != null  and storeFlag != ''">#{storeFlag},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="version != null  and version != ''">#{version},</if>
            <if test="valid != null  and valid != ''">#{valid},</if>
            <if test="pid != null  and pid != ''">#{pid},</if>
            <if test="ancestorsWbsId != null  and ancestorsWbsId != ''">#{ancestorsWbsId},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="sort != null ">#{sort},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchEmpItem -->
    <insert id="insertQqchEmpItemList">
        insert into qqch_emp_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `wbs_id`,
            `wbs_code`,
            `check_code`,
            `check_name`,
            `check_item`,
            `stipulate`,
            `check_method`,
            `file_group_id`,
            `store_flag`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `user_id`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `version`,
            `valid`,
            `pid`,
            `ancestors_wbs_id`,
            `pt_var5`,
            `sort`,
        </trim>
        values
        <foreach collection="qqchEmpItemList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.wbsId},
                #{item.wbsCode},
                #{item.checkCode},
                #{item.checkName},
                #{item.checkItem},
                #{item.stipulate},
                #{item.checkMethod},
                #{item.fileGroupId},
                #{item.storeFlag},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.userId},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.version},
                #{item.valid},
                #{item.pid},
                #{item.ancestorsWbsId},
                #{item.ptVar5},
                #{item.sort},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchEmpItem">
        update qqch_emp_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="wbsId != null ">`wbs_id` = #{wbsId},</if>
            <if test="wbsCode != null  and  wbsCode != ''">`wbs_code` = #{wbsCode},</if>
            <if test="checkCode != null  and  checkCode != ''">`check_code` = #{checkCode},</if>
            <if test="checkName != null  and  checkName != ''">`check_name` = #{checkName},</if>
            <if test="checkItem != null  and  checkItem != ''">`check_item` = #{checkItem},</if>
            <if test="stipulate != null  and  stipulate != ''">`stipulate` = #{stipulate},</if>
            <if test="checkMethod != null  and  checkMethod != ''">`check_method` = #{checkMethod},</if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="storeFlag != null  and  storeFlag != ''">`store_flag` = #{storeFlag},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="userId != null ">`user_id` = #{userId},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="version != null  and  version != ''">`version` = #{version},</if>
            <if test="valid != null  and  valid != ''">`valid` = #{valid},</if>
            <if test="pid != null  and  pid != ''">`pid` = #{pid},</if>
            <if test="ancestorsWbsId != null  and  ancestorsWbsId != ''">`ancestors_wbs_id` = #{ancestorsWbsId},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="sort != null ">`sort` = #{sort},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchEmpItemList">
        update qqch_emp_item
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="wbs_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.wbsId}
                </foreach>
            </trim>
            <trim prefix="wbs_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.wbsCode}
                </foreach>
            </trim>
            <trim prefix="check_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkCode}
                </foreach>
            </trim>
            <trim prefix="check_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkName}
                </foreach>
            </trim>
            <trim prefix="check_item  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkItem}
                </foreach>
            </trim>
            <trim prefix="stipulate  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.stipulate}
                </foreach>
            </trim>
            <trim prefix="check_method  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.checkMethod}
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.fileGroupId}
                </foreach>
            </trim>
            <trim prefix="store_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.storeFlag}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="user_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.userId}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="version  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.version}
                </foreach>
            </trim>
            <trim prefix="valid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.valid}
                </foreach>
            </trim>
            <trim prefix="pid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.pid}
                </foreach>
            </trim>
            <trim prefix="ancestors_wbs_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ancestorsWbsId}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
            <trim prefix="sort  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.sort}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchEmpItem">
        update `qqch_emp_item` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="wbsId != null ">and `wbs_id` = #{wbsId}</if>
            <if test="wbsCode != null  and wbsCode != ''">and `wbs_code` = #{wbsCode}</if>
            <if test="checkCode != null  and checkCode != ''">and `check_code` = #{checkCode}</if>
            <if test="checkName != null  and checkName != ''">and `check_name` = #{checkName}</if>
            <if test="checkItem != null  and checkItem != ''">and `check_item` = #{checkItem}</if>
            <if test="stipulate != null  and stipulate != ''">and `stipulate` = #{stipulate}</if>
            <if test="checkMethod != null  and checkMethod != ''">and `check_method` = #{checkMethod}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="storeFlag != null  and storeFlag != ''">and `store_flag` = #{storeFlag}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="userId != null ">and `user_id` = #{userId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="version != null  and version != ''">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="pid != null  and pid != ''">and `pid` = #{pid}</if>
            <if test="ancestorsWbsId != null  and ancestorsWbsId != ''">and `ancestors_wbs_id` = #{ancestorsWbsId}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null ">and `sort` = #{sort}</if>
        </where>
    </update>

    <update id="deleteQqchEmpItemByPks">
        update `qqch_emp_item` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchEmpItemPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>