<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.sbch.staffing.mapper.SbchStaffingSpecialInfoMapper">
    <resultMap type="com.hhwy.pm.qqch.preparation.sbch.staffing.domain.SbchStaffingSpecialInfo" id="SbchStaffingSpecialInfoResult">
        <result property="id"    column="id"    />
        <result property="formNo"    column="form_no"    />
        <result property="titleName"    column="title_name"    />
        <result property="versionNo"    column="version_no"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="fileGroupId"    column="file_group_id"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionName"    column="region_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="version" column="version"></result>
        <result property="valid" column="valid"></result>
        <result property="prjCode" column="prj_code"/>
    </resultMap>

    <sql id="selectSbchStaffingSpecialInfoVo">
        select `id`, `form_no`, `title_name`, `version_no`, `is_valid`, `create_user`, `create_time`, `create_user_name`, `update_user`, `update_time`,
        `update_user_name`, `del_user`, `del_time`, `del_flag`, `remark`, `file_group_id`, `pt_var1`, `pt_var2`, `pt_var3`, `project_id`, `project_name`,
         `region_id`, `region_name`, `dept_id` ,version,valid,prj_code
         from `sbch_staffing_special_info` special
    </sql>

    <select id="selectSbchStaffingSpecialInfoList" parameterType="com.hhwy.pm.qqch.preparation.sbch.staffing.domain.SbchStaffingSpecialInfo" resultMap="SbchStaffingSpecialInfoResult">
        SELECT
        special.`id`,
        special.`form_no`,
        special.`title_name`,
        special.`version_no`,
        special.`is_valid`,
        special.`create_user`,
        special.`create_time`,
        special.`create_user_name`,
        special.`update_user`,
        special.`update_time`,
        special.`update_user_name`,
        special.`del_user`,
        special.`del_time`,
        special.`del_flag`,
        special.`remark`,
        special.`file_group_id`,
        special.`pt_var1`,
        special.`pt_var2`,
        special.`pt_var3`,
        special.`project_id`,
        special.`project_name`,
        special.`region_id`,
        special.`region_name`,
        special.`dept_id`,
        special.version,
        special.valid,
        special.prj_code
        FROM
        `sbch_staffing_special_info` special
        <where>
            special.`del_flag` = 0
            <if test="formNo != null  and formNo != ''"> and special.`form_no` = #{formNo}</if>
            <if test="titleName != null  and titleName != ''"> and special.`title_name` like concat('%', #{titleName}, '%')</if>
            <if test="versionNo != null "> and special.`version_no` = #{versionNo}</if>
            <if test="isValid != null  and isValid != ''"> and special.`is_valid` = #{isValid}</if>
            <if test="createUser != null  and createUser != ''"> and special.`create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and special.`create_user_name` like concat('%', #{createUserName}, '%')</if>
            <if test="updateUser != null  and updateUser != ''"> and special.`update_user` = #{updateUser}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and special.`update_user_name` like concat('%', #{updateUserName}, '%')</if>
            <if test="delUser != null  and delUser != ''"> and special.`del_user` = #{delUser}</if>
            <if test="delTime != null "> and special.`del_time` = #{delTime}</if>
            <if test="fileGroupId != null  and fileGroupId != ''"> and special.`file_group_id` = #{fileGroupId}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and special.`pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and special.`pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and special.`pt_var3` = #{ptVar3}</if>
            <if test="projectId != null "> and special.`project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and special.`project_name` like concat('%', #{projectName}, '%')</if>
            <if test="regionId != null "> and special.`region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and special.`region_name` like concat('%', #{regionName}, '%')</if>
            <if test="deptId != null "> and special.`dept_id` = #{deptId}</if>
            <if test="version != null "> and special.`version` = #{version}</if>
            <if test="valid != null "> and special.`valid` = #{valid}</if>
            <if test="prjCode != null and prjCode != '' "> and special.`prj_code` = #{prjCode}</if>

            <if test="ids != null">
                and special.id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ${params.dataScope}
        order by special.`id` desc
    </select>
    
    <select id="selectSbchStaffingSpecialInfoById" parameterType="Long" resultMap="SbchStaffingSpecialInfoResult">
        <include refid="selectSbchStaffingSpecialInfoVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSbchStaffingSpecialInfo" parameterType="com.hhwy.pm.qqch.preparation.sbch.staffing.domain.SbchStaffingSpecialInfo">
        insert into `sbch_staffing_special_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="formNo != null">`form_no`,</if>
            <if test="titleName != null">`title_name`,</if>
            <if test="versionNo != null">`version_no`,</if>
            <if test="isValid != null">`is_valid`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="createUserName != null">`create_user_name`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="updateUserName != null">`update_user_name`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="fileGroupId != null">`file_group_id`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="projectName != null">`project_name`,</if>
            <if test="regionId != null">`region_id`,</if>
            <if test="regionName != null">`region_name`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="version != null">`version`,</if>
            <if test="valid != null">`valid`,</if>
            <if test="prjCode != null">`prj_code`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="formNo != null">#{formNo},</if>
            <if test="titleName != null">#{titleName},</if>
            <if test="versionNo != null">#{versionNo},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fileGroupId != null">#{fileGroupId},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="regionName != null">#{regionName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="version != null">#{version},</if>
            <if test="valid != null">#{valid},</if>
            <if test="prjCode != null">#{prjCode},</if>
         </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `sbch_staffing_special_info` (
                                                `id`,
                                                                `form_no`,
                                                                `title_name`,
                                                                `version_no`,
                                                                `is_valid`,
                                                                `create_user`,
                                                                `create_time`,
                                                                `create_user_name`,
                                                                `update_user`,
                                                                `update_time`,
                                                                `update_user_name`,
                                                                `del_user`,
                                                                `del_time`,
                                                                `del_flag`,
                                                                `remark`,
                                                                `file_group_id`,
                                                                `pt_var1`,
                                                                `pt_var2`,
                                                                `pt_var3`,
                                                                `project_id`,
                                                                `project_name`,
                                                                `region_id`,
                                                                `region_name`,
                                                                `dept_id`,
        `version`,
        `valid`,
        `prj_code`,
                                    )values
        <foreach collection="dataList" separator="," item="item" index="index" >
                                                #{item.id}
                                                                #{item.formNo}
                                                                #{item.titleName}
                                                                #{item.versionNo}
                                                                #{item.isValid}
                                                                #{item.createUser}
                                                                #{item.createTime}
                                                                #{item.createUserName}
                                                                #{item.updateUser}
                                                                #{item.updateTime}
                                                                #{item.updateUserName}
                                                                #{item.delUser}
                                                                #{item.delTime}
                                                                #{item.delFlag}
                                                                #{item.remark}
                                                                #{item.fileGroupId}
                                                                #{item.ptVar1}
                                                                #{item.ptVar2}
                                                                #{item.ptVar3}
                                                                #{item.projectId}
                                                                #{item.projectName}
                                                                #{item.regionId}
                                                                #{item.regionName}
                                                                #{item.deptId},
            #{item.version}
            #{item.valid},
            #{item.prjCode}
                                    </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `sbch_staffing_special_info`
        <trim prefix="set" suffixOverrides=",">
                                                                <trim prefix="form_no =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.formNo != null ">
                                when `id` = #{item.id} then #{item.formNo}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="title_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.titleName != null ">
                                when `id` = #{item.id} then #{item.titleName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="version_no =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.versionNo != null ">
                                when `id` = #{item.id} then #{item.versionNo}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="is_valid =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.isValid != null ">
                                when `id` = #{item.id} then #{item.isValid}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUser != null ">
                                when `id` = #{item.id} then #{item.createUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createTime != null ">
                                when `id` = #{item.id} then #{item.createTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUserName != null ">
                                when `id` = #{item.id} then #{item.createUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUser != null ">
                                when `id` = #{item.id} then #{item.updateUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateTime != null ">
                                when `id` = #{item.id} then #{item.updateTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUserName != null ">
                                when `id` = #{item.id} then #{item.updateUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delUser != null ">
                                when `id` = #{item.id} then #{item.delUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delTime != null ">
                                when `id` = #{item.id} then #{item.delTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_flag =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delFlag != null ">
                                when `id` = #{item.id} then #{item.delFlag}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="remark =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.remark != null ">
                                when `id` = #{item.id} then #{item.remark}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="file_group_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.fileGroupId != null ">
                                when `id` = #{item.id} then #{item.fileGroupId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var1 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar1 != null ">
                                when `id` = #{item.id} then #{item.ptVar1}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var2 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar2 != null ">
                                when `id` = #{item.id} then #{item.ptVar2}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var3 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar3 != null ">
                                when `id` = #{item.id} then #{item.ptVar3}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectId != null ">
                                when `id` = #{item.id} then #{item.projectId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectName != null ">
                                when `id` = #{item.id} then #{item.projectName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.regionId != null ">
                                when `id` = #{item.id} then #{item.regionId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.regionName != null ">
                                when `id` = #{item.id} then #{item.regionName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="dept_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.deptId != null ">
                                when `id` = #{item.id} then #{item.deptId}
                            </if>
                        </foreach>
                    </trim>
            <trim prefix="prj_code =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.prjCode != null ">
                        when `id` = #{item.id} then #{item.prjCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="version =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.version != null ">
                        when `id` = #{item.id} then #{item.version}
                    </if>
                </foreach>
            </trim>
            <trim prefix="valid =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.valid != null ">
                        when `id` = #{item.id} then #{item.valid}
                    </if>
                </foreach>
            </trim>
                                    </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateSbchStaffingSpecialInfo" parameterType="com.hhwy.pm.qqch.preparation.sbch.staffing.domain.SbchStaffingSpecialInfo">
        update `sbch_staffing_special_info`
        <trim prefix="SET" suffixOverrides=",">
            <if test="formNo != null">`form_no` = #{formNo},</if>
            <if test="titleName != null">`title_name` = #{titleName},</if>
            <if test="versionNo != null">`version_no` = #{versionNo},</if>
            <if test="isValid != null">`is_valid` = #{isValid},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="createUserName != null">`create_user_name` = #{createUserName},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="updateUserName != null">`update_user_name` = #{updateUserName},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="fileGroupId != null">`file_group_id` = #{fileGroupId},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="projectName != null">`project_name` = #{projectName},</if>
            <if test="regionId != null">`region_id` = #{regionId},</if>
            <if test="regionName != null">`region_name` = #{regionName},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="version != null">`version` = #{version},</if>
            <if test="valid != null">`valid` = #{valid},</if>
            <if test="prjCode != null">`prj_code` = #{prjCode},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSbchStaffingSpecialInfoById" parameterType="Long">
        update `sbch_staffing_special_info` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteSbchStaffingSpecialInfoByIds" parameterType="String">
        update `sbch_staffing_special_info` set del_flag = 1,del_user = #{delUser},del_time = #{delTime} where `id` in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>