<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sd.common.mapper.FlowInfoMapper">

    <select id="flowByTBNameAndId" resultType="com.hhwy.utils.common.CommonBaseEntity">
        SELECT
            process_instance_id instanceId,
            business_id businessId,
            taskId currentTaskId,
            taskNode nextNodeId, 
            name_ AS processTaskName,
            GROUP_CONCAT( ASSIGNEE_ ) AS processTaskManId,
            GROUP_CONCAT( taskId ) currentTaskId
        FROM
            (
                SELECT
                    a.process_instance_id,
                    a.business_id, 
                    b.id_ taskId,
                    b.name_,
                    b.task_def_key_ taskNode, 
                    b.ASSIGNEE_
                FROM
                    ( SELECT process_instance_id,business_id  FROM `opmp-flowable`.v_ft_act_business
                        WHERE business_table_name = #{tableName} AND business_id in
                        <foreach collection="businessIds" item="id" separator="," open="(" close=")">
                            #{id}
                        </foreach> AND tenant_key = #{tenantKey}
                    ) a
                    LEFT JOIN ( SELECT id_,PROC_INST_ID_, name_,task_def_key_,ASSIGNEE_ FROM `opmp-flowable`.v_act_ru_task ) b ON a.process_instance_id = b.PROC_INST_ID_
            ) c
        GROUP BY
            process_instance_id
    </select>

</mapper>