<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.warn.mapper.TWarnMapper">

    <resultMap type="com.hhwy.domain.base.system.warn.TWarn" id="TWarnResultMap">
        <result property="warnId" column="warn_id"/>
        <result property="businessId" column="business_id"/>
        <result property="warnItem" column="warn_item"/>
        <result property="warnItemId" column="warn_item_id"/>
        <result property="warnScopeType" column="warn_scope_type"/>
        <result property="warnScope" column="warn_scope"/>
        <result property="warnScopeName" column="warn_scope_name"/>
        <result property="warnContent" column="warn_content"/>
        <result property="warnStatus" column="warn_status"/>
        <result property="warnType" column="warn_type"/>
        <result property="warnUrl" column="warn_url"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="tenantKey" column="tenant_key"/>
    </resultMap>
    <sql id="selectTWarnVo">
        select `warn_id`
             ,`business_id`
             , `warn_item`
             , `warn_item_id`
             , `warn_scope_type`
             , `warn_scope`
             , `warn_scope_name`
             , `warn_content`
             , `warn_status`
             , `warn_type`
             , `warn_url`
             , `create_user`
             , `create_time`
             , `update_user`
             , `update_time`
             , `remark`
             , `tenant_key`
        from t_warn
    </sql>
    <select id="getTWarn" resultMap="TWarnResultMap">
        <include refid="selectTWarnVo"/>
        <where>
            del_flag = "0"
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnItem != null  and warnItem != ''">and `warn_item` = #{warnItem}</if>
            <if test="warnItemId != null  and warnItemId != ''">and `warn_item_id` = #{warnItemId}</if>
            <if test="warnScopeType != null  and warnScopeType != ''">and `warn_scope_type` = #{warnScopeType}</if>
            <if test="warnScope != null  and warnScope != ''">and `warn_scope` = #{warnScope}</if>
            <if test="warnScopeName != null  and warnScopeName != ''">and `warn_scope_name` = #{warnScopeName}</if>
            <if test="warnContent != null  and warnContent != ''">and `warn_content` = #{warnContent}</if>
            <if test="warnStatus != null  and warnStatus != ''">and `warn_status` = #{warnStatus}</if>
            <if test="warnType != null  and warnType != ''">and `warn_type` = #{warnType}</if>
            <if test="warnUrl != null  and warnUrl != ''">and `warn_url` = #{warnUrl}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="tenantKey != null  and tenantKey != ''">and `tenant_key` = #{tenantKey}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWarnById" resultMap="TWarnResultMap">
        <include refid="selectTWarnVo"/>
        where del_flag = '0' and warn_id = #{warnId}
    </select>

    <select id="getTWarnList" resultMap="TWarnResultMap">
        <include refid="selectTWarnVo"/>
        <where>
            del_flag = "0"
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnItem != null  and warnItem != ''">and `warn_item` = #{warnItem}</if>
            <if test="warnItemId != null  and warnItemId != ''">and `warn_item_id` = #{warnItemId}</if>
            <if test="warnScopeType != null  and warnScopeType != ''">and `warn_scope_type` = #{warnScopeType}</if>
            <if test="warnScope != null  and warnScope != ''">and `warn_scope` = #{warnScope}</if>
            <if test="warnScopeName != null  and warnScopeName != ''">and `warn_scope_name` = #{warnScopeName}</if>
            <if test="warnContent != null  and warnContent != ''">and `warn_content` = #{warnContent}</if>
            <if test="warnStatus != null  and warnStatus != ''">and `warn_status` = #{warnStatus}</if>
            <if test="warnType != null  and warnType != ''">and `warn_type` = #{warnType}</if>
            <if test="warnUrl != null  and warnUrl != ''">and `warn_url` = #{warnUrl}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="tenantKey != null  and tenantKey != ''">and `tenant_key` = #{tenantKey}</if>
        </where>
        order by create_time desc
    </select>
    <select id="selectWarnListForSelf" resultMap="TWarnResultMap">
        SELECT
        w.warn_id,
        w.business_id,
        w.warn_item,
        w.warn_item_id,
        cast(w.warn_content AS CHAR) AS warn_content,
        w.warn_scope_type,
        w.warn_scope,
        w.warn_scope_name,
        w.warn_status,
        w.warn_type,
        w.warn_url,
        w.tenant_key,
        w.create_user,
        w.create_time,
        w.update_user,
        w.update_time,
        w.remark,
        r.`status` handleStatus
        FROM
        t_warn w
        LEFT JOIN t_warn_record r ON w.warn_id = r.warn_id
        <where>
            w.tenant_key = #{tenantKey} AND
            (w.warn_scope_type = '1'
                OR (w.warn_scope_type = '2' AND FIND_IN_SET(#{params.deptId},w.warn_scope))
                OR (w.warn_scope_type = '3' AND FIND_IN_SET(#{params.userName},w.warn_scope))
                OR (w.warn_scope_type = '4' AND FIND_IN_SET(w.warn_scope,#{params.roleKeys})))
            <if test="handleStatus != null and handleStatus != ''">
                <if test="handleStatus == '0'.toString()">
                    AND (r.`status` IS NULL or r.`status` = '0' )
                </if>
                <if test="handleStatus != '0'.toString()">
                    AND r.`status` = #{handleStatus}
                </if>
            </if>
            <if test="warnItem != null  and warnItem != ''">and w.`warn_item` like concat('%' , #{warnItem} , '%')</if>
            <if test="warnScopeName != null  and warnScopeName != ''">and w.`warn_scope_name` like concat('%' , #{warnScopeName} , '%')</if>
            <if test="createTime != null ">and DATE_FORMAT( w.`create_time`, '%Y-%m-%d' ) = #{createTime}</if>
        </where>
        order by w.create_time desc
    </select>

    <insert id="insertTWarn" useGeneratedKeys="true" keyProperty="warnId">
        replace into t_warn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warnId != null ">`warn_id`,</if>
            <if test="businessId != null ">`business_id`,</if>
            <if test="warnItem != null  and warnItem != ''">`warn_item`,</if>
            <if test="warnItemId != null  and warnItemId != ''">`warn_item_id`,</if>
            <if test="warnScopeType != null  and warnScopeType != ''">`warn_scope_type`,</if>
            <if test="warnScope != null  and warnScope != ''">`warn_scope`,</if>
            <if test="warnScopeName != null  and warnScopeName != ''">`warn_scope_name`,</if>
            <if test="warnContent != null  and warnContent != ''">`warn_content`,</if>
            <if test="warnStatus != null  and warnStatus != ''">`warn_status`,</if>
            <if test="warnType != null  and warnType != ''">`warn_type`,</if>
            <if test="warnUrl != null  and warnUrl != ''">`warn_url`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="tenantKey != null  and tenantKey != ''">`tenant_key`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warnId != null ">#{warnId},</if>
            <if test="businessId != null ">#{businessId},</if>
            <if test="warnItem != null  and warnItem != ''">#{warnItem},</if>
            <if test="warnItemId != null  and warnItemId != ''">#{warnItemId},</if>
            <if test="warnScopeType != null  and warnScopeType != ''">#{warnScopeType},</if>
            <if test="warnScope != null  and warnScope != ''">#{warnScope},</if>
            <if test="warnScopeName != null  and warnScopeName != ''">#{warnScopeName},</if>
            <if test="warnContent != null  and warnContent != ''">#{warnContent},</if>
            <if test="warnStatus != null  and warnStatus != ''">#{warnStatus},</if>
            <if test="warnType != null  and warnType != ''">#{warnType},</if>
            <if test="warnUrl != null  and warnUrl != ''">#{warnUrl},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="tenantKey != null  and tenantKey != ''">#{tenantKey},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertTWarn -->
    <insert id="insertTWarnList">
        replace into t_warn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `warn_id`,
            `business_id`,
            `warn_item`,
            `warn_item_id`,
            `warn_scope_type`,
            `warn_scope`,
            `warn_scope_name`,
            `warn_content`,
            `warn_status`,
            `warn_type`,
            `warn_url`,
            `create_user`,
            `create_time`,
            `update_user`,
            `update_time`,
            `remark`,
            `tenant_key`,
        </trim>
        values
        <foreach collection="tWarnList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.warnId},
                #{item.businessId},
                #{item.warnItem},
                #{item.warnItemId},
                #{item.warnScopeType},
                #{item.warnScope},
                #{item.warnScopeName},
                #{item.warnContent},
                #{item.warnStatus},
                #{item.warnType},
                #{item.warnUrl},
                #{item.createUser},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.remark},
                #{item.tenantKey},
            </trim>
        </foreach>
    </insert>

    <update id="updateTWarn">
        update t_warn
        <trim prefix="SET" suffixOverrides=",">
            <if test="warnId != null ">`warn_id` = #{warnId},</if>
            <if test="warnItem != null  and  warnItem != ''">`warn_item` = #{warnItem},</if>
            <if test="warnItemId != null  and  warnItemId != ''">`warn_item_id` = #{warnItemId},</if>
            <if test="warnScopeType != null  and  warnScopeType != ''">`warn_scope_type` = #{warnScopeType},</if>
            <if test="warnScope != null  and  warnScope != ''">`warn_scope` = #{warnScope},</if>
            <if test="warnContent != null  and  warnContent != ''">`warn_content` = #{warnContent},</if>
            <if test="warnStatus != null  and  warnStatus != ''">`warn_status` = #{warnStatus},</if>
            <if test="warnType != null  and  warnType != ''">`warn_type` = #{warnType},</if>
            <if test="warnUrl != null  and  warnUrl != ''">`warn_url` = #{warnUrl},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="tenantKey != null  and  tenantKey != ''">`tenant_key` = #{tenantKey},</if>
        </trim>
        <where>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
        </where>
    </update>

    <update id="updateTWarnList">
        update t_warn
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="warn_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnId}
                </foreach>
            </trim>
            <trim prefix="warn_item  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnItem}
                </foreach>
            </trim>
            <trim prefix="warn_item_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnItemId}
                </foreach>
            </trim>
            <trim prefix="warn_scope_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnScopeType}
                </foreach>
            </trim>
            <trim prefix="warn_scope  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnScope}
                </foreach>
            </trim>
            <trim prefix="warn_content  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnContent}
                </foreach>
            </trim>
            <trim prefix="warn_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnStatus}
                </foreach>
            </trim>
            <trim prefix="warn_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnType}
                </foreach>
            </trim>
            <trim prefix="warn_url  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnUrl}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="tenant_key  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.tenantKey}
                </foreach>
            </trim>
        </trim>
        where `warn_id` in
        <foreach collection="warnIdList" index="index" item="item" separator="," open="(" close=")">
            #{item.warnId}
        </foreach>
    </update>

    <delete id="deleteTWarn">
        delete from `t_warn`
        <where>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnItem != null  and warnItem != ''">and `warn_item` = #{warnItem}</if>
            <if test="warnItemId != null  and warnItemId != ''">and `warn_item_id` = #{warnItemId}</if>
            <if test="warnScopeType != null  and warnScopeType != ''">and `warn_scope_type` = #{warnScopeType}</if>
            <if test="warnScope != null  and warnScope != ''">and `warn_scope` = #{warnScope}</if>
            <if test="warnContent != null  and warnContent != ''">and `warn_content` = #{warnContent}</if>
            <if test="warnStatus != null  and warnStatus != ''">and `warn_status` = #{warnStatus}</if>
            <if test="warnType != null  and warnType != ''">and `warn_type` = #{warnType}</if>
            <if test="warnUrl != null  and warnUrl != ''">and `warn_url` = #{warnUrl}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="tenantKey != null  and tenantKey != ''">and `tenant_key` = #{tenantKey}</if>
        </where>
    </delete>

    <delete id="deleteTWarnByPks">
        delete from `t_warn`
        <where>
            `warn_id` in
            <foreach item="warnId" collection="tWarnPkList" open="(" separator="," close=")">
                #{warnId}
            </foreach>
        </where>
    </delete>
</mapper>