<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.warn.mapper.TWarnRecordMapper">

    <resultMap type="com.hhwy.domain.base.system.warn.TWarnRecord" id="TWarnRecordResultMap">
        <result property="id" column="id"/>
        <result property="warnId" column="warn_id"/>
        <result property="warnUserId" column="warn_user_id"/>
        <result property="warnUserName" column="warn_user_name"/>
        <result property="status" column="status"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <sql id="selectTWarnRecordVo">
        select `id`
             , `warn_id`
             , `warn_user_id`
             , `warn_user_name`
             , `status`
             , `create_user`
             , `create_time`
             , `update_user`
             , `update_time`
             , `remark`
        from t_warn_record
    </sql>
    <select id="getTWarnRecord" resultMap="TWarnRecordResultMap">
        <include refid="selectTWarnRecordVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnUserId != null  and warnUserId != ''">and `warn_user_id` = #{warnUserId}</if>
            <if test="warnUserName != null  and warnUserName != ''">and `warn_user_name` = #{warnUserName}</if>
            <if test="status != null  and status != ''">and `status` = #{status}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getTWarnRecordList" resultMap="TWarnRecordResultMap">
        <include refid="selectTWarnRecordVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnUserId != null  and warnUserId != ''">and `warn_user_id` = #{warnUserId}</if>
            <if test="warnUserName != null  and warnUserName != ''">and `warn_user_name` = #{warnUserName}</if>
            <if test="status != null  and status != ''">and `status` = #{status}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertTWarnRecord" useGeneratedKeys="true" keyProperty="warn_id">
        insert into t_warn_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="warnId != null ">`warn_id`,</if>
            <if test="warnUserId != null  and warnUserId != ''">`warn_user_id`,</if>
            <if test="warnUserName != null  and warnUserName != ''">`warn_user_name`,</if>
            <if test="status != null  and status != ''">`status`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="warnId != null ">#{warnId},</if>
            <if test="warnUserId != null  and warnUserId != ''">#{warnUserId},</if>
            <if test="warnUserName != null  and warnUserName != ''">#{warnUserName},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertTWarnRecord -->
    <insert id="insertTWarnRecordList">
        insert into t_warn_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `warn_id`,
            `warn_user_id`,
            `warn_user_name`,
            `status`,
            `create_user`,
            `create_time`,
            `update_user`,
            `update_time`,
            `remark`,
        </trim>
        values
        <foreach collection="tWarnRecordList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.warnId},
                #{item.warnUserId},
                #{item.warnUserName},
                #{item.status},
                #{item.createUser},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.remark},
            </trim>
        </foreach>
    </insert>

    <update id="updateTWarnRecord">
        update t_warn_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="warnId != null ">`warn_id` = #{warnId},</if>
            <if test="warnUserId != null  and  warnUserId != ''">`warn_user_id` = #{warnUserId},</if>
            <if test="warnUserName != null  and  warnUserName != ''">`warn_user_name` = #{warnUserName},</if>
            <if test="status != null  and  status != ''">`status` = #{status},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
        </trim>
        <where>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
        </where>
    </update>

    <update id="updateTWarnRecordList">
        update t_warn_record
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="warn_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnId}
                </foreach>
            </trim>
            <trim prefix="warn_user_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnUserId}
                </foreach>
            </trim>
            <trim prefix="warn_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.warnUserName}
                </foreach>
            </trim>
            <trim prefix="status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.status}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `warn_id`=#{item.warnId} then #{item.remark}
                </foreach>
            </trim>
        </trim>
        where `warn_id` in
        <foreach collection="warnIdList" index="index" item="item" separator="," open="(" close=")">
            #{item.warnId}
        </foreach>
    </update>

    <delete id="deleteTWarnRecord">
        delete from `t_warn_record`
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="warnId != null ">and `warn_id` = #{warnId}</if>
            <if test="warnUserId != null  and warnUserId != ''">and `warn_user_id` = #{warnUserId}</if>
            <if test="warnUserName != null  and warnUserName != ''">and `warn_user_name` = #{warnUserName}</if>
            <if test="status != null  and status != ''">and `status` = #{status}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
        </where>
    </delete>

    <delete id="deleteTWarnRecordByPks">
        delete from `t_warn_record`
        <where>
            `warn_id` in
            <foreach item="warnId" collection="tWarnRecordPkList" open="(" separator="," close=")">
                #{warnId}
            </foreach>
        </where>
    </delete>
</mapper>