<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.safe.qqchSafeEnvirRiskList.mapper.QqchSafeEnvirRiskListDetailMapper">

    <resultMap type="com.hhwy.pm.qqch.preparation.safe.qqchSafeEnvirRiskList.domain.QqchSafeEnvirRiskListDetail"
               id="QqchSafeEnvirRiskListDetailResultMap">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="infoId" column="info_id"/>
        <result property="proProcess" column="pro_process"/>
        <result property="workContent" column="work_content"/>
        <result property="envriReason" column="envri_reason"/>
        <result property="frequency" column="frequency"/>
        <result property="envriImpact" column="envri_impact"/>
        <result property="isMostReason" column="is_most_reason"/>
        <result property="measure" column="measure"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
    </resultMap>
    <sql id="selectQqchSafeEnvirRiskListDetailVo">
        select
                                                            `id`
                                                            ,`pid`
                                                         ,`info_id`
                                                         ,`pro_process`
                                                         ,`work_content`
                                                         ,`envri_reason`
                                                         ,`frequency`
                                                         ,`envri_impact`
                                                         ,`is_most_reason`
                                                         ,`measure`
                                                         ,`create_user`
                                                         ,`create_user_name`
                                                         ,`create_time`
                                                         ,`update_user`
                                                         ,`update_time`
                                                         ,`del_user`
                                                         ,`del_time`
                                                         ,`del_flag`
                                                         ,`pt_var1`
                                                         ,`pt_var2`
                                    from qqch_safe_envir_risk_list_detail
    </sql>
    <select id="getQqchSafeEnvirRiskListDetail" resultMap="QqchSafeEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeEnvirRiskListDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="proProcess != null  and proProcess != ''">and `pro_process` = #{proProcess}</if>
            <if test="workContent != null  and workContent != ''">and `work_content` = #{workContent}</if>
            <if test="envriReason != null  and envriReason != ''">and `envri_reason` = #{envriReason}</if>
            <if test="frequency != null  and frequency != ''">and `frequency` = #{frequency}</if>
            <if test="envriImpact != null  and envriImpact != ''">and `envri_impact` = #{envriImpact}</if>
            <if test="isMostReason != null  and isMostReason != ''">and `is_most_reason` = #{isMostReason}</if>
            <if test="measure != null  and measure != ''">and `measure` = #{measure}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getQqchSafeEnvirRiskListDetailList" resultMap="QqchSafeEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeEnvirRiskListDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="proProcess != null  and proProcess != ''">and `pro_process` = #{proProcess}</if>
            <if test="workContent != null  and workContent != ''">and `work_content` = #{workContent}</if>
            <if test="envriReason != null  and envriReason != ''">and `envri_reason` = #{envriReason}</if>
            <if test="frequency != null  and frequency != ''">and `frequency` = #{frequency}</if>
            <if test="envriImpact != null  and envriImpact != ''">and `envri_impact` = #{envriImpact}</if>
            <if test="isMostReason != null  and isMostReason != ''">and `is_most_reason` = #{isMostReason}</if>
            <if test="measure != null  and measure != ''">and `measure` = #{measure}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertQqchSafeEnvirRiskListDetail" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_safe_envir_risk_list_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="pid != null ">`pid`,</if>
            <if test="infoId != null ">`info_id`,</if>
            <if test="proProcess != null  and proProcess != ''">`pro_process`,</if>
            <if test="workContent != null  and workContent != ''">`work_content`,</if>
            <if test="envriReason != null  and envriReason != ''">`envri_reason`,</if>
            <if test="frequency != null  and frequency != ''">`frequency`,</if>
            <if test="envriImpact != null  and envriImpact != ''">`envri_impact`,</if>
            <if test="isMostReason != null  and isMostReason != ''">`is_most_reason`,</if>
            <if test="measure != null  and measure != ''">`measure`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="infoId != null ">#{infoId},</if>
            <if test="proProcess != null  and proProcess != ''">#{proProcess},</if>
            <if test="workContent != null  and workContent != ''">#{workContent},</if>
            <if test="envriReason != null  and envriReason != ''">#{envriReason},</if>
            <if test="frequency != null  and frequency != ''">#{frequency},</if>
            <if test="envriImpact != null  and envriImpact != ''">#{envriImpact},</if>
            <if test="isMostReason != null  and isMostReason != ''">#{isMostReason},</if>
            <if test="measure != null  and measure != ''">#{measure},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchSafeEnvirRiskListDetail -->
    <insert id="insertQqchSafeEnvirRiskListDetailList">
        insert into qqch_safe_envir_risk_list_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `pid`,
            `info_id`,
            `pro_process`,
            `work_content`,
            `envri_reason`,
            `frequency`,
            `envri_impact`,
            `is_most_reason`,
            `measure`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
        </trim>
        values
        <foreach collection="qqchSafeEnvirRiskListDetailList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.pid},
                #{item.infoId},
                #{item.proProcess},
                #{item.workContent},
                #{item.envriReason},
                #{item.frequency},
                #{item.envriImpact},
                #{item.isMostReason},
                #{item.measure},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchSafeEnvirRiskListDetail">
        update qqch_safe_envir_risk_list_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="pid != null ">`pid` = #{pid},</if>
            <if test="infoId != null ">`info_id` = #{infoId},</if>
            <if test="proProcess != null  and  proProcess != ''">`pro_process` = #{proProcess},</if>
            <if test="workContent != null  and  workContent != ''">`work_content` = #{workContent},</if>
            <if test="envriReason != null  and  envriReason != ''">`envri_reason` = #{envriReason},</if>
            <if test="frequency != null  and  frequency != ''">`frequency` = #{frequency},</if>
            <if test="envriImpact != null  and  envriImpact != ''">`envri_impact` = #{envriImpact},</if>
            <if test="isMostReason != null  and  isMostReason != ''">`is_most_reason` = #{isMostReason},</if>
            <if test="measure != null  and  measure != ''">`measure` = #{measure},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchSafeEnvirRiskListDetailList">
        update qqch_safe_envir_risk_list_detail
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="pid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `pid`=#{item.pid} then #{item.pid}
                </foreach>
            </trim>
            <trim prefix="info_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.infoId}
                </foreach>
            </trim>
            <trim prefix="pro_process  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.proProcess}
                </foreach>
            </trim>
            <trim prefix="work_content  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.workContent}
                </foreach>
            </trim>
            <trim prefix="envri_reason  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.envriReason}
                </foreach>
            </trim>
            <trim prefix="frequency  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.frequency}
                </foreach>
            </trim>
            <trim prefix="envri_impact  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.envriImpact}
                </foreach>
            </trim>
            <trim prefix="is_most_reason  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.isMostReason}
                </foreach>
            </trim>
            <trim prefix="measure  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.measure}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchSafeEnvirRiskListDetail">
        update `qqch_safe_envir_risk_list_detail` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="infoId != null ">and `info_id` = #{infoId}</if>
            <if test="proProcess != null  and proProcess != ''">and `pro_process` = #{proProcess}</if>
            <if test="workContent != null  and workContent != ''">and `work_content` = #{workContent}</if>
            <if test="envriReason != null  and envriReason != ''">and `envri_reason` = #{envriReason}</if>
            <if test="frequency != null  and frequency != ''">and `frequency` = #{frequency}</if>
            <if test="envriImpact != null  and envriImpact != ''">and `envri_impact` = #{envriImpact}</if>
            <if test="isMostReason != null  and isMostReason != ''">and `is_most_reason` = #{isMostReason}</if>
            <if test="measure != null  and measure != ''">and `measure` = #{measure}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
        </where>
    </update>

    <update id="deleteQqchSafeEnvirRiskListDetailByPks">
        update `qqch_safe_envir_risk_list_detail` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchSafeEnvirRiskListDetailPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="getQqchSafeEnvirRiskListDetailListByInfoId" parameterType="list" resultMap="QqchSafeEnvirRiskListDetailResultMap">
        <include refid="selectQqchSafeEnvirRiskListDetailVo"></include>
        <where>
            del_flag = "0"
            <if test="infoIdList != null">
                and info_id in
                <foreach collection="infoIdList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <update id="deleteByInfoId">
        update `qqch_safe_envir_risk_list_detail` set del_flag = 1,del_user = #{delUser},del_time = #{delTime}
        <where>
            `info_id` = #{infoId}
        </where>
    </update>
</mapper>