<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.mapper.DeptMapper">

    <select id="selectRegionInfo" resultType="com.hhwy.domain.base.system.SysTreeUtil">
        SELECT
            dept_id as id,
            parent_id as pid,
            dept_name as  name,
            order_num as orderNum,
            dept_type as deptType
        FROM
            sys_dept
        WHERE
                del_flag = '0'
                AND dept_type = 'region'
           OR FIND_IN_SET(
                dept_id,(
                    SELECT
                        GROUP_CONCAT( ancestors )
                    FROM
                        sys_dept
                    WHERE
                        del_flag = '0'
                      AND dept_type = 'region'
                    GROUP BY
                        dept_type
                )
            )

    </select>

</mapper>