<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.mapper.UserMapper">
    <select id="selectByUserIds" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select * from sys_user where user_id in
        <foreach item="id" collection="userIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByIdCards" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select * from sys_user where id_card in
        <foreach item="id" collection="idCardList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectSysUserInfo" parameterType="com.hhwy.system.api.domain.SysUser" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select *
        from sys_user
        where del_flag = '0'
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        <if test="params != null and params.nickNameList != null and params.nickNameList.size() != 0">
            and nick_name in
            <foreach item="item" collection="params.nickNameList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="insertBathUser" keyProperty="id">
        insert into sys_user(dept_id, user_name, nick_name, email, phone_number,sex,id_card,
        password,status,pt_var_4,pt_var_5,create_time, del_flag,pt_var_1)
        values
        <foreach collection="list" item="info" separator=",">
            (#{info.deptId}, #{info.userName}, #{info.nickName}, #{info.email},
            #{info.phoneNumber}, #{info.sex},#{info.idCard},#{info.password},#{info.status},#{info.ptVar4},#{info.ptVar5},#{info.createTime},#{info.delFlag},#{info.ptVar1}  )
        </foreach>
    </insert>
    <insert id="insertSysUserList">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            dept_id,
            user_name,
            nick_name,
            user_type,
            email,
            avatar,
            phone_number,
            sex,
            id_card,
            password,
            status,
            create_user,
            remark,
            super_flag,
            tenant_key,
            create_time
        </trim>
        values
        <foreach collection="sysUserList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.userId},
                #{item.deptId},
                #{item.userName},
                #{item.nickName},
                #{item.userType},
                #{item.email},
                #{item.avatar},
                #{item.phoneNumber},
                #{item.sex},
                #{item.idCard},
                #{item.password},
                #{item.status},
                #{item.createUser},
                #{item.remark},
                #{item.superFlag},
                #{item.tenantKey},
                sysdate()
            </trim>
        </foreach>
    </insert>

    <update id="bathUpdate" parameterType="list">
        update `sys_user`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="phone_number =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.phoneNumber != null ">
                        when `user_id` = #{item.userId} then #{item.phoneNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="nick_name =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.nickName != null ">
                        when `user_id` = #{item.userId} then #{item.nickName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_name =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.userName != null ">
                        when `user_id` = #{item.userId} then #{item.userName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="id_card =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.idCard != null ">
                        when `user_id` = #{item.userId} then #{item.idCard}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var_5 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar5 != null ">
                        when `user_id` = #{item.userId} then #{item.ptVar5}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var_1 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar1 != null ">
                        when `user_id` = #{item.userId} then #{item.ptVar1}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.status != null ">
                        when `user_id` = #{item.userId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="password =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.password != null ">
                        when `user_id` = #{item.userId} then #{item.password}
                    </if>
                </foreach>
            </trim>
            <trim prefix="email =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.email != null ">
                        when `user_id` = #{item.userId} then #{item.email}
                    </if>
                </foreach>
            </trim>
            <trim prefix="dept_id =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.deptId != null ">
                        when `user_id` = #{item.userId} then #{item.deptId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var_4 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar4 != null ">
                        when `user_id` = #{item.userId} then #{item.ptVar4}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.updateTime != null ">
                        when `user_id` = #{item.userId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `user_id` = #{item.userId}
        </foreach>
    </update>

    <select id="select4AByUserNames" parameterType="map" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select * from sys_user where  del_flag='0'
        and user_name in
        <foreach item="item" collection="userNames.split(',')" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectBy4AList" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select * from sys_user where del_flag='0' and pt_var_5 in
        <foreach item="id" collection="fourAList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <select id="selectAllUser" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select * from sys_user where del_flag='0' and dept_id in
        <foreach item="item" collection="deptList" open="(" separator="," close=")">
            #{item.deptId}
        </foreach>
    </select>
    <select id="selectByRoleKeyList" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select u.user_id, u.dept_id, u.user_name, u.nick_name, u.user_type, u.tenant_key, u.email, u.phone_number, u.password, u.sex, u.id_card,
        u.status, u.del_flag, u.super_flag, u.login_ip, u.login_date, u.create_user, u.create_time, u.remark, u.pt_var_1, u.pt_var_2, u.pt_var_3, u.pt_var_4, u.pt_var_5
        FROM
        sys_user u,
        (select user_id from sys_user_role sur,sys_role sr where sur.role_id = sr.role_id
         <if test="tenantKey != null and tenantKey != ''">
             and sur.tenant_key = #{tenantKey}
         </if>
         and sur.role_id = sr.role_id and sr.role_key in
        <foreach item="roleKey" collection="roleKeyList" open="(" separator="," close=")">
            #{roleKey}
        </foreach>) uid
        where u.user_id = uid.user_id
    </select>

    <select id="selectUserIdByTenant" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        select user_id ,
               tenant_key
        FROM
        sys_user
        where tenant_key=#{tenantKey}
    </select>

    <select id="selectUserInfoByUserNameAndTenant" resultMap="com.hhwy.system.core.mapper.SysUserMapper.SysUserResult">
        SELECT
            *
        FROM
            sys_user
        WHERE
            del_flag = '0'
                AND tenant_key = #{tenantKey}
                AND FIND_IN_SET( user_name, #{userNames} )
    </select>
</mapper>