<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.mapper.RoleMapper">

	<resultMap type="com.hhwy.system.api.domain.SysRole" id="SysRoleResult">
		<id     property="roleId"             column="role_id"               />
		<result property="roleName"           column="role_name"             />
		<result property="roleKey"            column="role_key"              />
		<result property="roleSort"           column="role_sort"             />
		<result property="dataScope"          column="data_scope"            />
		<result property="menuCheckStrictly"  column="menu_check_strictly"   />
		<result property="deptCheckStrictly"  column="dept_check_strictly"   />
		<result property="status"             column="status"                />
		<result property="delFlag"            column="del_flag"              />
		<result property="createUser"           column="create_user"             />
		<result property="createTime"         column="create_time"           />
		<result property="updateUser"           column="update_user"             />
		<result property="updateTime"         column="update_time"           />
		<result property="remark"             column="remark"                />
		<result property="ptVar1"       column="pt_var_1"       />
		<result property="ptVar2"       column="pt_var_2"       />
		<result property="ptVar3"       column="pt_var_3"       />
		<result property="ptVar4"       column="pt_var_4"       />
		<result property="ptVar5"       column="pt_var_5"       />
		<!--<collection  property="menuIds"       column="{roleId=role_id,menuCheckStrictly=menu_check_strictly}" select="com.hhwy.system.core.mapper.SysMenuMapper.selectMenuIdListByRoleId" />
		<collection  property="mistyMenuIds"  column="{roleId=role_id,menuCheckStrictly=menu_check_strictly}" select="com.hhwy.system.core.mapper.SysMenuMapper.selectMistyMenuIdListByRoleId" />
		<collection  property="deptIds"       column="{roleId=role_id,deptCheckStrictly=dept_check_strictly}" select="com.hhwy.system.core.mapper.SysDeptMapper.selectDeptIdListByRoleId" />-->
	</resultMap>

    <select id="selectRoleList" resultMap="SysRoleResult">
		select distinct r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.menu_check_strictly, r.dept_check_strictly,
			r.status, r.del_flag, r.create_time, r.remark, r.pt_var_1, r.pt_var_2, r.pt_var_3, r.pt_var_4, r.pt_var_5
		from sys_role r
		where r.del_flag = '0'
		<if test="role.roleName != null and role.roleName != ''">
			AND r.role_name like concat('%', #{role.roleName}, '%')
		</if>
		<if test="role.roleId != null">
			AND r.role_id = #{role.roleId}
		</if>
		<if test="role.status != null and role.status != ''">
			AND r.status = #{role.status}
		</if>
		<if test="role.roleKey != null and role.roleKey != ''">
			AND r.role_key like concat('%', #{role.roleKey}, '%')
		</if>
		<if test="role.params.beginTime != null and role.params.beginTime != ''"><!-- 开始时间检索 -->
			and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{role.params.beginTime},'%y%m%d')
		</if>
		<if test="role.params.endTime != null and role.params.endTime != ''"><!-- 结束时间检索 -->
			and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{role.params.endTime},'%y%m%d')
		</if>
		<if test="role.ptVar1 != null and role.ptVar1 != ''">
			AND pt_var_1 = #{role.ptVar1}
		</if>
		<if test="role.ptVar2 != null and role.ptVar2 != ''">
			AND pt_var_2 = #{role.ptVar2}
		</if>
		<if test="role.ptVar3 != null and role.ptVar3 != ''">
			AND pt_var_3 = #{role.ptVar3}
		</if>
		<if test="role.ptVar4 != null and role.ptVar4 != ''">
			AND pt_var_4 = #{role.ptVar4}
		</if>
		<if test="role.ptVar5 != null and role.ptVar5 != ''">
			AND pt_var_5 = #{role.ptVar5}
		</if>
		order by r.role_sort
	</select>

    <select id="selectRoleMenuList" resultType="com.hhwy.system.core.domain.SysRoleMenu">
		select  role_id as roleId,
				menu_id as menuId,
				misty_flag mistyFlag,
				tenant_key tenantKey
		from  sys_role_menu
		where  role_id=#{roleId} and  tenant_key=#{tenantKey}
	</select>
    <select id="selectRoleUserExit" resultType="com.hhwy.system.core.domain.SysUserRole">
		select  user_id as userId,
				role_id as roleId,
				tenant_key tenantKey
		from  sys_user_role
		where  user_id=#{userId} and role_id =#{roleId} and  tenant_key=#{tenantKey}
	</select>
	<delete id="deleteRoleUserExit">
		delete
		from `sys_user_role`
		where `role_id` = #{roleId} and tenant_key=#{tenantKey}
	</delete>



</mapper>
