<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.mapper.SysPmMapper">
	
	<resultMap type="com.hhwy.system.api.domain.SysDictData" id="SysDictDataResult">
		<id     property="dictDataId"   column="dict_data_id"   />
		<result property="parentId"   column="parent_id"   />
		<result property="dictSort"   column="dict_sort"   />
		<result property="dictLabel"  column="dict_label"  />
		<result property="dictValue"  column="dict_value"  />
		<result property="dictType"   column="dict_type"   />
		<result property="cssClass"   column="css_class"   />
		<result property="listClass"  column="list_class"  />
		<result property="isDefault"  column="is_default"  />
		<result property="status"     column="status"      />
		<result property="createUser"   column="create_user"   />
		<result property="createTime" column="create_time" />
		<result property="updateUser"   column="update_user"   />
		<result property="updateTime" column="update_time" />
		<result property="ptVar1"       column="pt_var_1"       />
		<result property="ptVar2"       column="pt_var_2"       />
		<result property="ptVar3"       column="pt_var_3"       />
		<result property="ptVar4"       column="pt_var_4"       />
		<result property="ptVar5"       column="pt_var_5"       />
	</resultMap>
	
	<sql id="selectDictDataVo">
        select dict_data_id, parent_id, dict_sort, dict_label, dict_value, dict_type, css_class, list_class, is_default, status, create_user, create_time, remark, pt_var_1, pt_var_2, pt_var_3, pt_var_4, pt_var_5
		from sys_dict_data
    </sql>


	<select id="selectDictValueByTypeAndLabel" resultMap="SysDictDataResult">
		<include refid="selectDictDataVo"/>
		where dict_type = #{dictType} and find_in_set(`dict_label`, #{dictLabels}) order by dict_sort asc
	</select>



	<select id="selectDbCount" resultType="int">
		select count(1)  from  ${db}.${table}
	</select>
	<select id="selectCountLogin" resultType="map">
		select   t.tenant_key as  tenantKey ,count(l.user_name) count  from   sys_tenant    t  left  JOIN   sys_logininfor l   on  t.tenant_key=l.tenant_key  and  l.user_name!='admin'  and  l.access_time >'2023-12-01 00:00:00'
		GROUP BY t.tenant_key;
	</select>
	<select id="selectAccountLogin" resultType="map">
		select tenant_key as  tenantKey, count(user_id) as count from    sys_user    GROUP BY tenant_key
	</select>
	<insert id="batchInsert">

		INSERT INTO `data_info`
		(
			`projectName`,
			`projectCode`,
			`loginCount`,

			`account`,
			`project`,
			`wbs`,
			`tuzhi`,

			`hetong`,
			`xiaozu`,
			`jihua`,
<!--			`bianzhi`,-->
<!--			`jieduan`,-->
<!--			`pingshen`,-->
			`nian`,
			`ji`,
			`yue`,
			`zhou`,
			`jindu`
		)
		VALUES
		<foreach collection="list" item="info" separator=",">
			(

			#{info.projectName},
			#{info.projectCode},
			#{info.loginCount},

			#{info.account},
			#{info.xmsl_project_basic_info},
			#{info.t_wbs_main},
			#{info.xmsl_draw_review},

			#{info.xmsl_contract_info},
			#{info.qqch_work_group},
			#{info.qqch_work_plan},
<!--			#{info.bianzhi},-->
<!--			#{info.jieduan},-->
<!--			#{info.pingshen},-->
			#{info.jdgl_year_plan},
			#{info.jdgl_quarter_plan},
			#{info.jdgl_month_plan},
			#{info.jdgl_week_plan},
			#{info.jdgl_day_schedule}
			)
		</foreach>


	</insert>
	<delete id="delete">

		delete from  `data_info`

	</delete>


	
</mapper> 