<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.sgch.dataShare.mapper.DataShareDevicePlanMapper">

    <select id="dataPush" parameterType="String">

        REPLACE INTO `data_share_ws`.sbch_equipment_allot SELECT *,  #{prjCode} FROM sbch_equipment_allot WHERE del_flag = '0' ORDER BY version  LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_allot_details
            (SELECT *,  #{prjCode} FROM sbch_equipment_allot_details WHERE del_flag = '0' AND main_id = (select id from sbch_equipment_allot WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational WHERE del_flag = '0' ORDER BY version  LIMIT 1;

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_bulk
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_bulk WHERE del_flag = '0' AND main_id IN
                                                                                                    (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_clearance
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_clearance WHERE del_flag = '0' AND main_id IN
                                                                                                         (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_clearance_details
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_clearance_details WHERE del_flag = '0' and main_id IN
                                                                                                                 (SELECT id FROM sbch_equipment_allot_transnational_clearance WHERE del_flag = '0' AND main_id IN
                                                                                                                                                                                                       (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1)));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_container
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_container WHERE del_flag = '0' and main_id IN
                                                                                                         (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_cost
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_cost WHERE del_flag = '0' and main_id IN
                                                                                                    (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_details
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_disassembly
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_disassembly WHERE del_flag = '0' and main_id IN
                                                                                                           (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_exit
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_exit WHERE del_flag = '0' and main_id IN
                                                                                                    (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_import
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_import WHERE del_flag = '0' and main_id IN
                                                                                                      (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_port
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_port WHERE del_flag = '0' and main_id IN
                                                                                                    (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_allot_transnational_technology
        SELECT *,  #{prjCode} FROM sbch_equipment_allot_transnational_technology WHERE del_flag = '0' and main_id IN
                                                                                                          (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_equipment_lease SELECT *,  #{prjCode} FROM sbch_equipment_lease WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_lease_details
        SELECT *,  #{prjCode} FROM sbch_equipment_lease_details WHERE del_flag = '0' AND main_id = (SELECT id FROM sbch_equipment_lease WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_local_purchase SELECT *,  #{prjCode} FROM sbch_equipment_local_purchase WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_local_purchase_details
        SELECT *,  #{prjCode} FROM sbch_equipment_local_purchase_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_local_purchase WHERE del_flag = '0' order by version desc LIMIT 1);


        REPLACE INTO `data_share_ws`.sbch_equipment_purchase SELECT *,  #{prjCode} FROM sbch_equipment_purchase WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_purchase_details
        SELECT *,  #{prjCode} FROM sbch_equipment_purchase_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_purchase WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_special SELECT *,  #{prjCode} FROM sbch_equipment_special WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_special_control_plan SELECT *,  #{prjCode} FROM sbch_equipment_special_control_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_special_control_plan_details
        SELECT *,  #{prjCode} FROM sbch_equipment_special_control_plan_details WHERE del_flag = '0' AND main_id = (SELECT id FROM sbch_equipment_special_control_plan WHERE del_flag = '0' order by version desc LIMIT 1);
        REPLACE INTO `data_share_ws`.sbch_equipment_special_details
        SELECT *,  #{prjCode} FROM sbch_equipment_special_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_special WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_special_plan SELECT *,  #{prjCode} FROM sbch_equipment_special_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_special_plan_details
        SELECT *,  #{prjCode} FROM sbch_equipment_special_plan_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_special_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_supplier SELECT *,  #{prjCode} FROM sbch_equipment_supplier WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_supplier_details
        SELECT *,  #{prjCode} FROM sbch_equipment_supplier_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_supplier WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_equipment_team SELECT *,  #{prjCode} FROM sbch_equipment_team WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_equipment_team_details
        SELECT *,  #{prjCode} FROM sbch_equipment_team_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_team WHERE del_flag = '0' order by version desc LIMIT 1);
        REPLACE INTO `data_share_ws`.sbch_equipment_team_details_details
        SELECT *,  #{prjCode} FROM sbch_equipment_team_details_details WHERE del_flag = '0' and main_id IN
                                                                                                (SELECT id FROM sbch_equipment_team_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_team WHERE del_flag = '0' order by version desc LIMIT 1));

        REPLACE INTO `data_share_ws`.sbch_import_customs_clear SELECT *,  #{prjCode} FROM sbch_import_customs_clear WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_import_customs_clear_detail
        SELECT *,  #{prjCode} FROM sbch_import_customs_clear_detail WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_import_customs_clear WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_import_inquiry SELECT *,  #{prjCode} FROM sbch_import_inquiry WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_import_inquiry_country
        SELECT *,  #{prjCode} FROM sbch_import_inquiry_country WHERE del_flag = '0' and inquiry_id = (SELECT id FROM sbch_import_inquiry WHERE del_flag = '0' order by version desc LIMIT 1);
        REPLACE INTO `data_share_ws`.sbch_import_inquiry_customs
        SELECT *,  #{prjCode} FROM sbch_import_inquiry_customs WHERE del_flag = '0' and inquiry_id = (SELECT id FROM sbch_import_inquiry WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_import_plan SELECT *,  #{prjCode} FROM sbch_import_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_import_plan_detail
        SELECT *,  #{prjCode} FROM sbch_import_plan_detail WHERE del_flag = '0' and plan_id = (SELECT id FROM sbch_import_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_material_manager SELECT *,  #{prjCode} FROM sbch_material_manager WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_material_manager_detail
        SELECT *,  #{prjCode} FROM sbch_material_manager_detail WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_material_manager WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_material_tran_plan SELECT *,  #{prjCode} FROM sbch_material_tran_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_material_tran_plan_detail
        SELECT *,  #{prjCode} FROM sbch_material_tran_plan_detail WHERE del_flag = '0' and plan_id = (SELECT id FROM sbch_material_tran_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_single_check SELECT *,  #{prjCode} FROM sbch_single_check WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_single_check_detail
        SELECT *,  #{prjCode} FROM sbch_single_check_detail WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_single_check WHERE del_flag = '0' order by version desc LIMIT 1);

        REPLACE INTO `data_share_ws`.sbch_staffing_detail
        SELECT *,  #{prjCode} FROM sbch_staffing_detail WHERE del_flag = '0' and staffing_id = (SELECT id FROM sbch_staffing_info WHERE del_flag = '0' order by version desc LIMIT 1);
        REPLACE INTO `data_share_ws`.sbch_staffing_info SELECT *,  #{prjCode} FROM sbch_staffing_info WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_staffing_special_detail
        SELECT *,  #{prjCode} FROM sbch_staffing_special_detail WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_staffing_special_info WHERE del_flag = '0' order by version desc LIMIT 1);
        REPLACE INTO `data_share_ws`.sbch_staffing_special_info SELECT *,  #{prjCode} FROM sbch_staffing_special_info WHERE del_flag = '0' order by version desc LIMIT 1;

        REPLACE INTO `data_share_ws`.sbch_total_demand_plan SELECT *,  #{prjCode} FROM sbch_total_demand_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        REPLACE INTO `data_share_ws`.sbch_total_demand_plan_detail
        SELECT *,  #{prjCode} FROM sbch_total_demand_plan_detail WHERE del_flag = '0' and plan_id = (SELECT id FROM sbch_total_demand_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_total_demand SELECT *,#{prjCode} FROM wzch_total_demand WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_total_demand_detail
        (SELECT *,#{prjCode} FROM wzch_total_demand_detail WHERE del_flag = '0' AND total_demand_id = (select id from wzch_total_demand WHERE del_flag = '0' order by version desc LIMIT 1));
        replace INTO `data_share_ws`.wzch_total_demand_time_count
		(select *,#{prjCode} from wzch_total_demand_time_count where total_demand_detail_id in (
            SELECT id FROM wzch_total_demand_detail WHERE del_flag = '0' AND total_demand_id = (select id from wzch_total_demand WHERE del_flag = '0' order by version desc LIMIT 1)));
        
        replace INTO `data_share_ws`.wzch_source SELECT *,#{prjCode} FROM wzch_source WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_source_detail
        (SELECT *,#{prjCode} FROM wzch_source_detail WHERE del_flag = '0' AND source_id = (select id from wzch_source WHERE del_flag = '0' order by version desc LIMIT 1));
        replace INTO `data_share_ws`.wzch_source_approach_year_count select *,#{prjCode} from wzch_source_approach_year_count where detail_id in
        (SELECT id FROM wzch_source_detail WHERE del_flag = '0' AND source_id = (select id from wzch_source WHERE del_flag = '0' order by version desc LIMIT 1));

        replace INTO `data_share_ws`.wzch_prior_approach SELECT *,#{prjCode} FROM wzch_prior_approach WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_prior_approach_detail
            (select *,#{prjCode} FROM wzch_prior_approach_detail where prior_approach_id = (SELECT id FROM wzch_prior_approach WHERE del_flag = '0' order by version desc LIMIT 1));
        replace INTO `data_share_ws`.wzch_prior_approach_year_count select *,#{prjCode} FROM wzch_prior_approach_year_count where detail_id in
	        (select id from wzch_prior_approach_detail where prior_approach_id = (SELECT id FROM wzch_prior_approach WHERE del_flag = '0' order by version desc LIMIT 1));

        replace INTO `data_share_ws`.wzch_purchase_supply SELECT *,#{prjCode} FROM wzch_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_purchase_supply_detail
            select *,#{prjCode} FROM wzch_purchase_supply_detail where purchase_supply_id =  (SELECT id FROM wzch_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1);
        replace INTO `data_share_ws`.wzch_purchase_supply_batch_detail
            select *,#{prjCode} FROM wzch_purchase_supply_batch_detail where purchase_supply_detail_id in (
            select id from wzch_purchase_supply_detail where purchase_supply_id =  (SELECT id FROM wzch_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1)) ;

        replace INTO `data_share_ws`.wzch_local_purchase_supply SELECT *,#{prjCode} FROM wzch_local_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_local_purchase_supply_detail
            select *,#{prjCode} FROM wzch_local_purchase_supply_detail where purchase_supply_id =  (SELECT id FROM wzch_local_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1);
        replace INTO `data_share_ws`.wzch_local_purchase_supply_batch_detail
            select *,#{prjCode} FROM wzch_local_purchase_supply_batch_detail where purchase_supply_detail_id in (
            select id from wzch_local_purchase_supply_detail where purchase_supply_id =  (SELECT id FROM wzch_local_purchase_supply WHERE del_flag = '0' order by version desc LIMIT 1)) ;

        replace INTO `data_share_ws`.wzch_revolve_rent SELECT *,#{prjCode} FROM wzch_revolve_rent WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_revolve_rent_detail
            select *,#{prjCode} FROM wzch_revolve_rent_detail where revolve_rent_id =  (SELECT id FROM wzch_revolve_rent WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_prior_purchase SELECT *,#{prjCode} FROM wzch_prior_purchase WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_prior_purchase_detail
            select *,#{prjCode} FROM wzch_prior_purchase_detail where prior_purchase_id = (SELECT id FROM wzch_prior_purchase WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_special_project SELECT *,#{prjCode} FROM wzch_special_project WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_special_project_detail
            select *,#{prjCode} FROM wzch_special_project_detail where special_project_id =  (SELECT id FROM wzch_special_project WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_fund SELECT *,#{prjCode} FROM wzch_fund WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_fund_detail
            select *,#{prjCode} FROM wzch_fund_detail where fund_id = (SELECT id FROM wzch_fund WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_import_export_survey SELECT *,#{prjCode} FROM wzch_import_export_survey WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_import_export_survey_country
            select *,#{prjCode} FROM wzch_import_export_survey_country where survey_id =  (SELECT id FROM wzch_import_export_survey WHERE del_flag = '0' order by version desc LIMIT 1);
        replace INTO `data_share_ws`.wzch_import_export_survey_customs
            select *,#{prjCode} FROM wzch_import_export_survey_customs where survey_id =  (SELECT id FROM wzch_import_export_survey WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_import_export_plan SELECT *,#{prjCode} FROM wzch_import_export_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_import_export_plan_detail
            select *,#{prjCode} FROM wzch_import_export_plan_detail where plan_id =  (SELECT id FROM wzch_import_export_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_special_material_plan SELECT *,#{prjCode} FROM wzch_special_material_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_special_material_plan_detail
            select *,#{prjCode} FROM wzch_special_material_plan_detail where plan_id =  (SELECT id FROM wzch_special_material_plan WHERE del_flag = '0' order by version desc LIMIT 1);
        replace INTO `data_share_ws`.wzch_special_material_request_detail
            select *,#{prjCode} FROM wzch_special_material_request_detail where plan_id =  (SELECT id FROM wzch_special_material_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_local_transport_plan SELECT *,#{prjCode} FROM wzch_local_transport_plan WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_local_transport_plan_detail
            select *,#{prjCode} FROM wzch_local_transport_plan_detail where plan_id =  (SELECT id FROM wzch_local_transport_plan WHERE del_flag = '0' order by version desc LIMIT 1);

        replace INTO `data_share_ws`.wzch_scene_manage SELECT *,#{prjCode} FROM wzch_scene_manage WHERE del_flag = '0' order by version desc LIMIT 1;
        replace INTO `data_share_ws`.wzch_scene_manage_detail
            select *,#{prjCode} FROM wzch_scene_manage_detail where scene_manage_id =  (SELECT id FROM wzch_scene_manage WHERE del_flag = '0' order by version desc LIMIT 1);

    </select>

    <update id="deleteByOneVersion">
        UPDATE `data_share_ws`.sbch_equipment_allot_details SET del_flag = '1' WHERE main_id = (select id from sbch_equipment_allot WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_equipment_allot SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_allot_transnational SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_bulk SET del_flag = '1' WHERE del_flag = '0' AND main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_clearance SET del_flag = '1' WHERE del_flag = '0' AND main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_clearance_details SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_clearance WHERE del_flag = '0' AND main_id IN
                                                                                                                                                                                                                      (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0)));
        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_container SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_cost SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_disassembly SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_exit SET del_flag = '1' WHERE del_flag = '0' and main_id IN
                                                                                                                   (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_import SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_port SET del_flag = '1' WHERE del_flag = '0' and main_id IN
         (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational_technology SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_allot_transnational_details WHERE del_flag = '0' and main_id = (select id from sbch_equipment_allot_transnational WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_equipment_lease SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_lease_details SET del_flag = '1' WHERE del_flag = '0' AND main_id = (SELECT id FROM sbch_equipment_lease WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_local_purchase SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_local_purchase_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_local_purchase WHERE del_flag = '0' AND version = 1.0);


        UPDATE `data_share_ws`.sbch_equipment_purchase SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_purchase_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_purchase WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_special SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_special_control_plan SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_special_control_plan_details SET del_flag = '1' WHERE del_flag = '0' AND main_id = (SELECT id FROM sbch_equipment_special_control_plan WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_equipment_special_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_special WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_special_plan SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_special_plan_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_special_plan WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_supplier SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_supplier_details SET del_flag = '1'  WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_supplier WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_equipment_team SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_equipment_team_details SET del_flag = '1' WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_team WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_equipment_team_details_details SET del_flag = '1' WHERE del_flag = '0' and main_id IN
        (SELECT id FROM sbch_equipment_team_details WHERE del_flag = '0' and main_id = (SELECT id FROM sbch_equipment_team WHERE del_flag = '0' AND version = 1.0));

        UPDATE `data_share_ws`.sbch_import_customs_clear SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_import_customs_clear_detail SET del_flag = '1' WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_import_customs_clear WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_import_inquiry SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_import_inquiry_country SET del_flag = '1' WHERE del_flag = '0' and inquiry_id in (SELECT id FROM sbch_import_inquiry WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_import_inquiry_customs SET del_flag = '1' WHERE del_flag = '0' and inquiry_id in (SELECT id FROM sbch_import_inquiry WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_import_plan SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_import_plan_detail SET del_flag = '1' WHERE del_flag = '0' and plan_id = (SELECT id FROM sbch_import_plan WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_material_manager SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_material_manager_detail SET del_flag = '1' WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_material_manager WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_material_tran_plan SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_material_tran_plan_detail SET del_flag = '1' WHERE del_flag = '0' and plan_id = (SELECT id FROM sbch_material_tran_plan WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_single_check SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_single_check_detail SET del_flag = '1' WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_single_check WHERE del_flag = '0' AND version = 1.0);

        UPDATE `data_share_ws`.sbch_staffing_detail SET del_flag = '1'WHERE del_flag = '0' and staffing_id = (SELECT id FROM sbch_staffing_info WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_staffing_info SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_staffing_special_detail SET del_flag = '1' WHERE del_flag = '0' and info_id = (SELECT id FROM sbch_staffing_special_info WHERE del_flag = '0' AND version = 1.0);
        UPDATE `data_share_ws`.sbch_staffing_special_info SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;

        UPDATE `data_share_ws`.sbch_total_demand_plan SET del_flag = '1' WHERE del_flag = '0' AND version = 1.0;
        UPDATE `data_share_ws`.sbch_total_demand_plan_detail SET del_flag = '1' WHERE del_flag = '0' and plan_id in (SELECT id FROM sbch_total_demand_plan WHERE del_flag = '0' AND version = 1.0);
</update>


    <update id="updateValidFlag">
        UPDATE `data_share_ws`.sbch_equipment_allot SET valid = '0' WHERE del_flag = '0';

        UPDATE `data_share_ws`.sbch_equipment_allot_transnational SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_lease SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_local_purchase SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_purchase SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_special SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.sbch_equipment_special_control_plan SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_special_plan SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_supplier SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_equipment_team SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_import_customs_clear SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_import_inquiry SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_import_plan SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_material_manager SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_material_tran_plan SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_single_check SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.sbch_staffing_info SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.sbch_staffing_special_info SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.sbch_total_demand_plan SET valid = '0' WHERE del_flag = '0' ;

        UPDATE `data_share_ws`.wzch_total_demand SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_total_demand_detail SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_total_demand_time_count SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_source SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_source_detail SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_source_approach_year_count SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_prior_approach SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_prior_approach_detail SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_purchase_supply SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_local_purchase_supply SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_revolve_rent SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_prior_purchase SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_special_project SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_fund SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_import_export_survey SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_import_export_plan SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_special_material_plan SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_local_transport_plan SET valid = '0' WHERE del_flag = '0' ;
        UPDATE `data_share_ws`.wzch_scene_manage SET valid = '0' WHERE del_flag = '0' ;
    </update>
</mapper>