<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.xmsl.contractInfo.mapper.XmslContractGeneralMapper">

    <resultMap type="com.hhwy.pm.xmsl.contractInfo.domain.XmslContractGeneral" id="XmslContractGeneralResultMap">
        <result property="id" column="id"/>
        <result property="masterId" column="master_id"/>
        <result property="pid" column="pid"/>
        <result property="ancestors" column="ancestors"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="sort" column="sort" />
    </resultMap>
    <sql id="selectXmslContractGeneralVo">
        select `id`
             , `master_id`
             , `pid`
             , `ancestors`
             , `code`
             , `name`
             , `content`
             , `file_group_id`
             , `remark`
             , `region_id`
             , `region_name`
             , `project_id`
             , `project_name`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `pt_var1`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
                ,`sort`
        from xmsl_contract_general
    </sql>
    <select id="getXmslContractGeneral" resultMap="XmslContractGeneralResultMap">
        <include refid="selectXmslContractGeneralVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="masterId != null ">and `master_id` = #{masterId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="ancestors != null  and ancestors != ''">and `ancestors` = #{ancestors}</if>
            <if test="code != null  and code != ''">and `code` = #{code}</if>
            <if test="name != null  and name != ''">and `name` = #{name}</if>
            <if test="content != null  and content != ''">and `content` = #{content}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null  and sort != ''"> and `sort` = #{sort}</if>
        </where>
#         order by create_time desc
    </select>

    <select id="getXmslContractGeneralList" resultMap="XmslContractGeneralResultMap">
        <include refid="selectXmslContractGeneralVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="masterId != null ">and `master_id` = #{masterId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="ancestors != null  and ancestors != ''">and `ancestors` = #{ancestors}</if>
            <if test="code != null  and code != ''">and `code` = #{code}</if>
            <if test="name != null  and name != ''">and `name` like concat('%' , #{name} , '%')</if>
            <if test="content != null  and content != ''">and `content` like concat('%' , #{content} , '%') </if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null  and sort != ''"> and `sort` = #{sort}</if>
            <if test="ids != null and ids.length>0">
                and id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertXmslContractGeneral" useGeneratedKeys="true" keyProperty="id">
        insert into xmsl_contract_general
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="masterId != null ">`master_id`,</if>
            <if test="pid != null ">`pid`,</if>
            <if test="ancestors != null  and ancestors != ''">`ancestors`,</if>
            <if test="code != null  and code != ''">`code`,</if>
            <if test="name != null  and name != ''">`name`,</if>
            <if test="content != null  and content != ''">`content`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="sort != null  and sort != ''">`sort`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="masterId != null ">#{masterId},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="ancestors != null  and ancestors != ''">#{ancestors},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="sort != null  and sort != ''">#{sort},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertXmslContractGeneral -->
    <insert id="insertXmslContractGeneralList">
        insert into xmsl_contract_general
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `master_id`,
            `pid`,
            `ancestors`,
            `code`,
            `name`,
            `content`,
            `file_group_id`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `sort`,
        </trim>
        values
        <foreach collection="xmslContractGeneralList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.masterId},
                #{item.pid},
                #{item.ancestors},
                #{item.code},
                #{item.name},
                #{item.content},
                #{item.fileGroupId},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.sort},
            </trim>
        </foreach>
    </insert>

    <update id="updateXmslContractGeneral">
        update xmsl_contract_general
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="masterId != null ">`master_id` = #{masterId},</if>
            <if test="pid != null ">`pid` = #{pid},</if>
            <if test="ancestors != null  and  ancestors != ''">`ancestors` = #{ancestors},</if>
            <if test="code != null  and  code != ''">`code` = #{code},</if>
            <if test="name != null  and  name != ''">`name` = #{name},</if>
            <if test="content != null  and  content != ''">`content` = #{content},</if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="sort != null  and  sort != ''">`sort` = #{sort},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateXmslContractGeneralList">
        update xmsl_contract_general
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.id != null ">
                    when `id`=#{item.id} then #{item.id}
                    </if>
                </foreach>
            </trim>
            <trim prefix="master_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.masterId != null ">
                    when `id`=#{item.id} then #{item.masterId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.pid != null ">
                    when `id`=#{item.id} then #{item.pid}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ancestors  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ancestors != null ">
                    when `id`=#{item.id} then #{item.ancestors}
                    </if>
                </foreach>
            </trim>
            <trim prefix="code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.code != null ">
                    when `id`=#{item.id} then #{item.code}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.name != null ">
                    when `id`=#{item.id} then #{item.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="content  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.content != null ">
                    when `id`=#{item.id} then #{item.content}
                    </if>
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.fileGroupId != null ">
                    when `id`=#{item.id} then #{item.fileGroupId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.remark != null ">
                    when `id`=#{item.id} then #{item.remark}
                    </if>
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.regionId != null ">
                    when `id`=#{item.id} then #{item.regionId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.regionName != null ">
                    when `id`=#{item.id} then #{item.regionName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.projectId != null ">
                    when `id`=#{item.id} then #{item.projectId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.projectName != null ">
                    when `id`=#{item.id} then #{item.projectName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.deptId != null ">
                    when `id`=#{item.id} then #{item.deptId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createUser != null ">
                    when `id`=#{item.id} then #{item.createUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createUserName != null ">
                    when `id`=#{item.id} then #{item.createUserName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.createTime != null ">
                    when `id`=#{item.id} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser != null ">
                    when `id`=#{item.id} then #{item.updateUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateTime != null ">
                    when `id`=#{item.id} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delUser != null ">
                    when `id`=#{item.id} then #{item.delUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delTime != null ">
                    when `id`=#{item.id} then #{item.delTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.delFlag != null ">
                    when `id`=#{item.id} then #{item.delFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar1 != null ">
                    when `id`=#{item.id} then #{item.ptVar1}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar2 != null ">
                    when `id`=#{item.id} then #{item.ptVar2}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar3 != null ">
                    when `id`=#{item.id} then #{item.ptVar3}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar4 != null ">
                    when `id`=#{item.id} then #{item.ptVar4}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ptVar5 != null ">
                    when `id`=#{item.id} then #{item.ptVar5}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.sort}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteXmslContractGeneral">
        update `xmsl_contract_general` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="masterId != null ">and `master_id` = #{masterId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="ancestors != null  and ancestors != ''">and `ancestors` = #{ancestors}</if>
            <if test="code != null  and code != ''">and `code` = #{code}</if>
            <if test="name != null  and name != ''">and `name` = #{name}</if>
            <if test="content != null  and content != ''">and `content` = #{content}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="sort != null  and sort != ''"> and `sort` = #{sort}</if>
        </where>
    </update>

    <update id="deleteXmslContractGeneralByPks">
        update `xmsl_contract_general` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="xmslContractGeneralPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>