<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sp.buildSchemeManage.review.mapper.SgjsBuildSchemeReviewMapper">

    <resultMap type="com.hhwy.sp.buildSchemeManage.review.domain.SgjsBuildSchemeReview"
               id="SgjsBuildSchemeReviewResultMap">
        <result property="id" column="id"/>
        <result property="relevancyId" column="relevancy_id"/>
        <result property="schemeNum" column="scheme_num"/>
        <result property="schemeName" column="scheme_name"/>
        <result property="relationWbsId" column="relation_wbs_id"/>
        <result property="relationWbsName" column="relation_wbs_name"/>
        <result property="schemeType" column="scheme_type"/>
        <result property="schemeLevel" column="scheme_level"/>
        <result property="dangerLevel" column="danger_level"/>
        <result property="planCompletionTime" column="plan_completion_time"/>
        <result property="planImplementTime" column="plan_implement_time"/>
        <result property="schemeCompilePrincipal" column="scheme_compile_principal"/>
        <result property="principalContactWay" column="principal_contact_way"/>
        <result property="schemeInitiatorName" column="scheme_initiator_name"/>
        <result property="schemeInitiatorId" column="scheme_initiator_id"/>
        <result property="submitDate" column="submit_date"/>
        <result property="schemeGroupId" column="scheme_group_id"/>
        <result property="auditRecordGroupId" column="audit_record_group_id"/>
        <result property="remark" column="remark"/>
        <result property="taskStatus" column="task_status"/>
        <result property="score" column="score"/>
        <result property="approvalTime" column="approval_time"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectCode" column="project_code"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="dismissed" column="dismissed"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>
    <sql id="selectSgjsBuildSchemeReviewVo">
        select `id`
             , `relevancy_id`
             , `scheme_num`
             , `scheme_name`
             , `relation_wbs_id`
             , `relation_wbs_name`
             , `scheme_type`
             , `scheme_level`
             , `danger_level`
             , `plan_completion_time`
             , `plan_implement_time`
             , `scheme_compile_principal`
             , `principal_contact_way`
             , `scheme_initiator_name`
             , `scheme_initiator_id`
             , `submit_date`
             , `scheme_group_id`
             , `audit_record_group_id`
             , `remark`
             , `task_status`
             , `score`
             , `approval_time`
             , `region_id`
             , `region_name`
             , `project_id`
             , `project_name`
             , `project_code`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `dismissed`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
        from sgjs_build_scheme_review
    </sql>
    <select id="getSgjsBuildSchemeReview" resultMap="SgjsBuildSchemeReviewResultMap">
        <include refid="selectSgjsBuildSchemeReviewVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="relevancyId != null ">and `relevancy_id` = #{relevancyId}</if>
            <if test="schemeNum != null  and schemeNum != ''">and `scheme_num` = #{schemeNum}</if>
            <if test="schemeName != null  and schemeName != ''">and `scheme_name` = #{schemeName}</if>
            <if test="relationWbsId != null  and relationWbsId != ''">and `relation_wbs_id` = #{relationWbsId}</if>
            <if test="relationWbsName != null  and relationWbsName != ''">and `relation_wbs_name` = #{relationWbsName}
            </if>
            <if test="schemeType != null  and schemeType != ''">and `scheme_type` = #{schemeType}</if>
            <if test="schemeLevel != null  and schemeLevel != ''">and `scheme_level` = #{schemeLevel}</if>
            <if test="dangerLevel != null  and dangerLevel != ''">and `danger_level` = #{dangerLevel}</if>
            <if test="planCompletionTime != null ">and `plan_completion_time` = #{planCompletionTime}</if>
            <if test="planImplementTime != null ">and `plan_implement_time` = #{planImplementTime}</if>
            <if test="schemeCompilePrincipal != null  and schemeCompilePrincipal != ''">and `scheme_compile_principal` =
                #{schemeCompilePrincipal}
            </if>
            <if test="principalContactWay != null  and principalContactWay != ''">and `principal_contact_way` =
                #{principalContactWay}
            </if>
            <if test="schemeInitiatorName != null  and schemeInitiatorName != ''">and `scheme_initiator_name` =
                #{schemeInitiatorName}
            </if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != ''">and `scheme_initiator_id` = #{schemeInitiatorId}</if>
            <if test="submitDate != null ">and `submit_date` = #{submitDate}</if>
            <if test="schemeGroupId != null  and schemeGroupId != ''">and `scheme_group_id` = #{schemeGroupId}</if>
            <if test="auditRecordGroupId != null  and auditRecordGroupId != ''">and `audit_record_group_id` =
                #{auditRecordGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="dismissed != null  and dismissed != ''">and `dismissed` = #{dismissed}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getSgjsBuildSchemeReviewList" resultMap="SgjsBuildSchemeReviewResultMap">
        <include refid="selectSgjsBuildSchemeReviewVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="relevancyId != null ">and `relevancy_id` = #{relevancyId}</if>
            <if test="schemeNum != null  and schemeNum != ''">and `scheme_num` = #{schemeNum}</if>
            <if test="schemeName != null  and schemeName != ''">and `scheme_name` = #{schemeName}</if>
            <if test="relationWbsId != null  and relationWbsId != ''">and `relation_wbs_id` = #{relationWbsId}</if>
            <if test="relationWbsName != null  and relationWbsName != ''">and `relation_wbs_name` = #{relationWbsName}
            </if>
            <if test="schemeType != null  and schemeType != ''">and `scheme_type` = #{schemeType}</if>
            <if test="schemeLevel != null  and schemeLevel != ''">and `scheme_level` = #{schemeLevel}</if>
            <if test="dangerLevel != null  and dangerLevel != ''">and `danger_level` = #{dangerLevel}</if>
            <if test="planCompletionTime != null ">and `plan_completion_time` = #{planCompletionTime}</if>
            <if test="planImplementTime != null ">and `plan_implement_time` = #{planImplementTime}</if>
            <if test="schemeCompilePrincipal != null  and schemeCompilePrincipal != ''">and `scheme_compile_principal` =
                #{schemeCompilePrincipal}
            </if>
            <if test="principalContactWay != null  and principalContactWay != ''">and `principal_contact_way` =
                #{principalContactWay}
            </if>
            <if test="schemeInitiatorName != null  and schemeInitiatorName != ''">and `scheme_initiator_name` =
                #{schemeInitiatorName}
            </if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != '' ">and `scheme_initiator_id` = #{schemeInitiatorId}</if>
            <if test="submitDate != null ">and `submit_date` = #{submitDate}</if>
            <if test="schemeGroupId != null  and schemeGroupId != ''">and `scheme_group_id` = #{schemeGroupId}</if>
            <if test="auditRecordGroupId != null  and auditRecordGroupId != ''">and `audit_record_group_id` =
                #{auditRecordGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">
                and `create_time` &gt;= #{createTime}
            </if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="dismissed != null  and dismissed != ''">and `dismissed` = #{dismissed}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getListByQueryVo" resultMap="SgjsBuildSchemeReviewResultMap">
        <include refid="selectSgjsBuildSchemeReviewVo"/>
        <where>
            del_flag = "0"
            <if test="schemeNum != null  and schemeNum != ''">and `scheme_num` like concat('%' , #{schemeNum} , '%')</if>
            <if test="schemeName != null  and schemeName != ''">and `scheme_name` like concat('%' , #{schemeName} , '%')</if>
            <if test="schemeLevel != null  and schemeLevel != ''">and `scheme_level` = #{schemeLevel}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getById" resultMap="SgjsBuildSchemeReviewResultMap">
        <include refid="selectSgjsBuildSchemeReviewVo"/>
        where id = #{id}
    </select>
    <select id="getListByIds" resultMap="SgjsBuildSchemeReviewResultMap">
        <include refid="selectSgjsBuildSchemeReviewVo"/>
        <where>
            del_flag = '0'
            <if test="ids != null and ids.size() > 0">
                and `id` in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertSgjsBuildSchemeReview" useGeneratedKeys="true" keyProperty="id">
        insert into sgjs_build_scheme_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="relevancyId != null ">`relevancy_id`,</if>
            <if test="schemeNum != null  and schemeNum != ''">`scheme_num`,</if>
            <if test="schemeName != null  and schemeName != ''">`scheme_name`,</if>
            <if test="relationWbsId != null  and relationWbsId != ''">`relation_wbs_id`,</if>
            <if test="relationWbsName != null  and relationWbsName != ''">`relation_wbs_name`,</if>
            <if test="schemeType != null  and schemeType != ''">`scheme_type`,</if>
            <if test="schemeLevel != null  and schemeLevel != ''">`scheme_level`,</if>
            <if test="dangerLevel != null  and dangerLevel != ''">`danger_level`,</if>
            <if test="planCompletionTime != null ">`plan_completion_time`,</if>
            <if test="planImplementTime != null ">`plan_implement_time`,</if>
            <if test="schemeCompilePrincipal != null  and schemeCompilePrincipal != ''">`scheme_compile_principal`,</if>
            <if test="principalContactWay != null  and principalContactWay != ''">`principal_contact_way`,</if>
            <if test="schemeInitiatorName != null  and schemeInitiatorName != ''">`scheme_initiator_name`,</if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != '' ">`scheme_initiator_id`,</if>
            <if test="submitDate != null ">`submit_date`,</if>
            <if test="schemeGroupId != null  and schemeGroupId != ''">`scheme_group_id`,</if>
            <if test="auditRecordGroupId != null  and auditRecordGroupId != ''">`audit_record_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="projectCode != null  and projectCode != ''">`project_code`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="dismissed != null  and dismissed != ''">`dismissed`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="relevancyId != null ">#{relevancyId},</if>
            <if test="schemeNum != null  and schemeNum != ''">#{schemeNum},</if>
            <if test="schemeName != null  and schemeName != ''">#{schemeName},</if>
            <if test="relationWbsId != null  and relationWbsId != ''">#{relationWbsId},</if>
            <if test="relationWbsName != null  and relationWbsName != ''">#{relationWbsName},</if>
            <if test="schemeType != null  and schemeType != ''">#{schemeType},</if>
            <if test="schemeLevel != null  and schemeLevel != ''">#{schemeLevel},</if>
            <if test="dangerLevel != null  and dangerLevel != ''">#{dangerLevel},</if>
            <if test="planCompletionTime != null ">#{planCompletionTime},</if>
            <if test="planImplementTime != null ">#{planImplementTime},</if>
            <if test="schemeCompilePrincipal != null  and schemeCompilePrincipal != ''">#{schemeCompilePrincipal},</if>
            <if test="principalContactWay != null  and principalContactWay != ''">#{principalContactWay},</if>
            <if test="schemeInitiatorName != null  and schemeInitiatorName != ''">#{schemeInitiatorName},</if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != '' ">#{schemeInitiatorId},</if>
            <if test="submitDate != null ">#{submitDate},</if>
            <if test="schemeGroupId != null  and schemeGroupId != ''">#{schemeGroupId},</if>
            <if test="auditRecordGroupId != null  and auditRecordGroupId != ''">#{auditRecordGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="projectCode != null  and projectCode != ''">#{projectCode},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="dismissed != null  and dismissed != ''">#{dismissed},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertSgjsBuildSchemeReview -->
    <insert id="insertSgjsBuildSchemeReviewList">
        insert into sgjs_build_scheme_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `relevancy_id`,
            `scheme_num`,
            `scheme_name`,
            `relation_wbs_id`,
            `relation_wbs_name`,
            `scheme_type`,
            `scheme_level`,
            `danger_level`,
            `plan_completion_time`,
            `plan_implement_time`,
            `scheme_compile_principal`,
            `principal_contact_way`,
            `scheme_initiator_name`,
            `scheme_initiator_id`,
            `submit_date`,
            `scheme_group_id`,
            `audit_record_group_id`,
            `remark`,
            `task_status`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `project_code`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `dismissed`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="sgjsBuildSchemeReviewList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.relevancyId},
                #{item.schemeNum},
                #{item.schemeName},
                #{item.relationWbsId},
                #{item.relationWbsName},
                #{item.schemeType},
                #{item.schemeLevel},
                #{item.dangerLevel},
                #{item.planCompletionTime},
                #{item.planImplementTime},
                #{item.schemeCompilePrincipal},
                #{item.principalContactWay},
                #{item.schemeInitiatorName},
                #{item.schemeInitiatorId},
                #{item.submitDate},
                #{item.schemeGroupId},
                #{item.auditRecordGroupId},
                #{item.remark},
                #{item.taskStatus},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.projectCode},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.dismissed},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateSgjsBuildSchemeReview">
        update sgjs_build_scheme_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="relevancyId != null ">`relevancy_id` = #{relevancyId},</if>
            <if test="schemeNum != null  and  schemeNum != ''">`scheme_num` = #{schemeNum},</if>
            <if test="schemeName != null  and  schemeName != ''">`scheme_name` = #{schemeName},</if>
            <if test="relationWbsId != null  and  relationWbsId != ''">`relation_wbs_id` = #{relationWbsId},</if>
            <if test="relationWbsName != null  and  relationWbsName != ''">`relation_wbs_name` = #{relationWbsName},
            </if>
            <if test="schemeType != null  and  schemeType != ''">`scheme_type` = #{schemeType},</if>
            <if test="schemeLevel != null  and  schemeLevel != ''">`scheme_level` = #{schemeLevel},</if>
            <if test="dangerLevel != null  and  dangerLevel != ''">`danger_level` = #{dangerLevel},</if>
            <if test="planCompletionTime != null ">`plan_completion_time` = #{planCompletionTime},</if>
            <if test="planImplementTime != null ">`plan_implement_time` = #{planImplementTime},</if>
            <if test="schemeCompilePrincipal != null  and  schemeCompilePrincipal != ''">`scheme_compile_principal` =
                #{schemeCompilePrincipal},
            </if>
            <if test="principalContactWay != null  and  principalContactWay != ''">`principal_contact_way` =
                #{principalContactWay},
            </if>
            <if test="schemeInitiatorName != null  and  schemeInitiatorName != ''">`scheme_initiator_name` =
                #{schemeInitiatorName},
            </if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != '' ">`scheme_initiator_id` = #{schemeInitiatorId},</if>
            <if test="submitDate != null ">`submit_date` = #{submitDate},</if>
            <if test="schemeGroupId != null  and  schemeGroupId != ''">`scheme_group_id` = #{schemeGroupId},</if>
            <if test="auditRecordGroupId != null  and  auditRecordGroupId != ''">`audit_record_group_id` =
                #{auditRecordGroupId},
            </if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="projectCode != null  and  projectCode != ''">`project_code` = #{projectCode},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="dismissed != null  and  dismissed != ''">`dismissed` = #{dismissed},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateSgjsBuildSchemeReviewList">
        update sgjs_build_scheme_review
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="relevancy_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.relevancyId}
                </foreach>
            </trim>
            <trim prefix="scheme_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeNum}
                </foreach>
            </trim>
            <trim prefix="scheme_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeName}
                </foreach>
            </trim>
            <trim prefix="relation_wbs_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.relationWbsId}
                </foreach>
            </trim>
            <trim prefix="relation_wbs_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.relationWbsName}
                </foreach>
            </trim>
            <trim prefix="scheme_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeType}
                </foreach>
            </trim>
            <trim prefix="scheme_level  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeLevel}
                </foreach>
            </trim>
            <trim prefix="danger_level  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dangerLevel}
                </foreach>
            </trim>
            <trim prefix="plan_completion_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planCompletionTime}
                </foreach>
            </trim>
            <trim prefix="plan_implement_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planImplementTime}
                </foreach>
            </trim>
            <trim prefix="scheme_compile_principal  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeCompilePrincipal}
                </foreach>
            </trim>
            <trim prefix="principal_contact_way  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.principalContactWay}
                </foreach>
            </trim>
            <trim prefix="scheme_initiator_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeInitiatorName}
                </foreach>
            </trim>
            <trim prefix="scheme_initiator_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeInitiatorId}
                </foreach>
            </trim>
            <trim prefix="submit_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.submitDate}
                </foreach>
            </trim>
            <trim prefix="scheme_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.schemeGroupId}
                </foreach>
            </trim>
            <trim prefix="audit_record_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.auditRecordGroupId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="project_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectCode}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="dismissed  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dismissed}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteSgjsBuildSchemeReview">
        update `sgjs_build_scheme_review` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="relevancyId != null ">and `relevancy_id` = #{relevancyId}</if>
            <if test="schemeNum != null  and schemeNum != ''">and `scheme_num` = #{schemeNum}</if>
            <if test="schemeName != null  and schemeName != ''">and `scheme_name` = #{schemeName}</if>
            <if test="relationWbsId != null  and relationWbsId != ''">and `relation_wbs_id` = #{relationWbsId}</if>
            <if test="relationWbsName != null  and relationWbsName != ''">and `relation_wbs_name` = #{relationWbsName}
            </if>
            <if test="schemeType != null  and schemeType != ''">and `scheme_type` = #{schemeType}</if>
            <if test="schemeLevel != null  and schemeLevel != ''">and `scheme_level` = #{schemeLevel}</if>
            <if test="dangerLevel != null  and dangerLevel != ''">and `danger_level` = #{dangerLevel}</if>
            <if test="planCompletionTime != null ">and `plan_completion_time` = #{planCompletionTime}</if>
            <if test="planImplementTime != null ">and `plan_implement_time` = #{planImplementTime}</if>
            <if test="schemeCompilePrincipal != null  and schemeCompilePrincipal != ''">and `scheme_compile_principal` =
                #{schemeCompilePrincipal}
            </if>
            <if test="principalContactWay != null  and principalContactWay != ''">and `principal_contact_way` =
                #{principalContactWay}
            </if>
            <if test="schemeInitiatorName != null  and schemeInitiatorName != ''">and `scheme_initiator_name` =
                #{schemeInitiatorName}
            </if>
            <if test="schemeInitiatorId != null and schemeInitiatorId != '' ">and `scheme_initiator_id` = #{schemeInitiatorId}</if>
            <if test="submitDate != null ">and `submit_date` = #{submitDate}</if>
            <if test="schemeGroupId != null  and schemeGroupId != ''">and `scheme_group_id` = #{schemeGroupId}</if>
            <if test="auditRecordGroupId != null  and auditRecordGroupId != ''">and `audit_record_group_id` =
                #{auditRecordGroupId}
            </if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="dismissed != null  and dismissed != ''">and `dismissed` = #{dismissed}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteSgjsBuildSchemeReviewByPks">
        update `sgjs_build_scheme_review` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="sgjsBuildSchemeReviewPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
    <delete id="deleteById">
        update `sgjs_build_scheme_review` set del_flag = 1
        where id = #{id}
    </delete>
    <update id="updateTaskStatus">
        update `sgjs_build_scheme_review` set task_status = #{taskStatus}
        where id = #{id}
    </update>
    <update id="updateApprovalTime">
        update `sgjs_build_scheme_review` set approval_time = now()
        where id = #{id}
    </update>
    <update id="dismissedSchemeReview">
        update `sgjs_build_scheme_review` set dismissed = 'YES'
        where id = #{id}
    </update>
</mapper>