<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sp.buildSchemeManage.review.mapper.SgjsBuildSchemeReviewStaffMapper">

    <resultMap type="com.hhwy.sp.buildSchemeManage.review.domain.SgjsBuildSchemeReviewStaff"
               id="SgjsBuildSchemeReviewStaffResultMap">
        <result property="id" column="id"/>
        <result property="reviewId" column="review_id"/>
        <result property="staffMark" column="staff_mark"/>
        <result property="description" column="description"/>
        <result property="staffName" column="staff_name"/>
        <result property="staffId" column="staff_id"/>
        <result property="staffType" column="staff_type"/>
        <result property="score" column="score"/>
        <result property="submitTime" column="submit_time"/>
        <result property="flowNodeMark" column="flow_node_mark"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectCode" column="project_code"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>
    <sql id="selectSgjsBuildSchemeReviewStaffVo">
        select `id`
             , `review_id`
             , `staff_mark`
             , `description`
             , `staff_name`
             , `staff_id`
             , `staff_type`
             , `score`
             , `submit_time`
             , `flow_node_mark`
             , `remark`
             , `region_id`
             , `region_name`
             , `project_id`
             , `project_name`
             , `project_code`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `pt_var1`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
        from sgjs_build_scheme_review_staff
    </sql>
    <select id="getSgjsBuildSchemeReviewStaff" resultMap="SgjsBuildSchemeReviewStaffResultMap">
        <include refid="selectSgjsBuildSchemeReviewStaffVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewId != null ">and `review_id` = #{reviewId}</if>
            <if test="staffMark != null  and staffMark != ''">and `staff_mark` = #{staffMark}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="staffName != null  and staffName != ''">and `staff_name` = #{staffName}</if>
            <if test="staffId != null  and staffId != ''">and `staff_id` = #{staffId}</if>
            <if test="staffType != null  and staffType != ''">and `staff_type` = #{staffType}</if>
            <if test="score != null ">and `score` = #{score}</if>
            <if test="submitTime != null ">and `submit_time` = #{submitTime}</if>
            <if test="flowNodeMark != null  and flowNodeMark != ''">and `flow_node_mark` = #{flowNodeMark}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getSgjsBuildSchemeReviewStaffList" resultMap="SgjsBuildSchemeReviewStaffResultMap">
        <include refid="selectSgjsBuildSchemeReviewStaffVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewId != null ">and `review_id` = #{reviewId}</if>
            <if test="staffMark != null  and staffMark != ''">and `staff_mark` = #{staffMark}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="staffName != null  and staffName != ''">and `staff_name` = #{staffName}</if>
            <if test="staffId != null  and staffId != ''">and `staff_id` = #{staffId}</if>
            <if test="staffType != null  and staffType != ''">and `staff_type` = #{staffType}</if>
            <if test="score != null ">and `score` = #{score}</if>
            <if test="submitTime != null ">and `submit_time` = #{submitTime}</if>
            <if test="flowNodeMark != null  and flowNodeMark != ''">and `flow_node_mark` = #{flowNodeMark}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertSgjsBuildSchemeReviewStaff" useGeneratedKeys="true" keyProperty="id">
        insert into sgjs_build_scheme_review_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="reviewId != null ">`review_id`,</if>
            <if test="staffMark != null  and staffMark != ''">`staff_mark`,</if>
            <if test="description != null  and description != ''">`description`,</if>
            <if test="staffName != null  and staffName != ''">`staff_name`,</if>
            <if test="staffId != null  and staffId != ''">`staff_id`,</if>
            <if test="staffType != null  and staffType != ''">`staff_type`,</if>
            <if test="score != null ">`score`,</if>
            <if test="submitTime != null ">`submit_time`,</if>
            <if test="flowNodeMark != null  and flowNodeMark != ''">`flow_node_mark`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="projectCode != null  and projectCode != ''">`project_code`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="reviewId != null ">#{reviewId},</if>
            <if test="staffMark != null  and staffMark != ''">#{staffMark},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="staffName != null  and staffName != ''">#{staffName},</if>
            <if test="staffId != null  and staffId != ''">#{staffId},</if>
            <if test="staffType != null  and staffType != ''">#{staffType},</if>
            <if test="score != null ">#{score},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="flowNodeMark != null  and flowNodeMark != ''">#{flowNodeMark},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="projectCode != null  and projectCode != ''">#{projectCode},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertSgjsBuildSchemeReviewStaff -->
    <insert id="insertSgjsBuildSchemeReviewStaffList">
        insert into sgjs_build_scheme_review_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `review_id`,
            `staff_mark`,
            `description`,
            `staff_name`,
            `staff_id`,
            `staff_type`,
            `score`,
            `submit_time`,
            `flow_node_mark`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `project_code`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="sgjsBuildSchemeReviewStaffList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.reviewId},
                #{item.staffMark},
                #{item.description},
                #{item.staffName},
                #{item.staffId},
                #{item.staffType},
                #{item.score},
                #{item.submitTime},
                #{item.flowNodeMark},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.projectCode},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateSgjsBuildSchemeReviewStaff">
        update sgjs_build_scheme_review_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="reviewId != null ">`review_id` = #{reviewId},</if>
            <if test="staffMark != null  and  staffMark != ''">`staff_mark` = #{staffMark},</if>
            <if test="description != null  and  description != ''">`description` = #{description},</if>
            <if test="staffName != null  and  staffName != ''">`staff_name` = #{staffName},</if>
            <if test="staffId != null  and  staffId != ''">`staff_id` = #{staffId},</if>
            <if test="staffType != null  and  staffType != ''">`staff_type` = #{staffType},</if>
            <if test="score != null ">`score` = #{score},</if>
            <if test="submitTime != null ">`submit_time` = #{submitTime},</if>
            <if test="flowNodeMark != null  and  flowNodeMark != ''">`flow_node_mark` = #{flowNodeMark},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="projectCode != null  and  projectCode != ''">`project_code` = #{projectCode},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateSgjsBuildSchemeReviewStaffList">
        update sgjs_build_scheme_review_staff
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="review_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewId}
                </foreach>
            </trim>
            <trim prefix="staff_mark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.staffMark}
                </foreach>
            </trim>
            <trim prefix="description  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.description}
                </foreach>
            </trim>
            <trim prefix="staff_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.staffName}
                </foreach>
            </trim>
            <trim prefix="staff_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.staffId}
                </foreach>
            </trim>
            <trim prefix="staff_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.staffType}
                </foreach>
            </trim>
            <trim prefix="score  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.score}
                </foreach>
            </trim>
            <trim prefix="submit_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.submitTime}
                </foreach>
            </trim>
            <trim prefix="flow_node_mark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.flowNodeMark}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="project_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectCode}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteSgjsBuildSchemeReviewStaff">
        update `sgjs_build_scheme_review_staff` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewId != null ">and `review_id` = #{reviewId}</if>
            <if test="staffMark != null  and staffMark != ''">and `staff_mark` = #{staffMark}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="staffName != null  and staffName != ''">and `staff_name` = #{staffName}</if>
            <if test="staffId != null  and staffId != ''">and `staff_id` = #{staffId}</if>
            <if test="staffType != null  and staffType != ''">and `staff_type` = #{staffType}</if>
            <if test="score != null ">and `score` = #{score}</if>
            <if test="submitTime != null ">and `submit_time` = #{submitTime}</if>
            <if test="flowNodeMark != null  and flowNodeMark != ''">and `flow_node_mark` = #{flowNodeMark}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="projectCode != null  and projectCode != ''">and `project_code` = #{projectCode}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
    </update>

    <update id="deleteSgjsBuildSchemeReviewStaffByPks">
        update `sgjs_build_scheme_review_staff` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="sgjsBuildSchemeReviewStaffPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>