<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.sbch.imported.plan.mapper.SbchImportPlanDetailMapper">
    <resultMap type="com.hhwy.pm.qqch.preparation.sbch.imported.plan.domain.SbchImportPlanDetail" id="SbchImportPlanDetailResult">
        <result property="id"    column="id"    />
        <result property="planId"    column="plan_id"    />
        <result property="projectCodes"    column="project_codes"    />
        <result property="importWay"    column="import_way"    />
        <result property="receiveStaff"    column="receive_staff"    />
        <result property="materialCodes"    column="material_codes"    />
        <result property="sendCustoms"    column="send_customs"    />
        <result property="goalCuntoms"    column="goal_cuntoms"    />
        <result property="cuntomsValue"    column="cuntoms_value"    />
        <result property="taxWay"    column="tax_way"    />
        <result property="taxPoint"    column="tax_point"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="regionId"    column="region_id"    />
        <result property="regionName"    column="region_name"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectSbchImportPlanDetailVo">
        select `id`, `plan_id`, `project_codes`, `import_way`, `receive_staff`, `material_codes`, `send_customs`, `goal_cuntoms`, `cuntoms_value`, `tax_way`, `tax_point`, `create_user`, `create_time`, `update_user`, `update_time`, `del_user`, `del_time`, `del_flag`, `remark`, `pt_var1`, `pt_var2`, `pt_var3`, `project_id`, `project_name`, `region_id`, `region_name`, `dept_id` from `sbch_import_plan_detail`
    </sql>

    <select id="selectSbchImportPlanDetailList" parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.plan.domain.SbchImportPlanDetail" resultMap="SbchImportPlanDetailResult">
        <include refid="selectSbchImportPlanDetailVo"/>
        <where>
            `del_flag` = 0
            <if test="planId != null "> and `plan_id` = #{planId}</if>
            <if test="projectCodes != null  and projectCodes != ''"> and `project_codes` = #{projectCodes}</if>
            <if test="importWay != null  and importWay != ''"> and `import_way` = #{importWay}</if>
            <if test="receiveStaff != null  and receiveStaff != ''"> and `receive_staff` = #{receiveStaff}</if>
            <if test="materialCodes != null  and materialCodes != ''"> and `material_codes` = #{materialCodes}</if>
            <if test="sendCustoms != null  and sendCustoms != ''"> and `send_customs` = #{sendCustoms}</if>
            <if test="goalCuntoms != null  and goalCuntoms != ''"> and `goal_cuntoms` = #{goalCuntoms}</if>
            <if test="cuntomsValue != null  and cuntomsValue != ''"> and `cuntoms_value` = #{cuntomsValue}</if>
            <if test="taxWay != null  and taxWay != ''"> and `tax_way` = #{taxWay}</if>
            <if test="taxPoint != null "> and `tax_point` = #{taxPoint}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and `project_name` like concat('%', #{projectName}, '%')</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and `region_name` like concat('%', #{regionName}, '%')</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
        </where>
        order by `id` desc
    </select>
    
    <select id="selectSbchImportPlanDetailById" parameterType="Long" resultMap="SbchImportPlanDetailResult">
        <include refid="selectSbchImportPlanDetailVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSbchImportPlanDetail" parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.plan.domain.SbchImportPlanDetail">
        insert into `sbch_import_plan_detail`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="planId != null">`plan_id`,</if>
            <if test="projectCodes != null">`project_codes`,</if>
            <if test="importWay != null">`import_way`,</if>
            <if test="receiveStaff != null">`receive_staff`,</if>
            <if test="materialCodes != null">`material_codes`,</if>
            <if test="sendCustoms != null">`send_customs`,</if>
            <if test="goalCuntoms != null">`goal_cuntoms`,</if>
            <if test="cuntomsValue != null">`cuntoms_value`,</if>
            <if test="taxWay != null">`tax_way`,</if>
            <if test="taxPoint != null">`tax_point`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="projectName != null">`project_name`,</if>
            <if test="regionId != null">`region_id`,</if>
            <if test="regionName != null">`region_name`,</if>
            <if test="deptId != null">`dept_id`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planId != null">#{planId},</if>
            <if test="projectCodes != null">#{projectCodes},</if>
            <if test="importWay != null">#{importWay},</if>
            <if test="receiveStaff != null">#{receiveStaff},</if>
            <if test="materialCodes != null">#{materialCodes},</if>
            <if test="sendCustoms != null">#{sendCustoms},</if>
            <if test="goalCuntoms != null">#{goalCuntoms},</if>
            <if test="cuntomsValue != null">#{cuntomsValue},</if>
            <if test="taxWay != null">#{taxWay},</if>
            <if test="taxPoint != null">#{taxPoint},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="regionName != null">#{regionName},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `sbch_import_plan_detail` (
                                                `id`,
                                                                `plan_id`,
                                                                `project_codes`,
                                                                `import_way`,
                                                                `receive_staff`,
                                                                `material_codes`,
                                                                `send_customs`,
                                                                `goal_cuntoms`,
                                                                `cuntoms_value`,
                                                                `tax_way`,
                                                                `tax_point`,
                                                                `create_user`,
                                                                `create_time`,
                                                                `update_user`,
                                                                `update_time`,
                                                                `remark`,
                                                                `pt_var1`,
                                                                `pt_var2`,
                                                                `pt_var3`,
                                                                `project_id`,
                                                                `project_name`,
                                                                `region_id`,
                                                                `region_name`,
                                                                `dept_id`
                                    )values
        <foreach collection="dataList" separator="," item="item" index="index" >
                                                (#{item.id},
                                                                #{item.planId},
                                                                #{item.projectCodes},
                                                                #{item.importWay},
                                                                #{item.receiveStaff},
                                                                #{item.materialCodes},
                                                                #{item.sendCustoms},
                                                                #{item.goalCuntoms},
                                                                #{item.cuntomsValue},
                                                                #{item.taxWay},
                                                                #{item.taxPoint},
                                                                #{item.createUser},
                                                                #{item.createTime},
                                                                #{item.updateUser},
                                                                #{item.updateTime},
                                                                #{item.remark},
                                                                #{item.ptVar1},
                                                                #{item.ptVar2},
                                                                #{item.ptVar3},
                                                                #{item.projectId},
                                                                #{item.projectName},
                                                                #{item.regionId},
                                                                #{item.regionName},
                                                                #{item.deptId})
                                    </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `sbch_import_plan_detail`
        <trim prefix="set" suffixOverrides=",">
                                                                <trim prefix="plan_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.planId != null ">
                                when `id` = #{item.id} then #{item.planId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_codes =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectCodes != null ">
                                when `id` = #{item.id} then #{item.projectCodes}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="import_way =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.importWay != null ">
                                when `id` = #{item.id} then #{item.importWay}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="receive_staff =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.receiveStaff != null ">
                                when `id` = #{item.id} then #{item.receiveStaff}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="material_codes =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.materialCodes != null ">
                                when `id` = #{item.id} then #{item.materialCodes}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="send_customs =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.sendCustoms != null ">
                                when `id` = #{item.id} then #{item.sendCustoms}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="goal_cuntoms =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.goalCuntoms != null ">
                                when `id` = #{item.id} then #{item.goalCuntoms}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="cuntoms_value =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.cuntomsValue != null ">
                                when `id` = #{item.id} then #{item.cuntomsValue}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="tax_way =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.taxWay != null ">
                                when `id` = #{item.id} then #{item.taxWay}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="tax_point =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.taxPoint != null ">
                                when `id` = #{item.id} then #{item.taxPoint}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUser != null ">
                                when `id` = #{item.id} then #{item.createUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createTime != null ">
                                when `id` = #{item.id} then #{item.createTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUser != null ">
                                when `id` = #{item.id} then #{item.updateUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateTime != null ">
                                when `id` = #{item.id} then #{item.updateTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delUser != null ">
                                when `id` = #{item.id} then #{item.delUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delTime != null ">
                                when `id` = #{item.id} then #{item.delTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_flag =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delFlag != null ">
                                when `id` = #{item.id} then #{item.delFlag}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="remark =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.remark != null ">
                                when `id` = #{item.id} then #{item.remark}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var1 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar1 != null ">
                                when `id` = #{item.id} then #{item.ptVar1}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var2 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar2 != null ">
                                when `id` = #{item.id} then #{item.ptVar2}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var3 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar3 != null ">
                                when `id` = #{item.id} then #{item.ptVar3}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectId != null ">
                                when `id` = #{item.id} then #{item.projectId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectName != null ">
                                when `id` = #{item.id} then #{item.projectName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.regionId != null ">
                                when `id` = #{item.id} then #{item.regionId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.regionName != null ">
                                when `id` = #{item.id} then #{item.regionName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="dept_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.deptId != null ">
                                when `id` = #{item.id} then #{item.deptId}
                            </if>
                        </foreach>
                    </trim>
                                    </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateSbchImportPlanDetail" parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.plan.domain.SbchImportPlanDetail">
        update `sbch_import_plan_detail`
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">`plan_id` = #{planId},</if>
            <if test="projectCodes != null">`project_codes` = #{projectCodes},</if>
            <if test="importWay != null">`import_way` = #{importWay},</if>
            <if test="receiveStaff != null">`receive_staff` = #{receiveStaff},</if>
            <if test="materialCodes != null">`material_codes` = #{materialCodes},</if>
            <if test="sendCustoms != null">`send_customs` = #{sendCustoms},</if>
            <if test="goalCuntoms != null">`goal_cuntoms` = #{goalCuntoms},</if>
            <if test="cuntomsValue != null">`cuntoms_value` = #{cuntomsValue},</if>
            <if test="taxWay != null">`tax_way` = #{taxWay},</if>
            <if test="taxPoint != null">`tax_point` = #{taxPoint},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="projectName != null">`project_name` = #{projectName},</if>
            <if test="regionId != null">`region_id` = #{regionId},</if>
            <if test="regionName != null">`region_name` = #{regionName},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSbchImportPlanDetailById" parameterType="Long">
        update `sbch_import_plan_detail` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteSbchImportPlanDetailByIds" parameterType="String">
        update `sbch_import_plan_detail` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getSbchImportPlanDetailList" resultMap="SbchImportPlanDetailResult">
        select * from `sbch_import_plan_detail` detail
        <where>
            detail.`del_flag` = 0
            <if test="planId != null "> and detail.`plan_id` = #{planId}</if>
            <if test="projectCodes != null  and projectCodes != ''"> and detail.`project_codes` = #{projectCodes}</if>
            <if test="importWay != null  and importWay != ''"> and detail.`import_way` = #{importWay}</if>
            <if test="receiveStaff != null  and receiveStaff != ''"> and detail.`receive_staff` = #{receiveStaff}</if>
            <if test="materialCodes != null  and materialCodes != ''"> and detail.`material_codes` = #{materialCodes}</if>
            <if test="sendCustoms != null  and sendCustoms != ''"> and detail.`send_customs` = #{sendCustoms}</if>
            <if test="goalCuntoms != null  and goalCuntoms != ''"> and detail.`goal_cuntoms` = #{goalCuntoms}</if>
            <if test="cuntomsValue != null  and cuntomsValue != ''"> and `cuntoms_value` = #{cuntomsValue}</if>
            <if test="taxWay != null  and taxWay != ''"> and detail.`tax_way` = #{taxWay}</if>
            <if test="taxPoint != null "> and detail.`tax_point` = #{taxPoint}</if>
            <if test="createUser != null  and createUser != ''"> and detail.`create_user` = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and detail.`update_user` = #{updateUser}</if>
            <if test="delUser != null  and delUser != ''"> and detail.`del_user` = #{delUser}</if>
            <if test="delTime != null "> and detail.`del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and detail.`pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and detail.`pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and detail.`pt_var3` = #{ptVar3}</if>
            <if test="projectId != null "> and detail.`project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and detail.`project_name` like concat('%', #{projectName}, '%')</if>
            <if test="regionId != null "> and detail.`region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''"> and detail.`region_name` like concat('%', #{regionName}, '%')</if>
            <if test="deptId != null "> and detail.`dept_id` = #{deptId}</if>
        </where>
        order by detail.`id` desc
    </select>

    <update id="deleteSbchImportPlanDetailByPlanId">
        update sbch_import_plan_detail set del_flag = 1,del_user = #{delUser},del_time = #{delTime} where plan_id = #{planId}
    </update>

</mapper>