<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.jdgl.day.schedule.jdglDaySchedule.mapper.JdglDayScheduleMapper">

    <resultMap type="com.hhwy.pm.jdgl.day.schedule.jdglDaySchedule.domain.JdglDaySchedule"
               id="JdglDayScheduleResultMap">
        <result property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <result property="date" column="date"/>
        <result property="custUnit" column="cust_unit"/>
        <result property="dayValueCu" column="day_value_cu"/>
        <result property="totalValueCu" column="total_value_cu"/>
        <result property="exchangeRate" column="exchange_rate"/>
        <result property="dayValueDl" column="day_value_dl"/>
        <result property="totalValueDl" column="total_value_dl"/>
        <result property="description" column="description"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="taskStatus" column="task_status"/>
    </resultMap>
    <sql id="selectJdglDayScheduleVo">
        select `id`
             , `project_name`
             , `date`
             , `cust_unit`
             , `day_value_cu`
             , `total_value_cu`
             , `exchange_rate`
             , `day_value_dl`
             , `total_value_dl`
             , `description`
             , `file_group_id`
             , `remark`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `pt_var1`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
             , `task_status`
        from jdgl_day_schedule
    </sql>
    <select id="getJdglDaySchedule" resultMap="JdglDayScheduleResultMap">
        <include refid="selectJdglDayScheduleVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="date != null ">and `date` = #{date}</if>
            <if test="custUnit != null  and custUnit != ''">and `cust_unit` = #{custUnit}</if>
            <if test="dayValueCu != null ">and `day_value_cu` = #{dayValueCu}</if>
            <if test="totalValueCu != null ">and `total_value_cu` = #{totalValueCu}</if>
            <if test="exchangeRate != null ">and `exchange_rate` = #{exchangeRate}</if>
            <if test="dayValueDl != null ">and `day_value_dl` = #{dayValueDl}</if>
            <if test="totalValueDl != null ">and `total_value_dl` = #{totalValueDl}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getJdglDayScheduleList" resultMap="JdglDayScheduleResultMap">
        <include refid="selectJdglDayScheduleVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="date != null ">and `date` = #{date}</if>
            <if test="custUnit != null  and custUnit != ''">and `cust_unit` = #{custUnit}</if>
            <if test="dayValueCu != null ">and `day_value_cu` = #{dayValueCu}</if>
            <if test="totalValueCu != null ">and `total_value_cu` = #{totalValueCu}</if>
            <if test="exchangeRate != null ">and `exchange_rate` = #{exchangeRate}</if>
            <if test="dayValueDl != null ">and `day_value_dl` = #{dayValueDl}</if>
            <if test="totalValueDl != null ">and `total_value_dl` = #{totalValueDl}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getHistoryValue"
            resultType="com.hhwy.pm.jdgl.day.schedule.jdglDaySchedule.domain.JdglDaySchedule">
        select sum(day_value_cu) totalValueCu,sum(day_value_dl) totalValueDl
        from jdgl_day_schedule where date &lt; #{date} and taskStatus = "5"
    </select>
    <select id="getCountValue" resultType="java.math.BigDecimal">
        select sum(day_value_dl)
        from jdgl_day_schedule
        where taskStatus = "5"
        <if test="startDate != null "> and date &gt;= #{startDate}</if>
        <if test="endDate != null "> and date &lt;= #{endDate}</if>
    </select>

    <select id="getListByDateRange" resultType="com.hhwy.pm.jdgl.day.schedule.jdglDaySchedule.domain.JdglDaySchedule">
        <include refid="selectJdglDayScheduleVo"/>
        where taskStatus = "5"
            <if test="startDate != null "> and date &gt;= #{startDate}</if>
            <if test="endDate != null "> and date &lt;= #{endDate}</if>
         order by date asc
    </select>

    <insert id="insertJdglDaySchedule" useGeneratedKeys="true" keyProperty="id">
        insert into jdgl_day_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="date != null ">`date`,</if>
            <if test="custUnit != null  and custUnit != ''">`cust_unit`,</if>
            <if test="dayValueCu != null ">`day_value_cu`,</if>
            <if test="totalValueCu != null ">`total_value_cu`,</if>
            <if test="exchangeRate != null ">`exchange_rate`,</if>
            <if test="dayValueDl != null ">`day_value_dl`,</if>
            <if test="totalValueDl != null ">`total_value_dl`,</if>
            <if test="description != null  and description != ''">`description`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="date != null ">#{date},</if>
            <if test="custUnit != null  and custUnit != ''">#{custUnit},</if>
            <if test="dayValueCu != null ">#{dayValueCu},</if>
            <if test="totalValueCu != null ">#{totalValueCu},</if>
            <if test="exchangeRate != null ">#{exchangeRate},</if>
            <if test="dayValueDl != null ">#{dayValueDl},</if>
            <if test="totalValueDl != null ">#{totalValueDl},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertJdglDaySchedule -->
    <insert id="insertJdglDayScheduleList">
        insert into jdgl_day_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `project_name`,
            `date`,
            `cust_unit`,
            `day_value_cu`,
            `total_value_cu`,
            `exchange_rate`,
            `day_value_dl`,
            `total_value_dl`,
            `description`,
            `file_group_id`,
            `remark`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `task_status`,
        </trim>
        values
        <foreach collection="jdglDayScheduleList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.projectName},
                #{item.date},
                #{item.custUnit},
                #{item.dayValueCu},
                #{item.totalValueCu},
                #{item.exchangeRate},
                #{item.dayValueDl},
                #{item.totalValueDl},
                #{item.description},
                #{item.fileGroupId},
                #{item.remark},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.taskStatus},
            </trim>
        </foreach>
    </insert>

    <update id="updateJdglDaySchedule">
        update jdgl_day_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="date != null ">`date` = #{date},</if>
            <if test="custUnit != null  and  custUnit != ''">`cust_unit` = #{custUnit},</if>
            <if test="dayValueCu != null ">`day_value_cu` = #{dayValueCu},</if>
            <if test="totalValueCu != null ">`total_value_cu` = #{totalValueCu},</if>
            <if test="exchangeRate != null ">`exchange_rate` = #{exchangeRate},</if>
            <if test="dayValueDl != null ">`day_value_dl` = #{dayValueDl},</if>
            <if test="totalValueDl != null ">`total_value_dl` = #{totalValueDl},</if>
            <if test="description != null  and  description != ''">`description` = #{description},</if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateJdglDayScheduleList">
        update jdgl_day_schedule
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.date}
                </foreach>
            </trim>
            <trim prefix="cust_unit  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.custUnit}
                </foreach>
            </trim>
            <trim prefix="day_value_cu  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dayValueCu}
                </foreach>
            </trim>
            <trim prefix="total_value_cu  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.totalValueCu}
                </foreach>
            </trim>
            <trim prefix="exchange_rate  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.exchangeRate}
                </foreach>
            </trim>
            <trim prefix="day_value_dl  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dayValueDl}
                </foreach>
            </trim>
            <trim prefix="total_value_dl  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.totalValueDl}
                </foreach>
            </trim>
            <trim prefix="description  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.description}
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.fileGroupId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
            <trim prefix="task_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.taskStatus}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteJdglDaySchedule">
        update `jdgl_day_schedule` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="date != null ">and `date` = #{date}</if>
            <if test="custUnit != null  and custUnit != ''">and `cust_unit` = #{custUnit}</if>
            <if test="dayValueCu != null ">and `day_value_cu` = #{dayValueCu}</if>
            <if test="totalValueCu != null ">and `total_value_cu` = #{totalValueCu}</if>
            <if test="exchangeRate != null ">and `exchange_rate` = #{exchangeRate}</if>
            <if test="dayValueDl != null ">and `day_value_dl` = #{dayValueDl}</if>
            <if test="totalValueDl != null ">and `total_value_dl` = #{totalValueDl}</if>
            <if test="description != null  and description != ''">and `description` = #{description}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
        </where>
    </update>

    <update id="deleteJdglDayScheduleByPks">
        update `jdgl_day_schedule` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="jdglDaySchedulePkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
    <update id="updateJdglDayScheduleValue">

        update jdgl_day_schedule jds,(select * from jdgl_day_schedule where date = DATE_SUB(#{date},INTERVAL 1 DAY) and task_status = '5') queryjds
        set
            jds.day_value_cu = (select sum(bill_value) from jdgl_day_schedule_bill jdsb where jds.id = jdsb.day_schedule_id ),
            jds.day_value_dl= jds.day_value_cu*jds.exchange_rate/10000,
            jds.total_value_cu = ifnull(queryjds.total_value_cu, 0)+jds.day_value_cu,
            jds.total_value_dl = ifnull(queryjds.total_value_dl, 0)+jds.day_value_dl
        where jds.id = #{id}

    </update>
</mapper>