<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.sbch.imported.material.mapper.SbchMaterialTranPlanDetailMapper">
    <resultMap type="com.hhwy.pm.qqch.preparation.sbch.imported.material.domain.SbchMaterialTranPlanDetail"
               id="SbchMaterialTranPlanDetailResult">
        <result property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="materialSpec" column="material_spec"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="materialSize" column="material_size"/>
        <result property="materialWeight" column="material_weight"/>
        <result property="boxType" column="box_type"/>
        <result property="boxSize" column="box_size"/>
        <result property="boxNum1" column="box_num1"/>
        <result property="boxNum2" column="box_num2"/>
        <result property="bulkVolume" column="bulk_volume"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="trainTime" column="train_time"/>
        <result property="startCustom" column="start_custom"/>
        <result property="endCustom" column="end_custom"/>
        <result property="trainWay" column="train_way"/>
        <result property="fileGroupId" column="file_group_id"/>
    </resultMap>

    <sql id="selectSbchMaterialTranPlanDetailVo">
        SELECT `id`, `plan_id`, `material_code`, `material_name`, `material_spec`, `manufacturer`, `material_size`, `material_weight`, `box_type`,
            `box_size`,
            `box_num1`, `box_num2`, `bulk_volume`, `create_user`, `create_time`, `update_user`, `update_time`,
            `del_user`,
            `del_time`, `del_flag`, `remark`, `pt_var1`, `pt_var2`, `pt_var3`, `project_id`, `project_name`,
            `region_id`,
            `region_name`, `dept_id`, `train_time`, `start_custom`, `end_custom`, `train_way`, `file_group_id`
        FROM `sbch_material_tran_plan_detail`
    </sql>

    <select id="selectSbchMaterialTranPlanDetailList"
            parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.material.domain.SbchMaterialTranPlanDetail"
            resultMap="SbchMaterialTranPlanDetailResult">
        <include refid="selectSbchMaterialTranPlanDetailVo"/>
        <where>
            `del_flag` = 0
            <if test="planId != null ">and `plan_id` = #{planId}</if>
            <if test="materialCode != null  and materialCode != ''">and `material_code` = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''">and `material_name` = #{materialName}</if>
            <if test="materialSpec != null  and materialSpec != ''">and `material_spec` = #{materialSpec}</if>
            <if test="manufacturer != null  and manufacturer != ''">and `manufacturer` = #{manufacturer}</if>
            <if test="materialSize != null  and materialSize != ''">and `material_size` = #{materialSize}</if>
            <if test="materialWeight != null  and materialWeight != ''">and `material_weight` = #{materialWeight}</if>
            <if test="boxType != null  and boxType != ''">and `box_type` = #{boxType}</if>
            <if test="boxSize != null  and boxSize != ''">and `box_size` = #{boxSize}</if>
            <if test="boxNum1 != null ">and `box_num1` = #{boxNum1}</if>
            <if test="boxNum2 != null ">and `box_num2` = #{boxNum2}</if>
            <if test="bulkVolume != null  and bulkVolume != ''">and `bulk_volume` = #{bulkVolume}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` like concat('%', #{projectName},
                '%')
            </if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` like concat('%', #{regionName}, '%')
            </if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="trainTime != null">and `train_time` like concat('%', #{trainTime}, '%')</if>
            <if test="startCustom != null  and startCustom != ''">and `start_custom` like concat('%', #{startCustom},
                '%')
            </if>
            <if test="endCustom != null  and endCustom != ''">and `end_custom` like concat('%', #{endCustom}, '%')</if>
            <if test="trainWay != null  and trainWay != ''">and `train_way` like concat('%', #{trainWay}, '%')</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` like concat('%', #{fileGroupId},
                '%')
            </if>

        </where>
        order by `id` desc
    </select>

    <select id="selectSbchMaterialTranPlanDetailById" parameterType="Long" resultMap="SbchMaterialTranPlanDetailResult">
        <include refid="selectSbchMaterialTranPlanDetailVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSbchMaterialTranPlanDetail"
            parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.material.domain.SbchMaterialTranPlanDetail">
        insert into `sbch_material_tran_plan_detail`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="planId != null">`plan_id`,</if>
            <if test="materialCode != null">`material_code`,</if>
            <if test="materialName != null">`material_name`,</if>
            <if test="materialSpec != null">`material_spec`,</if>
            <if test="manufacturer != null">`manufacturer`,</if>
            <if test="materialSize != null">`material_size`,</if>
            <if test="materialWeight != null">`material_weight`,</if>
            <if test="boxType != null">`box_type`,</if>
            <if test="boxSize != null">`box_size`,</if>
            <if test="boxNum1 != null">`box_num1`,</if>
            <if test="boxNum2 != null">`box_num2`,</if>
            <if test="bulkVolume != null">`bulk_volume`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="projectName != null">`project_name`,</if>
            <if test="regionId != null">`region_id`,</if>
            <if test="regionName != null">`region_name`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="trainTime != null">`train_time`,</if>
            <if test="startCustom != null">`start_custom`,</if>
            <if test="endCustom != null">`end_custom`,</if>
            <if test="trainWay != null">`train_way`,</if>
            <if test="fileGroupId != null">`file_group_id`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planId != null">#{planId},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialSpec != null">#{materialSpec},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="materialSize != null">#{materialSize},</if>
            <if test="materialWeight != null">#{materialWeight},</if>
            <if test="boxType != null">#{boxType},</if>
            <if test="boxSize != null">#{boxSize},</if>
            <if test="boxNum1 != null">#{boxNum1},</if>
            <if test="boxNum2 != null">#{boxNum2},</if>
            <if test="bulkVolume != null">#{bulkVolume},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="regionName != null">#{regionName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="trainTime != null">#{trainTime},</if>
            <if test="startCustom != null">#{startCustom},</if>
            <if test="endCustom != null">#{endCustom},</if>
            <if test="trainWay != null">#{trainWay},</if>
            <if test="fileGroupId != null">#{fileGroupId},</if>

        </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `sbch_material_tran_plan_detail` (
        `id`,
        `plan_id`,
        `material_code`,
        `material_name`,
        `material_spec`,
        `manufacturer`,
        `material_size`,
        `material_weight`,
        `box_type`,
        `box_size`,
        `box_num1`,
        `box_num2`,
        `bulk_volume`,
        `create_user`,
        `create_time`,
        `update_user`,
        `update_time`,
        `remark`,
        `pt_var1`,
        `pt_var2`,
        `pt_var3`,
        `project_id`,
        `project_name`,
        `region_id`,
        `region_name`,
        `dept_id`,
        `train_time`,
        `start_custom`,
        `end_custom`,
        `train_way`,
        `file_group_id`

        )values
        <foreach collection="dataList" separator="," item="item" index="index">
            ( #{item.id},
            #{item.planId},
            #{item.materialCode},
            #{item.materialName},
            #{item.materialSpec},
            #{item.manufacturer},
            #{item.materialSize},
            #{item.materialWeight},
            #{item.boxType},
            #{item.boxSize},
            #{item.boxNum1},
            #{item.boxNum2},
            #{item.bulkVolume},
            #{item.createUser},
            #{item.createTime},
            #{item.updateUser},
            #{item.updateTime},
            #{item.remark},
            #{item.ptVar1},
            #{item.ptVar2},
            #{item.ptVar3},
            #{item.projectId},
            #{item.projectName},
            #{item.regionId},
            #{item.regionName},
            #{item.deptId},
            #{item.trainTime},
            #{item.startCustom},
            #{item.endCustom},
            #{item.trainWay},
            #{item.fileGroupId})
        </foreach>
    </insert>


    <update id="updateSbchMaterialTranPlanDetail"
            parameterType="com.hhwy.pm.qqch.preparation.sbch.imported.material.domain.SbchMaterialTranPlanDetail">
        update `sbch_material_tran_plan_detail`
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">`plan_id` = #{planId},</if>
            <if test="materialCode != null">`material_code` = #{materialCode},</if>
            <if test="materialName != null">`material_name` = #{materialName},</if>
            <if test="materialSpec != null">`material_spec` = #{materialSpec},</if>
            <if test="manufacturer != null">`manufacturer` = #{manufacturer},</if>
            <if test="materialSize != null">`material_size` = #{materialSize},</if>
            <if test="materialWeight != null">`material_weight` = #{materialWeight},</if>
            <if test="boxType != null">`box_type` = #{boxType},</if>
            <if test="boxSize != null">`box_size` = #{boxSize},</if>
            <if test="boxNum1 != null">`box_num1` = #{boxNum1},</if>
            <if test="boxNum2 != null">`box_num2` = #{boxNum2},</if>
            <if test="bulkVolume != null">`bulk_volume` = #{bulkVolume},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="projectName != null">`project_name` = #{projectName},</if>
            <if test="regionId != null">`region_id` = #{regionId},</if>
            <if test="regionName != null">`region_name` = #{regionName},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="trainTime != null">`train_time` = #{trainTime},</if>
            <if test="startCustom != null">`start_custom` = #{startCustom},</if>
            <if test="endCustom != null">`end_custom` = #{endCustom},</if>
            <if test="trainWay != null">`train_way` = #{trainWay},</if>
            <if test="fileGroupId != null">`file_group_id` = #{fileGroupId},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSbchMaterialTranPlanDetailById" parameterType="Long">
        UPDATE `sbch_material_tran_plan_detail`
        SET del_flag = 1
        WHERE `id` = #{id}
    </update>

    <update id="deleteSbchMaterialTranPlanDetailByIds" parameterType="String">
        update `sbch_material_tran_plan_detail` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteSbchMaterialTranPlanByPlanId">
        UPDATE `sbch_material_tran_plan_detail`
        SET del_flag = 1, del_user = #{delUser}, del_time = #{delTime}
        WHERE plan_id = #{planId}
    </update>


</mapper>