<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.system.equipment.mapper.EquipmentTypeMapper">
    <resultMap type="com.hhwy.domain.base.system.equipment.EquipmentType" id="EquipmentTypeResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="type"    column="type"    />
        <result property="equipName"    column="equip_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tenantKey"    column="tenant_key"    />
        <result property="ptVar1"    column="pt_var_1"    />
        <result property="ptVar2"    column="pt_var_2"    />
        <result property="ptVar3"    column="pt_var_3"    />
        <result property="ptVar4"    column="pt_var_4"    />
        <result property="ptVar5"    column="pt_var_5"    />
    </resultMap>

    <sql id="selectEquipmentTypeVo">
        select `id`, `parent_id`, `type`, `equip_name`, `del_flag`, `create_user`, `create_time`, `update_user`, `update_time`, `tenant_key`, `pt_var_1`, `pt_var_2`, `pt_var_3`, `pt_var_4`, `pt_var_5` from `t_equipment_type`
    </sql>

    <select id="selectEquipmentTypeList" parameterType="com.hhwy.domain.base.system.equipment.EquipmentType" resultMap="EquipmentTypeResult">
        <include refid="selectEquipmentTypeVo"/>
        <where>
            `del_flag` = 0
            <if test="parentId != null "> and `parent_id` = #{parentId}</if>
            <if test="type != null  and type != ''"> and `type` = #{type}</if>
            <if test="equipName != null  and equipName != ''"> and `equip_name` like concat('%', #{equipName}, '%')</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="tenantKey != null  and tenantKey != ''"> and `tenant_key` = #{tenantKey}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var_1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var_2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var_3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var_4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''"> and `pt_var_5` = #{ptVar5}</if>
            <if test="searchName != null  and searchName != ''"> and `equip_name` = #{searchName}</if>
        </where>
        order by `code` asc
    </select>

    <select id="selectEquipmentTypeSCList" parameterType="com.hhwy.domain.base.system.equipment.EquipmentType" resultType="com.hhwy.system.equipment.vo.EquipmentTreeVo">
        SELECT
        `id`,
        `parent_id` pId,
        `code`,
        `equip_name` name,
        p_code pCode
        FROM
        `t_equipment_type_sc`
        <where>
            `del_flag` = 0
            <if test="parentId != null "> and `parent_id` = #{parentId}</if>
            <if test="type != null  and type != ''"> and `type` = #{type}</if>
            <if test="equipName != null  and equipName != ''"> and `equip_name` like concat('%', #{equipName}, '%')</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="tenantKey != null  and tenantKey != ''"> and `tenant_key` = #{tenantKey}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var_1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var_2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var_3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var_4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''"> and `pt_var_5` = #{ptVar5}</if>
            <if test="searchName != null  and searchName != ''"> and `equip_name` = #{searchName}</if>
        </where>
        order by `code` asc
    </select>
    
    <select id="selectEquipmentTypeById" parameterType="Long" resultMap="EquipmentTypeResult">
        <include refid="selectEquipmentTypeVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertEquipmentType" parameterType="com.hhwy.domain.base.system.equipment.EquipmentType">
        insert into `t_equipment_type`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="parentId != null">`parent_id`,</if>
            <if test="type != null">`type`,</if>
            <if test="equipName != null">`equip_name`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="tenantKey != null and tenantKey != ''">`tenant_key`,</if>
            <if test="ptVar1 != null">`pt_var_1`,</if>
            <if test="ptVar2 != null">`pt_var_2`,</if>
            <if test="ptVar3 != null">`pt_var_3`,</if>
            <if test="ptVar4 != null">`pt_var_4`,</if>
            <if test="ptVar5 != null">`pt_var_5`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="type != null">#{type},</if>
            <if test="equipName != null">#{equipName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tenantKey != null and tenantKey != ''">#{tenantKey},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="ptVar4 != null">#{ptVar4},</if>
            <if test="ptVar5 != null">#{ptVar5},</if>
         </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `t_equipment_type` (
                                                `id`,
                                                                `parent_id`,
                                                                `type`,
                                                                `equip_name`,
                                                                `del_flag`,
                                                                `create_user`,
                                                                `create_time`,
                                                                `update_user`,
                                                                `update_time`,
                                                                `tenant_key`,
                                                                `pt_var_1`,
                                                                `pt_var_2`,
                                                                `pt_var_3`,
                                                                `pt_var_4`,
                                                                `pt_var_5`,
                                    )values
        <foreach collection="dataList" separator="," item="item" index="index" >
                                                #{item.id}
                                                                #{item.parentId}
                                                                #{item.type}
                                                                #{item.equipName}
                                                                #{item.delFlag}
                                                                #{item.createUser}
                                                                #{item.createTime}
                                                                #{item.updateUser}
                                                                #{item.updateTime}
                                                                #{item.tenantKey}
                                                                #{item.ptVar1}
                                                                #{item.ptVar2}
                                                                #{item.ptVar3}
                                                                #{item.ptVar4}
                                                                #{item.ptVar5}
                                    </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `t_equipment_type`
        <trim prefix="set" suffixOverrides=",">
                                                                <trim prefix="parent_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.parentId != null ">
                                when `id` = #{item.id} then #{item.parentId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="type =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.type != null ">
                                when `id` = #{item.id} then #{item.type}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="equip_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.equipName != null ">
                                when `id` = #{item.id} then #{item.equipName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_flag =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delFlag != null ">
                                when `id` = #{item.id} then #{item.delFlag}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUser != null ">
                                when `id` = #{item.id} then #{item.createUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createTime != null ">
                                when `id` = #{item.id} then #{item.createTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUser != null ">
                                when `id` = #{item.id} then #{item.updateUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateTime != null ">
                                when `id` = #{item.id} then #{item.updateTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="tenant_key =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.tenantKey != null  and tenantKey != ''">
                                when `id` = #{item.id} then #{item.tenantKey}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var_1 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar1 != null ">
                                when `id` = #{item.id} then #{item.ptVar1}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var_2 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar2 != null ">
                                when `id` = #{item.id} then #{item.ptVar2}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var_3 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar3 != null ">
                                when `id` = #{item.id} then #{item.ptVar3}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var_4 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar4 != null ">
                                when `id` = #{item.id} then #{item.ptVar4}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var_5 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar5 != null ">
                                when `id` = #{item.id} then #{item.ptVar5}
                            </if>
                        </foreach>
                    </trim>
                                    </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateEquipmentType" parameterType="com.hhwy.domain.base.system.equipment.EquipmentType">
        update `t_equipment_type`
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">`parent_id` = #{parentId},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="equipName != null">`equip_name` = #{equipName},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="tenantKey != null and tenantKey != ''">`tenant_key` = #{tenantKey},</if>
            <if test="ptVar1 != null">`pt_var_1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var_2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var_3` = #{ptVar3},</if>
            <if test="ptVar4 != null">`pt_var_4` = #{ptVar4},</if>
            <if test="ptVar5 != null">`pt_var_5` = #{ptVar5},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteEquipmentTypeById" parameterType="Long">
        update `t_equipment_type` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteEquipmentTypeByIds" parameterType="String">
        update `t_equipment_type` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>