<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sd.designEngineeringQuantityManage.kcsjEngineeringQuantitiesBill.mapper.KcsjEngineeringQuantitiesBillDetailMapper">


    <resultMap
            type="com.hhwy.sd.designEngineeringQuantityManage.kcsjEngineeringQuantitiesBill.domain.KcsjEngineeringQuantitiesBillDetail"
            id="KcsjEngineeringQuantitiesBillDetailResultMap">
        <result property="id" column="id"/>
        <result property="mainId" column="main_id"/>
        <result property="pid" column="pid"/>
        <result property="listCode" column="list_code"/>
        <result property="workItemList" column="work_item_list"/>
        <result property="unit" column="unit"/>
        <result property="previousQuantity" column="previous_quantity"/>
        <result property="previousId" column="previous_id"/>
        <result property="workload" column="workload"/>
        <result property="quantityDifference" column="quantity_difference"/>
        <result property="serialNumber" column="serial_number"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="dataSource" column="data_source"/>
    </resultMap>
    <sql id="selectKcsjEngineeringQuantitiesBillDetailVo">
        select
                                                            `id`
                                                         ,`main_id`
                                                         ,`pid`
                                                         ,`list_code`
                                                         ,`work_item_list`
                                                         ,`unit`
                                                         ,`previous_quantity`
                                                         ,`previous_id`
                                                         ,`workload`
                                                         ,`quantity_difference`
                                                         ,`serial_number`
                                                         ,`remark`
                                                         ,`region_id`
                                                         ,`region_name`
                                                         ,`project_id`
                                                         ,`project_name`
                                                         ,`dept_id`
                                                         ,`create_user`
                                                         ,`create_user_name`
                                                         ,`create_time`
                                                         ,`update_user`
                                                         ,`update_time`
                                                         ,`del_user`
                                                         ,`del_time`
                                                         ,`del_flag`
                                                         ,`pt_var1`
                                                         ,`pt_var2`
                                                         ,`pt_var3`
                                                         ,`pt_var4`
                                                         ,`pt_var5`
                                                         ,`data_source`
                                    from kcsj_engineering_quantities_bill_detail
    </sql>
    <select id="getKcsjEngineeringQuantitiesBillDetail" resultMap="KcsjEngineeringQuantitiesBillDetailResultMap">
        <include refid="selectKcsjEngineeringQuantitiesBillDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="mainId != null ">and `main_id` = #{mainId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="listCode != null  and listCode != ''">and `list_code` = #{listCode}</if>
            <if test="workItemList != null  and workItemList != ''">and `work_item_list` = #{workItemList}</if>
            <if test="unit != null  and unit != ''">and `unit` = #{unit}</if>
            <if test="previousQuantity != null ">and `previous_quantity` = #{previousQuantity}</if>
            <if test="previousId != null ">and `previous_id` = #{previousId}</if>
            <if test="workload != null  and workload != ''">and `workload` = #{workload}</if>
            <if test="quantityDifference != null ">and `quantity_difference` = #{quantityDifference}</if>
            <if test="serialNumber != null  and serialNumber != ''">and `serial_number` = #{serialNumber}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="dataSource != null  and dataSource != ''">and `data_source` = #{dataSource}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getKcsjEngineeringQuantitiesBillDetailList" resultMap="KcsjEngineeringQuantitiesBillDetailResultMap">
        <include refid="selectKcsjEngineeringQuantitiesBillDetailVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="mainId != null ">and `main_id` = #{mainId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="listCode != null  and listCode != ''">and `list_code` = #{listCode}</if>
            <if test="workItemList != null  and workItemList != ''">and `work_item_list` = #{workItemList}</if>
            <if test="unit != null  and unit != ''">and `unit` = #{unit}</if>
            <if test="previousQuantity != null ">and `previous_quantity` = #{previousQuantity}</if>
            <if test="previousId != null ">and `previous_id` = #{previousId}</if>
            <if test="workload != null  and workload != ''">and `workload` = #{workload}</if>
            <if test="quantityDifference != null ">and `quantity_difference` = #{quantityDifference}</if>
            <if test="serialNumber != null  and serialNumber != ''">and `serial_number` = #{serialNumber}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="dataSource != null  and dataSource != ''">and `data_source` = #{dataSource}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertKcsjEngineeringQuantitiesBillDetail" useGeneratedKeys="true" keyProperty="id">
        insert into kcsj_engineering_quantities_bill_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="mainId != null ">`main_id`,</if>
            <if test="pid != null ">`pid`,</if>
            <if test="listCode != null  and listCode != ''">`list_code`,</if>
            <if test="workItemList != null  and workItemList != ''">`work_item_list`,</if>
            <if test="unit != null  and unit != ''">`unit`,</if>
            <if test="previousQuantity != null ">`previous_quantity`,</if>
            <if test="previousId != null ">`previous_id`,</if>
            <if test="workload != null  and workload != ''">`workload`,</if>
            <if test="quantityDifference != null ">`quantity_difference`,</if>
            <if test="serialNumber != null  and serialNumber != ''">`serial_number`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="dataSource != null  and dataSource != ''">`data_source`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="mainId != null ">#{mainId},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="listCode != null  and listCode != ''">#{listCode},</if>
            <if test="workItemList != null  and workItemList != ''">#{workItemList},</if>
            <if test="unit != null  and unit != ''">#{unit},</if>
            <if test="previousQuantity != null ">#{previousQuantity},</if>
            <if test="previousId != null ">#{previousId},</if>
            <if test="workload != null  and workload != ''">#{workload},</if>
            <if test="quantityDifference != null ">#{quantityDifference},</if>
            <if test="serialNumber != null  and serialNumber != ''">#{serialNumber},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="dataSource != null  and dataSource != ''">#{dataSource},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertKcsjEngineeringQuantitiesBillDetail -->
    <insert id="insertKcsjEngineeringQuantitiesBillDetailList">
        insert into kcsj_engineering_quantities_bill_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `main_id`,
            `pid`,
            `list_code`,
            `work_item_list`,
            `unit`,
            `previous_quantity`,
            `previous_id`,
            `workload`,
            `quantity_difference`,
            `serial_number`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `data_source`,
        </trim>
        values
        <foreach collection="kcsjEngineeringQuantitiesBillDetailList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.mainId},
                #{item.pid},
                #{item.listCode},
                #{item.workItemList},
                #{item.unit},
                #{item.previousQuantity},
                #{item.previousId},
                #{item.workload},
                #{item.quantityDifference},
                #{item.serialNumber},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.dataSource},
            </trim>
        </foreach>
    </insert>

    <update id="updateKcsjEngineeringQuantitiesBillDetail">
        update kcsj_engineering_quantities_bill_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="mainId != null ">`main_id` = #{mainId},</if>
            <if test="pid != null ">`pid` = #{pid},</if>
            <if test="listCode != null  and  listCode != ''">`list_code` = #{listCode},</if>
            <if test="workItemList != null  and  workItemList != ''">`work_item_list` = #{workItemList},</if>
            <if test="unit != null  and  unit != ''">`unit` = #{unit},</if>
            <if test="previousQuantity != null ">`previous_quantity` = #{previousQuantity},</if>
            <if test="previousId != null ">`previous_id` = #{previousId},</if>
            <if test="workload != null  and  workload != ''">`workload` = #{workload},</if>
            <if test="quantityDifference != null ">`quantity_difference` = #{quantityDifference},</if>
            <if test="serialNumber != null  and  serialNumber != ''">`serial_number` = #{serialNumber},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="dataSource != null  and  dataSource != ''">`data_source` = #{dataSource},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateKcsjEngineeringQuantitiesBillDetailList">
        update kcsj_engineering_quantities_bill_detail
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="main_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.mainId}
                </foreach>
            </trim>
            <trim prefix="pid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.pid}
                </foreach>
            </trim>
            <trim prefix="list_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.listCode}
                </foreach>
            </trim>
            <trim prefix="work_item_list  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.workItemList}
                </foreach>
            </trim>
            <trim prefix="unit  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.unit}
                </foreach>
            </trim>
            <trim prefix="previous_quantity  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.previousQuantity}
                </foreach>
            </trim>
            <trim prefix="previous_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.previousId}
                </foreach>
            </trim>
            <trim prefix="workload  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.workload}
                </foreach>
            </trim>
            <trim prefix="quantity_difference  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.quantityDifference}
                </foreach>
            </trim>
            <trim prefix="serial_number  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.serialNumber}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
            <trim prefix="data_source  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dataSource}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteKcsjEngineeringQuantitiesBillDetail">
        update `kcsj_engineering_quantities_bill_detail` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="mainId != null ">and `main_id` = #{mainId}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="listCode != null  and listCode != ''">and `list_code` = #{listCode}</if>
            <if test="workItemList != null  and workItemList != ''">and `work_item_list` = #{workItemList}</if>
            <if test="unit != null  and unit != ''">and `unit` = #{unit}</if>
            <if test="previousQuantity != null ">and `previous_quantity` = #{previousQuantity}</if>
            <if test="previousId != null ">and `previous_id` = #{previousId}</if>
            <if test="workload != null  and workload != ''">and `workload` = #{workload}</if>
            <if test="quantityDifference != null ">and `quantity_difference` = #{quantityDifference}</if>
            <if test="serialNumber != null  and serialNumber != ''">and `serial_number` = #{serialNumber}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="dataSource != null  and dataSource != ''">and `data_source` = #{dataSource}</if>
        </where>
    </update>

    <update id="deleteKcsjEngineeringQuantitiesBillDetailByPks">
        update `kcsj_engineering_quantities_bill_detail` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="kcsjEngineeringQuantitiesBillDetailPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>