<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.wzch.survey.mapper.WzchImportExportSurveyCustomsMapper">
    <resultMap type="com.hhwy.pm.qqch.wzch.survey.domain.WzchImportExportSurveyCustoms" id="WzchImportExportSurveyCustomsResult">
        <result property="id"    column="id"    />
        <result property="surveyId"    column="survey_id"    />
        <result property="customsName"    column="customs_name"    />
        <result property="customsId"    column="customs_id"    />
        <result property="customsSurvey"    column="customs_survey"    />
        <result property="portName"    column="port_name"    />
        <result property="portId"    column="port_id"    />
        <result property="customsCompanySurvey"    column="customs_company_survey"    />
        <result property="customsPolicy"    column="customs_policy"    />
        <result property="customsFollowProcess"    column="customs_follow_process"    />
        <result property="customsDutyState"    column="customs_duty_state"    />
        <result property="customsNote"    column="customs_note"    />
        <result property="fileGroupId"    column="file_group_id"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
    </resultMap>

    <sql id="selectWzchImportExportSurveyCustomsVo">
        select `id`, `survey_id`, `customs_name`, `customs_id`, `customs_survey`, `port_name`, `port_id`, `customs_company_survey`, `customs_policy`, `customs_follow_process`, `customs_duty_state`, `customs_note`, `file_group_id`, `remark`, `dept_id`, `create_user`, `create_user_name`, `create_time`, `update_user`, `update_user_name`, `update_time`, `del_user`, `del_time`, `del_flag`, `pt_var1`, `pt_var2`, `pt_var3` from `wzch_import_export_survey_customs`
    </sql>

    <select id="selectWzchImportExportSurveyCustomsList" parameterType="com.hhwy.pm.qqch.wzch.survey.domain.WzchImportExportSurveyCustoms" resultMap="WzchImportExportSurveyCustomsResult">
        <include refid="selectWzchImportExportSurveyCustomsVo"/>
        <where>
            `del_flag` = 0
            <if test="surveyId != null "> and `survey_id` = #{surveyId}</if>
            <if test="customsName != null  and customsName != ''"> and `customs_name` like concat('%', #{customsName}, '%')</if>
            <if test="customsId != null "> and `customs_id` = #{customsId}</if>
            <if test="customsSurvey != null  and customsSurvey != ''"> and `customs_survey` = #{customsSurvey}</if>
            <if test="portName != null  and portName != ''"> and `port_name` like concat('%', #{portName}, '%')</if>
            <if test="portId != null  and portId != ''"> and `port_id` = #{portId}</if>
            <if test="customsCompanySurvey != null  and customsCompanySurvey != ''"> and `customs_company_survey` = #{customsCompanySurvey}</if>
            <if test="customsPolicy != null  and customsPolicy != ''"> and `customs_policy` = #{customsPolicy}</if>
            <if test="customsFollowProcess != null  and customsFollowProcess != ''"> and `customs_follow_process` = #{customsFollowProcess}</if>
            <if test="customsDutyState != null  and customsDutyState != ''"> and `customs_duty_state` = #{customsDutyState}</if>
            <if test="customsNote != null  and customsNote != ''"> and `customs_note` = #{customsNote}</if>
            <if test="fileGroupId != null  and fileGroupId != ''"> and `file_group_id` = #{fileGroupId}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` like concat('%', #{createUserName}, '%')</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and `update_user_name` like concat('%', #{updateUserName}, '%')</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
        </where>
        order by `id`
    </select>
    
    <select id="selectWzchImportExportSurveyCustomsById" parameterType="Long" resultMap="WzchImportExportSurveyCustomsResult">
        <include refid="selectWzchImportExportSurveyCustomsVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertWzchImportExportSurveyCustoms" parameterType="com.hhwy.pm.qqch.wzch.survey.domain.WzchImportExportSurveyCustoms">
        insert into `wzch_import_export_survey_customs`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="surveyId != null">`survey_id`,</if>
            <if test="customsName != null">`customs_name`,</if>
            <if test="customsId != null">`customs_id`,</if>
            <if test="customsSurvey != null">`customs_survey`,</if>
            <if test="portName != null">`port_name`,</if>
            <if test="portId != null">`port_id`,</if>
            <if test="customsCompanySurvey != null">`customs_company_survey`,</if>
            <if test="customsPolicy != null">`customs_policy`,</if>
            <if test="customsFollowProcess != null">`customs_follow_process`,</if>
            <if test="customsDutyState != null">`customs_duty_state`,</if>
            <if test="customsNote != null">`customs_note`,</if>
            <if test="fileGroupId != null">`file_group_id`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createUserName != null">`create_user_name`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateUserName != null">`update_user_name`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="surveyId != null">#{surveyId},</if>
            <if test="customsName != null">#{customsName},</if>
            <if test="customsId != null">#{customsId},</if>
            <if test="customsSurvey != null">#{customsSurvey},</if>
            <if test="portName != null">#{portName},</if>
            <if test="portId != null">#{portId},</if>
            <if test="customsCompanySurvey != null">#{customsCompanySurvey},</if>
            <if test="customsPolicy != null">#{customsPolicy},</if>
            <if test="customsFollowProcess != null">#{customsFollowProcess},</if>
            <if test="customsDutyState != null">#{customsDutyState},</if>
            <if test="customsNote != null">#{customsNote},</if>
            <if test="fileGroupId != null">#{fileGroupId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
         </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `wzch_import_export_survey_customs` (
                                                `id`,
                                                                `survey_id`,
                                                                `customs_name`,
                                                                `customs_id`,
                                                                `customs_survey`,
                                                                `port_name`,
                                                                `port_id`,
                                                                `customs_company_survey`,
                                                                `customs_policy`,
                                                                `customs_follow_process`,
                                                                `customs_duty_state`,
                                                                `customs_note`,
                                                                `file_group_id`,
                                                                `remark`,
                                                                `dept_id`,
                                                                `create_user`,
                                                                `create_user_name`,
                                                                `create_time`,
                                                                `update_user`,
                                                                `update_user_name`,
                                                                `update_time`,
                                                                `del_user`,
                                                                `del_time`,
                                                                `del_flag`,
                                                                `pt_var1`,
                                                                `pt_var2`,
                                                                `pt_var3`
                                    )values
        <foreach collection="list" separator="," item="item" index="index" >
        ( #{item.id },
            #{item.surveyId},
            #{item.customsName},
            #{item.customsId},
            #{item.customsSurvey},
            #{item.portName},
            #{item.portId},
            #{item.customsCompanySurvey},
            #{item.customsPolicy},
            #{item.customsFollowProcess},
            #{item.customsDutyState},
            #{item.customsNote},
            #{item.fileGroupId},
            #{item.remark},
            #{item.deptId},
            #{item.createUser},
            #{item.createUserName},
            #{item.createTime},
            #{item.updateUser},
            #{item.updateUserName},
            #{item.updateTime},
            #{item.delUser},
            #{item.delTime},
            #{item.delFlag},
            #{item.ptVar1},
            #{item.ptVar2},
            #{item.ptVar3}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `wzch_import_export_survey_customs`
        <trim prefix="set" suffixOverrides=",">
                                                                <trim prefix="survey_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.surveyId != null ">
                                when `id` = #{item.id} then #{item.surveyId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsName != null ">
                                when `id` = #{item.id} then #{item.customsName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsId != null ">
                                when `id` = #{item.id} then #{item.customsId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_survey =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsSurvey != null ">
                                when `id` = #{item.id} then #{item.customsSurvey}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="port_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.portName != null ">
                                when `id` = #{item.id} then #{item.portName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="port_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.portId != null ">
                                when `id` = #{item.id} then #{item.portId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_company_survey =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsCompanySurvey != null ">
                                when `id` = #{item.id} then #{item.customsCompanySurvey}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_policy =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsPolicy != null ">
                                when `id` = #{item.id} then #{item.customsPolicy}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_follow_process =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsFollowProcess != null ">
                                when `id` = #{item.id} then #{item.customsFollowProcess}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_duty_state =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsDutyState != null ">
                                when `id` = #{item.id} then #{item.customsDutyState}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_note =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsNote != null ">
                                when `id` = #{item.id} then #{item.customsNote}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="file_group_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.fileGroupId != null ">
                                when `id` = #{item.id} then #{item.fileGroupId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="remark =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.remark != null ">
                                when `id` = #{item.id} then #{item.remark}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="dept_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.deptId != null ">
                                when `id` = #{item.id} then #{item.deptId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUser != null ">
                                when `id` = #{item.id} then #{item.createUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUserName != null ">
                                when `id` = #{item.id} then #{item.createUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createTime != null ">
                                when `id` = #{item.id} then #{item.createTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUser != null ">
                                when `id` = #{item.id} then #{item.updateUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUserName != null ">
                                when `id` = #{item.id} then #{item.updateUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateTime != null ">
                                when `id` = #{item.id} then #{item.updateTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delUser != null ">
                                when `id` = #{item.id} then #{item.delUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delTime != null ">
                                when `id` = #{item.id} then #{item.delTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_flag =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delFlag != null ">
                                when `id` = #{item.id} then #{item.delFlag}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var1 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar1 != null ">
                                when `id` = #{item.id} then #{item.ptVar1}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var2 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar2 != null ">
                                when `id` = #{item.id} then #{item.ptVar2}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var3 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar3 != null ">
                                when `id` = #{item.id} then #{item.ptVar3}
                            </if>
                        </foreach>
                    </trim>
                                    </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateWzchImportExportSurveyCustoms" parameterType="com.hhwy.pm.qqch.wzch.survey.domain.WzchImportExportSurveyCustoms">
        update `wzch_import_export_survey_customs`
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyId != null">`survey_id` = #{surveyId},</if>
            <if test="customsName != null">`customs_name` = #{customsName},</if>
            <if test="customsId != null">`customs_id` = #{customsId},</if>
            <if test="customsSurvey != null">`customs_survey` = #{customsSurvey},</if>
            <if test="portName != null">`port_name` = #{portName},</if>
            <if test="portId != null">`port_id` = #{portId},</if>
            <if test="customsCompanySurvey != null">`customs_company_survey` = #{customsCompanySurvey},</if>
            <if test="customsPolicy != null">`customs_policy` = #{customsPolicy},</if>
            <if test="customsFollowProcess != null">`customs_follow_process` = #{customsFollowProcess},</if>
            <if test="customsDutyState != null">`customs_duty_state` = #{customsDutyState},</if>
            <if test="customsNote != null">`customs_note` = #{customsNote},</if>
            <if test="fileGroupId != null">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createUserName != null">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateUserName != null">`update_user_name` = #{updateUserName},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteWzchImportExportSurveyCustomsById" parameterType="Long">
        update `wzch_import_export_survey_customs` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteWzchImportExportSurveyCustomsByIds" parameterType="String">
        update `wzch_import_export_survey_customs` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from wzch_import_export_survey_customs
        where  `id` in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteBySurveyId">
         delete from wzch_import_export_survey_customs
        where  `survey_id` = #{surveyId}

    </delete>

</mapper>