<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.sp.sciTech.sgjsTechMethod.mapper.SgjsTechMethodMapper">

    <resultMap type="com.hhwy.sp.sciTech.sgjsTechMethod.domain.SgjsTechMethod" id="SgjsTechMethodResultMap">
        <result property="id" column="id"/>
        <result property="techMethodCode" column="tech_method_code"/>
        <result property="techMethodName" column="tech_method_name"/>
        <result property="projectName" column="project_name"/>
        <result property="specialityType" column="speciality_type"/>
        <result property="specialitySector" column="speciality_sector"/>
        <result property="leader" column="leader"/>
        <result property="leaderContact" column="leader_contact"/>
        <result property="compOrgan" column="comp_organ"/>
        <result property="intellectualProperty" column="intellectual_property"/>
        <result property="applicationProof" column="application_proof"/>
        <result property="benefitAnalysis" column="benefit_analysis"/>
        <result property="level" column="level"/>
        <result property="techMethodIntroduction" column="tech_method_introduction"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="achievementDescription" column="achievement_description"/>
        <result property="achievementGroupId" column="achievement_group_id"/>
        <result property="otherGroupId" column="other_group_id"/>
        <result property="isPass" column="is_pass"/>
        <result property="registrantContact" column="registrant_contact"/>
        <result property="registrant" column="registrant"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="taskStatus" column="task_status"/>
        <result property="dataCurrentState" column="data_current_state"/>
        <result property="expertAdvice" column="expert_advice"/>
    </resultMap>
    <sql id="selectSgjsTechMethodVo">
        select `id`
             , `tech_method_code`
             , `tech_method_name`
             , `project_name`
             , `speciality_type`
             , `speciality_sector`
             , `leader`
             , `leader_contact`
             , `comp_organ`
             , `intellectual_property`
             , `application_proof`
             , `benefit_analysis`
             , `level`
             , `tech_method_introduction`
             , `file_group_id`
             , `achievement_description`
             , `achievement_group_id`
             , `other_group_id`
             , `is_pass`
             , `registrant_contact`
             , `registrant`
             , `remark`
             , `region_id`
             , `region_name`
             , `project_id`
             , `dept_id`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `pt_var1`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
             , `task_status`
             , `data_current_state`
             , `expert_advice`
        from sgjs_tech_method
    </sql>
    <select id="getSgjsTechMethod" resultMap="SgjsTechMethodResultMap">
        <include refid="selectSgjsTechMethodVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="techMethodCode != null  and techMethodCode != ''">and `tech_method_code` = #{techMethodCode}</if>
            <if test="techMethodName != null  and techMethodName != ''">and `tech_method_name` = #{techMethodName}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="specialityType != null  and specialityType != ''">and `speciality_type` = #{specialityType}</if>
            <if test="specialitySector != null  and specialitySector != ''">and `speciality_sector` =
                #{specialitySector}
            </if>
            <if test="leader != null  and leader != ''">and `leader` = #{leader}</if>
            <if test="leaderContact != null  and leaderContact != ''">and `leader_contact` = #{leaderContact}</if>
            <if test="compOrgan != null  and compOrgan != ''">and `comp_organ` = #{compOrgan}</if>
            <if test="intellectualProperty != null  and intellectualProperty != ''">and `intellectual_property` =
                #{intellectualProperty}
            </if>
            <if test="applicationProof != null  and applicationProof != ''">and `application_proof` =
                #{applicationProof}
            </if>
            <if test="benefitAnalysis != null  and benefitAnalysis != ''">and `benefit_analysis` = #{benefitAnalysis}
            </if>
            <if test="level != null  and level != ''">and `level` = #{level}</if>
            <if test="techMethodIntroduction != null  and techMethodIntroduction != ''">and `tech_method_introduction` =
                #{techMethodIntroduction}
            </if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="achievementDescription != null  and achievementDescription != ''">and `achievement_description` = #{achievementDescription}</if>
            <if test="achievementGroupId != null  and achievementGroupId != ''">and `achievement_group_id` = #{achievementGroupId}</if>
            <if test="otherGroupId != null  and otherGroupId != ''">and `other_group_id` = #{otherGroupId}</if>
            <if test="isPass != null  and isPass != ''">and `is_pass` = #{isPass}</if>
            <if test="registrantContact != null  and registrantContact != ''">and `registrant_contact` = #{registrantContact}</if>
            <if test="registrant != null  and registrant != ''">and `registrant` = #{registrant}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="dataCurrentState != null  and dataCurrentState != ''">and `data_current_state` = #{dataCurrentState}</if>
            <if test="expertAdvice != null  and expertAdvice != ''">and `expert_advice` = #{expertAdvice}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getSgjsTechMethodList" resultMap="SgjsTechMethodResultMap">
        <include refid="selectSgjsTechMethodVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="techMethodCode != null  and techMethodCode != ''">and `tech_method_code` = #{techMethodCode}</if>
            <if test="techMethodName != null  and techMethodName != ''">and `tech_method_name` = #{techMethodName}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="specialityType != null  and specialityType != ''">and `speciality_type` = #{specialityType}</if>
            <if test="specialitySector != null  and specialitySector != ''">and `speciality_sector` =
                #{specialitySector}
            </if>
            <if test="leader != null  and leader != ''">and `leader` = #{leader}</if>
            <if test="leaderContact != null  and leaderContact != ''">and `leader_contact` = #{leaderContact}</if>
            <if test="compOrgan != null  and compOrgan != ''">and `comp_organ` = #{compOrgan}</if>
            <if test="intellectualProperty != null  and intellectualProperty != ''">and `intellectual_property` =
                #{intellectualProperty}
            </if>
            <if test="applicationProof != null  and applicationProof != ''">and `application_proof` =
                #{applicationProof}
            </if>
            <if test="benefitAnalysis != null  and benefitAnalysis != ''">and `benefit_analysis` = #{benefitAnalysis}
            </if>
            <if test="level != null  and level != ''">and `level` = #{level}</if>
            <if test="techMethodIntroduction != null  and techMethodIntroduction != ''">and `tech_method_introduction` =
                #{techMethodIntroduction}
            </if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="achievementDescription != null  and achievementDescription != ''">and `achievement_description` = #{achievementDescription}</if>
            <if test="achievementGroupId != null  and achievementGroupId != ''">and `achievement_group_id` = #{achievementGroupId}</if>
            <if test="otherGroupId != null  and otherGroupId != ''">and `other_group_id` = #{otherGroupId}</if>
            <if test="isPass != null  and isPass != ''">and `is_pass` = #{isPass}</if>
            <if test="registrantContact != null  and registrantContact != ''">and `registrant_contact` = #{registrantContact}</if>
            <if test="registrant != null  and registrant != ''">and `registrant` = #{registrant}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="dataCurrentState != null  and dataCurrentState != ''">and `data_current_state` = #{dataCurrentState}</if>
            <if test="expertAdvice != null  and expertAdvice != ''">and `expert_advice` = #{expertAdvice}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getSgjsTechMethodList4ids" resultMap="SgjsTechMethodResultMap">
        <include refid="selectSgjsTechMethodVo"/>
        <where>
            `id` in
            <foreach item="id" collection="ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <insert id="insertSgjsTechMethod" useGeneratedKeys="true" keyProperty="id">
        insert into sgjs_tech_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="techMethodCode != null  and techMethodCode != ''">`tech_method_code`,</if>
            <if test="techMethodName != null  and techMethodName != ''">`tech_method_name`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="specialityType != null  and specialityType != ''">`speciality_type`,</if>
            <if test="specialitySector != null  and specialitySector != ''">`speciality_sector`,</if>
            <if test="leader != null  and leader != ''">`leader`,</if>
            <if test="leaderContact != null  and leaderContact != ''">`leader_contact`,</if>
            <if test="compOrgan != null  and compOrgan != ''">`comp_organ`,</if>
            <if test="intellectualProperty != null  and intellectualProperty != ''">`intellectual_property`,</if>
            <if test="applicationProof != null  and applicationProof != ''">`application_proof`,</if>
            <if test="benefitAnalysis != null  and benefitAnalysis != ''">`benefit_analysis`,</if>
            <if test="level != null  and level != ''">`level`,</if>
            <if test="techMethodIntroduction != null  and techMethodIntroduction != ''">`tech_method_introduction`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="achievementDescription != null  and achievementDescription != ''">`achievement_description`,</if>
            <if test="achievementGroupId != null  and achievementGroupId != ''">`achievement_group_id`,</if>
            <if test="otherGroupId != null  and otherGroupId != ''">`other_group_id`,</if>
            <if test="isPass != null  and isPass != ''">`is_pass`,</if>
            <if test="registrantContact != null  and registrantContact != ''">`registrant_contact`,</if>
            <if test="registrant != null  and registrant != ''">`registrant`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
            <if test="dataCurrentState != null  and dataCurrentState != ''">`data_current_state`,</if>
            <if test="expertAdvice != null  and expertAdvice != ''">`expert_advice`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="techMethodCode != null  and techMethodCode != ''">#{techMethodCode},</if>
            <if test="techMethodName != null  and techMethodName != ''">#{techMethodName},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="specialityType != null  and specialityType != ''">#{specialityType},</if>
            <if test="specialitySector != null  and specialitySector != ''">#{specialitySector},</if>
            <if test="leader != null  and leader != ''">#{leader},</if>
            <if test="leaderContact != null  and leaderContact != ''">#{leaderContact},</if>
            <if test="compOrgan != null  and compOrgan != ''">#{compOrgan},</if>
            <if test="intellectualProperty != null  and intellectualProperty != ''">#{intellectualProperty},</if>
            <if test="applicationProof != null  and applicationProof != ''">#{applicationProof},</if>
            <if test="benefitAnalysis != null  and benefitAnalysis != ''">#{benefitAnalysis},</if>
            <if test="level != null  and level != ''">#{level},</if>
            <if test="techMethodIntroduction != null  and techMethodIntroduction != ''">#{techMethodIntroduction},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="achievementDescription != null  and achievementDescription != ''">#{achievementDescription},</if>
            <if test="achievementGroupId != null  and achievementGroupId != ''">#{achievementGroupId},</if>
            <if test="otherGroupId != null  and otherGroupId != ''">#{otherGroupId},</if>
            <if test="isPass != null  and isPass != ''">#{isPass},</if>
            <if test="registrantContact != null  and registrantContact != ''">#{registrantContact},</if>
            <if test="registrant != null  and registrant != ''">#{registrant},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
            <if test="dataCurrentState != null  and dataCurrentState != ''">#{dataCurrentState},</if>
            <if test="expertAdvice != null  and expertAdvice != ''">#{expertAdvice},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertSgjsTechMethod -->
    <insert id="insertSgjsTechMethodList">
        insert into sgjs_tech_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `tech_method_code`,
            `tech_method_name`,
            `project_name`,
            `speciality_type`,
            `speciality_sector`,
            `leader`,
            `leader_contact`,
            `comp_organ`,
            `intellectual_property`,
            `application_proof`,
            `benefit_analysis`,
            `level`,
            `tech_method_introduction`,
            `file_group_id`,
            `achievement_description`,
            `achievement_group_id`,
            `other_group_id`,
            `is_pass`,
            `registrant_contact`,
            `registrant`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `task_status`,
            `data_current_state`,
            `expert_advice`,
        </trim>
        values
        <foreach collection="sgjsTechMethodList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.techMethodCode},
                #{item.techMethodName},
                #{item.projectName},
                #{item.specialityType},
                #{item.specialitySector},
                #{item.leader},
                #{item.leaderContact},
                #{item.compOrgan},
                #{item.intellectualProperty},
                #{item.applicationProof},
                #{item.benefitAnalysis},
                #{item.level},
                #{item.techMethodIntroduction},
                #{item.fileGroupId},
                #{item.achievementDescription},
                #{item.achievementGroupId},
                #{item.otherGroupId},
                #{item.isPass},
                #{item.registrantContact},
                #{item.registrant},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.taskStatus},
                #{item.dataCurrentState},
                #{item.expertAdvice},
            </trim>
        </foreach>
    </insert>

    <update id="updateSgjsTechMethod">
        update sgjs_tech_method
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="techMethodCode != null  and  techMethodCode != ''">`tech_method_code` = #{techMethodCode},</if>
            <if test="techMethodName != null  and  techMethodName != ''">`tech_method_name` = #{techMethodName},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="specialityType != null  and  specialityType != ''">`speciality_type` = #{specialityType},</if>
            <if test="specialitySector != null  and  specialitySector != ''">`speciality_sector` =
                #{specialitySector},
            </if>
            <if test="leader != null  and  leader != ''">`leader` = #{leader},</if>
            <if test="leaderContact != null  and  leaderContact != ''">`leader_contact` = #{leaderContact},</if>
            <if test="compOrgan != null  and  compOrgan != ''">`comp_organ` = #{compOrgan},</if>
            <if test="intellectualProperty != null  and  intellectualProperty != ''">`intellectual_property` =
                #{intellectualProperty},
            </if>
            <if test="applicationProof != null  and  applicationProof != ''">`application_proof` =
                #{applicationProof},
            </if>
            <if test="benefitAnalysis != null  and  benefitAnalysis != ''">`benefit_analysis` = #{benefitAnalysis},</if>
            <if test="level != null  and  level != ''">`level` = #{level},</if>
            <if test="techMethodIntroduction != null  and  techMethodIntroduction != ''">`tech_method_introduction` =
                #{techMethodIntroduction},
            </if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="achievementDescription != null  and  achievementDescription != ''">`achievement_description` = #{achievementDescription},</if>
            <if test="achievementGroupId != null  and  achievementGroupId != ''">`achievement_group_id` = #{achievementGroupId},</if>
            <if test="otherGroupId != null  and  otherGroupId != ''">`other_group_id` = #{otherGroupId},</if>
            <if test="isPass != null  and  isPass != ''">`is_pass` = #{isPass},</if>
            <if test="registrantContact != null  and  registrantContact != ''">`registrant_contact` = #{registrantContact},</if>
            <if test="registrant != null  and  registrant != ''">`registrant` = #{registrant},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
            <if test="dataCurrentState != null  and  dataCurrentState != ''">`data_current_state` = #{dataCurrentState},</if>
            <if test="expertAdvice != null  and  expertAdvice != ''">`expert_advice` = #{expertAdvice},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateSgjsTechMethodList">
        update sgjs_tech_method
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="tech_method_code  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.techMethodCode}
                </foreach>
            </trim>
            <trim prefix="tech_method_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.techMethodName}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="speciality_type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.specialityType}
                </foreach>
            </trim>
            <trim prefix="speciality_sector  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.specialitySector}
                </foreach>
            </trim>
            <trim prefix="leader  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.leader}
                </foreach>
            </trim>
            <trim prefix="leader_contact  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.leaderContact}
                </foreach>
            </trim>
            <trim prefix="comp_organ  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.compOrgan}
                </foreach>
            </trim>
            <trim prefix="intellectual_property  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.intellectualProperty}
                </foreach>
            </trim>
            <trim prefix="application_proof  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.applicationProof}
                </foreach>
            </trim>
            <trim prefix="benefit_analysis  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.benefitAnalysis}
                </foreach>
            </trim>
            <trim prefix="level  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.level}
                </foreach>
            </trim>
            <trim prefix="tech_method_introduction  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.techMethodIntroduction}
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.fileGroupId}
                </foreach>
            </trim>
            <trim prefix="achievement_description  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.achievementDescription}
                </foreach>
            </trim>
            <trim prefix="achievement_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.achievementGroupId}
                </foreach>
            </trim>
            <trim prefix="other_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.otherGroupId}
                </foreach>
            </trim>
            <trim prefix="is_pass  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.isPass}
                </foreach>
            </trim>
            <trim prefix="registrant_contact  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.registrantContact}
                </foreach>
            </trim>
            <trim prefix="registrant  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.registrant}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
            <trim prefix="task_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.taskStatus}
                </foreach>
            </trim>
            <trim prefix="data_current_state  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.dataCurrentState}
                </foreach>
            </trim>
            <trim prefix="expert_advice  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.expertAdvice}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteSgjsTechMethod">
        update `sgjs_tech_method` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="techMethodCode != null  and techMethodCode != ''">and `tech_method_code` = #{techMethodCode}</if>
            <if test="techMethodName != null  and techMethodName != ''">and `tech_method_name` = #{techMethodName}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="specialityType != null  and specialityType != ''">and `speciality_type` = #{specialityType}</if>
            <if test="specialitySector != null  and specialitySector != ''">and `speciality_sector` =
                #{specialitySector}
            </if>
            <if test="leader != null  and leader != ''">and `leader` = #{leader}</if>
            <if test="leaderContact != null  and leaderContact != ''">and `leader_contact` = #{leaderContact}</if>
            <if test="compOrgan != null  and compOrgan != ''">and `comp_organ` = #{compOrgan}</if>
            <if test="intellectualProperty != null  and intellectualProperty != ''">and `intellectual_property` =
                #{intellectualProperty}
            </if>
            <if test="applicationProof != null  and applicationProof != ''">and `application_proof` =
                #{applicationProof}
            </if>
            <if test="benefitAnalysis != null  and benefitAnalysis != ''">and `benefit_analysis` = #{benefitAnalysis}
            </if>
            <if test="level != null  and level != ''">and `level` = #{level}</if>
            <if test="techMethodIntroduction != null  and techMethodIntroduction != ''">and `tech_method_introduction` =
                #{techMethodIntroduction}
            </if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="achievementDescription != null  and achievementDescription != ''">and `achievement_description` = #{achievementDescription}</if>
            <if test="achievementGroupId != null  and achievementGroupId != ''">and `achievement_group_id` = #{achievementGroupId}</if>
            <if test="otherGroupId != null  and otherGroupId != ''">and `other_group_id` = #{otherGroupId}</if>
            <if test="isPass != null  and isPass != ''">and `is_pass` = #{isPass}</if>
            <if test="registrantContact != null  and registrantContact != ''">and `registrant_contact` = #{registrantContact}</if>
            <if test="registrant != null  and registrant != ''">and `registrant` = #{registrant}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="dataCurrentState != null  and dataCurrentState != ''">and `data_current_state` = #{dataCurrentState}</if>
            <if test="expertAdvice != null  and expertAdvice != ''">and `expert_advice` = #{expertAdvice}</if>
        </where>
    </update>

    <update id="deleteSgjsTechMethodByPks">
        update `sgjs_tech_method` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="sgjsTechMethodPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>