<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.sgch.qqchLabourDemandPlan.mapper.QqchLabourDemandPlanMapper">

    <resultMap type="com.hhwy.pm.qqch.sgch.qqchLabourDemandPlan.domain.QqchLabourDemandPlan"
               id="QqchLabourDemandPlanResultMap">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="outId" column="out_id"/>
        <result property="jobName" column="job_name"/>
        <result property="workTeam" column="work_team"/>
        <result property="chinaNum" column="china_num"/>
        <result property="outNum" column="out_num"/>
        <result property="total" column="total"/>
        <result property="outProportion" column="out_proportion"/>
        <result property="entryDate" column="entry_date"/>
        <result property="exitDate" column="exit_date"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="remark" column="remark"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="taskStatus" column="task_status"/>
        <result property="version" column="version"/>
        <result property="valid" column="valid"/>
        <result property="occupationCode" column="occupation_code"/>
    </resultMap>
    <sql id="selectQqchLabourDemandPlanVo">
        SELECT `id`
                , `out_id`
                , `job_name`
                , `pid`
                , `work_team`
                , `china_num`
                , `out_num`
                , `total`
                , `out_proportion`
                , `entry_date`
                , `exit_date`
                , `file_group_id`
                , `remark`
                , `region_id`
                , `region_name`
                , `project_id`
                , `project_name`
                , `dept_id`
                , `create_user`
                , `create_user_name`
                , `create_time`
                , `update_user`
                , `update_time`
                , `del_user`
                , `del_time`
                , `del_flag`
                , `pt_var1`
                , `pt_var2`
                , `pt_var3`
                , `pt_var4`
                , `pt_var5`
                , `task_status`
                , `version`
                , `valid`
                , `occupation_code`
        FROM qqch_labour_demand_plan
    </sql>

    <sql id="dynamicWhere">
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="outId != null  and outId != ''">and `out_id` = #{outId}</if>
            <if test="jobName != null  and jobName != ''">and `job_name` = #{jobName}</if>
            <if test="workTeam != null  and workTeam != ''">and `work_team` = #{workTeam}</if>
            <if test="chinaNum != null ">and `china_num` = #{chinaNum}</if>
            <if test="outNum != null ">and `out_num` = #{outNum}</if>
            <if test="total != null ">and `total` = #{total}</if>
            <if test="outProportion != null ">and `out_proportion` = #{outProportion}</if>
            <if test="entryDate != null ">and `entry_date` = #{entryDate}</if>
            <if test="exitDate != null ">and `exit_date` = #{exitDate}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="occupationCode != null  and occupationCode != ''">and `occupation_code` = #{occupationCode}</if>
        </where>
    </sql>

    <select id="personNumCalc" resultType="map">
        SELECT
            SUM( IFNULL( total, 0 ) ) AS amountNum,
            SUM( IFNULL( china_num, 0 ) ) AS chinaNum,
            SUM( IFNULL( out_num, 0 ) ) AS foreignNum,
            CASE

                WHEN SUM( total ) = 0 THEN
                    0
                WHEN SUM( out_num ) = 0 THEN
                    0 ELSE CONCAT( TRUNCATE ( ( SUM( out_num ) / SUM( total ) ), 0 ), '%' )
                END AS rateNum
        FROM
            qqch_labour_demand_plan
        <include refid="dynamicWhere"/>
    </select>

    <select id="getQqchLabourDemandPlan" resultMap="QqchLabourDemandPlanResultMap">
        <include refid="selectQqchLabourDemandPlanVo"/>
        <include refid="dynamicWhere"/>
        order by create_time desc
    </select>

    <select id="getQqchLabourDemandPlanList" resultMap="QqchLabourDemandPlanResultMap">
        <include refid="selectQqchLabourDemandPlanVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="outId != null  and outId != ''">and `out_id` = #{outId}</if>
            <if test="jobName != null  and jobName != ''">and `job_name` = #{jobName}</if>
            <if test="workTeam != null  and workTeam != ''">and `work_team` = #{workTeam}</if>
            <if test="chinaNum != null ">and `china_num` = #{chinaNum}</if>
            <if test="outNum != null ">and `out_num` = #{outNum}</if>
            <if test="total != null ">and `total` = #{total}</if>
            <if test="outProportion != null ">and `out_proportion` = #{outProportion}</if>
            <if test="entryDate != null ">and `entry_date` = #{entryDate}</if>
            <if test="exitDate != null ">and `exit_date` = #{exitDate}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="occupationCode != null  and occupationCode != ''">and `occupation_code` = #{occupationCode}</if>
            <if test="jobNames!=null and jobNames.size>0">
                and job_name in
                <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                    #{jobName}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertQqchLabourDemandPlan" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_labour_demand_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="pid != null ">`pid`,</if>
            <if test="outId != null  and outId != ''">`out_id`,</if>
            <if test="jobName != null  and jobName != ''">`job_name`,</if>
            <if test="workTeam != null  and workTeam != ''">`work_team`,</if>
            <if test="chinaNum != null ">`china_num`,</if>
            <if test="outNum != null ">`out_num`,</if>
            <if test="total != null ">`total`,</if>
            <if test="outProportion != null ">`out_proportion`,</if>
            <if test="entryDate != null ">`entry_date`,</if>
            <if test="exitDate != null ">`exit_date`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
            <if test="version != null ">`version`,</if>
            <if test="valid != null  and valid != ''">`valid`,</if>
            <if test="occupationCode != null  and occupationCode != ''">`occupation_code`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="outId != null  and outId != ''">#{outId},</if>
            <if test="jobName != null  and jobName != ''">#{jobName},</if>
            <if test="workTeam != null  and workTeam != ''">#{workTeam},</if>
            <if test="chinaNum != null ">#{chinaNum},</if>
            <if test="outNum != null ">#{outNum},</if>
            <if test="total != null ">#{total},</if>
            <if test="outProportion != null ">#{outProportion},</if>
            <if test="entryDate != null ">#{entryDate},</if>
            <if test="exitDate != null ">#{exitDate},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
            <if test="version != null ">#{version},</if>
            <if test="valid != null  and valid != ''">#{valid},</if>
            <if test="occupationCode != null  and occupationCode != ''">#{occupationCode},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchLabourDemandPlan -->
    <insert id="insertQqchLabourDemandPlanList">
        insert into qqch_labour_demand_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `pid`,
            `out_id`,
            `job_name`,
            `work_team`,
            `china_num`,
            `out_num`,
            `total`,
            `out_proportion`,
            `entry_date`,
            `exit_date`,
            `file_group_id`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `task_status`,
            `version`,
            `valid`,
            `occupation_code`,
        </trim>
        values
        <foreach collection="qqchLabourDemandPlanList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.pid},
                #{item.outId},
                #{item.jobName},
                #{item.workTeam},
                #{item.chinaNum},
                #{item.outNum},
                #{item.total},
                #{item.outProportion},
                #{item.entryDate},
                #{item.exitDate},
                #{item.fileGroupId},
                #{item.remark},
                #{item.regionId},
                #{item.regionName},
                #{item.projectId},
                #{item.projectName},
                #{item.deptId},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.taskStatus},
                #{item.version},
                #{item.valid},
                #{item.occupationCode},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchLabourDemandPlan">
        update qqch_labour_demand_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="pid != null ">`pid` = #{pid},</if>
            <if test="outId != null  and  outId != ''">`out_id` = #{outId},</if>
            <if test="jobName != null  and  jobName != ''">`job_name` = #{jobName},</if>
            <if test="workTeam != null  and  workTeam != ''">`work_team` = #{workTeam},</if>
            <if test="chinaNum != null ">`china_num` = #{chinaNum},</if>
            <if test="outNum != null ">`out_num` = #{outNum},</if>
            <if test="total != null ">`total` = #{total},</if>
            <if test="outProportion != null ">`out_proportion` = #{outProportion},</if>
            <if test="entryDate != null ">`entry_date` = #{entryDate},</if>
            <if test="exitDate != null ">`exit_date` = #{exitDate},</if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
            <if test="version != null ">`version` = #{version},</if>
            <if test="valid != null  and  valid != ''">`valid` = #{valid},</if>
            <if test="occupationCode != null  and occupationCode != ''">`occupation_code` = #{occupationCode},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchLabourDemandPlanList">
        update qqch_labour_demand_plan
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>

            <trim prefix="pid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.pid}
                </foreach>
            </trim>
            <trim prefix="out_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.outId}
                </foreach>
            </trim>
            <trim prefix="job_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.jobName}
                </foreach>
            </trim>
            <trim prefix="work_team  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.workTeam}
                </foreach>
            </trim>
            <trim prefix="china_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.chinaNum}
                </foreach>
            </trim>
            <trim prefix="out_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.outNum}
                </foreach>
            </trim>
            <trim prefix="total  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.total}
                </foreach>
            </trim>
            <trim prefix="out_proportion  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.outProportion}
                </foreach>
            </trim>
            <trim prefix="entry_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.entryDate}
                </foreach>
            </trim>
            <trim prefix="exit_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.exitDate}
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.fileGroupId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
            <trim prefix="task_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.taskStatus}
                </foreach>
            </trim>
            <trim prefix="version  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.version}
                </foreach>
            </trim>
            <trim prefix="valid  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.valid}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchLabourDemandPlan">
        update `qqch_labour_demand_plan` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="outId != null  and outId != ''">and `out_id` = #{outId}</if>
            <if test="jobName != null  and jobName != ''">and `job_name` = #{jobName}</if>
            <if test="workTeam != null  and workTeam != ''">and `work_team` = #{workTeam}</if>
            <if test="chinaNum != null ">and `china_num` = #{chinaNum}</if>
            <if test="outNum != null ">and `out_num` = #{outNum}</if>
            <if test="total != null ">and `total` = #{total}</if>
            <if test="outProportion != null ">and `out_proportion` = #{outProportion}</if>
            <if test="entryDate != null ">and `entry_date` = #{entryDate}</if>
            <if test="exitDate != null ">and `exit_date` = #{exitDate}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="occupationCode != null  and occupationCode != ''">and `occupation_code` = #{occupationCode}</if>
        </where>
    </update>

    <update id="deleteQqchLabourDemandPlanByPks">
        update `qqch_labour_demand_plan` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchLabourDemandPlanPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="selectCount" resultType="com.hhwy.pm.qqch.sgch.qqchLabourDemandPlan.domain.vo.QqchLabourDemandPlanDto">
        SELECT `id`,
            `out_id`,
            `job_name`,
            `pid`,
            `work_team`,
            `china_num`,
            `out_num`,
            `total` AS num,
            `out_proportion`,
            `entry_date` AS startTime,
            `exit_date` AS endTime,
            `file_group_id`,
            `remark`,
            `region_id`,
            `region_name`,
            `project_id`,
            `project_name`,
            `dept_id`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `del_flag`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `task_status`,
            `version`,
            `valid`,
            `occupation_code`
        FROM qqch_labour_demand_plan
        WHERE del_flag = "0" AND pid = #{pid} and entry_date is not null and exit_date is not null
        ORDER BY create_time DESC
    </select>


    <select id="getQqchLabourDemandPlan1" resultMap="QqchLabourDemandPlanResultMap">
        <include refid="selectQqchLabourDemandPlanVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="outId != null  and outId != ''">and `out_id` = #{outId}</if>
            <if test="jobName != null  and jobName != ''">and `job_name` = #{jobName}</if>
            <if test="workTeam != null  and workTeam != ''">and `work_team` = #{workTeam}</if>
            <if test="chinaNum != null ">and `china_num` = #{chinaNum}</if>
            <if test="outNum != null ">and `out_num` = #{outNum}</if>
            <if test="total != null ">and `total` = #{total}</if>
            <if test="outProportion != null ">and `out_proportion` = #{outProportion}</if>
            <if test="entryDate != null ">and `entry_date` = #{entryDate}</if>
            <if test="exitDate != null ">and `exit_date` = #{exitDate}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="occupationCode != null  and occupationCode != ''">and `occupation_code` = #{occupationCode}</if>
        </where>
        and entry_date is not null
        order by entry_date limit 1
    </select>

    <select id="getQqchLabourDemandPlan2" resultMap="QqchLabourDemandPlanResultMap">
        <include refid="selectQqchLabourDemandPlanVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="pid != null ">and `pid` = #{pid}</if>
            <if test="outId != null  and outId != ''">and `out_id` = #{outId}</if>
            <if test="jobName != null  and jobName != ''">and `job_name` = #{jobName}</if>
            <if test="workTeam != null  and workTeam != ''">and `work_team` = #{workTeam}</if>
            <if test="chinaNum != null ">and `china_num` = #{chinaNum}</if>
            <if test="outNum != null ">and `out_num` = #{outNum}</if>
            <if test="total != null ">and `total` = #{total}</if>
            <if test="outProportion != null ">and `out_proportion` = #{outProportion}</if>
            <if test="entryDate != null ">and `entry_date` = #{entryDate}</if>
            <if test="exitDate != null ">and `exit_date` = #{exitDate}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="version != null ">and `version` = #{version}</if>
            <if test="valid != null  and valid != ''">and `valid` = #{valid}</if>
            <if test="occupationCode != null  and occupationCode != ''">and `occupation_code` = #{occupationCode}</if>
        </where>
        order by exit_date desc limit 1
    </select>

</mapper>