<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.mapper.SbchEquipmentAllotTransnationalImportMapper">
    <resultMap type="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalImport" id="SbchEquipmentAllotTransnationalImportResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="importProject"    column="import_project"    />
        <result property="importType"    column="import_type"    />
        <result property="consigneeInfo"    column="consignee_info"    />
        <result property="portName"    column="port_name"    />
        <result property="customsName"    column="customs_name"    />
        <result property="customsIntro"    column="customs_intro"    />
        <result property="tariffCondition"    column="tariff_condition"    />
        <result property="clearancePolicy"    column="clearance_policy"    />
        <result property="clearanceFlow"    column="clearance_flow"    />
        <result property="companyIntro"    column="company_intro"    />
        <result property="clearancePrecautions"    column="clearance_precautions"    />
        <result property="fileGroupId"    column="file_group_id"    />
        <result property="remark"    column="remark"    />
        <result property="createUser"    column="create_user"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
        <result property="ptVar4"    column="pt_var4"    />
        <result property="deptId"    column="dept_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="regionId"    column="region_id"    />
        <result property="region"    column="region"    />
    </resultMap>

    <sql id="selectSbchEquipmentAllotTransnationalImportVo">
        select `id`, `main_id`, `import_project`, `import_type`, `consignee_info`, `port_name`, `customs_name`, `customs_intro`, `tariff_condition`, `clearance_policy`, `clearance_flow`, `company_intro`, `clearance_precautions`, `file_group_id`, `remark`, `create_user`, `create_user_name`, `create_time`, `update_user`, `update_user_name`, `update_time`, `del_user`, `del_time`, `del_flag`, `pt_var1`, `pt_var2`, `pt_var3`, `pt_var4`, `dept_id`, `project_id`, `region_id`, `region` from `sbch_equipment_allot_transnational_import`
    </sql>

    <select id="selectSbchEquipmentAllotTransnationalImportList" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalImport" resultMap="SbchEquipmentAllotTransnationalImportResult">
        <include refid="selectSbchEquipmentAllotTransnationalImportVo"/>
        <where>
            `del_flag` = 0
            <if test="mainId != null "> and `main_id` = #{mainId}</if>
            <if test="importProject != null  and importProject != ''"> and `import_project` = #{importProject}</if>
            <if test="importType != null  and importType != ''"> and `import_type` = #{importType}</if>
            <if test="consigneeInfo != null  and consigneeInfo != ''"> and `consignee_info` = #{consigneeInfo}</if>
            <if test="portName != null  and portName != ''"> and `port_name` like concat('%', #{portName}, '%')</if>
            <if test="customsName != null  and customsName != ''"> and `customs_name` like concat('%', #{customsName}, '%')</if>
            <if test="customsIntro != null  and customsIntro != ''"> and `customs_intro` = #{customsIntro}</if>
            <if test="tariffCondition != null  and tariffCondition != ''"> and `tariff_condition` = #{tariffCondition}</if>
            <if test="clearancePolicy != null  and clearancePolicy != ''"> and `clearance_policy` = #{clearancePolicy}</if>
            <if test="clearanceFlow != null  and clearanceFlow != ''"> and `clearance_flow` = #{clearanceFlow}</if>
            <if test="companyIntro != null  and companyIntro != ''"> and `company_intro` = #{companyIntro}</if>
            <if test="clearancePrecautions != null  and clearancePrecautions != ''"> and `clearance_precautions` = #{clearancePrecautions}</if>
            <if test="fileGroupId != null  and fileGroupId != ''"> and `file_group_id` = #{fileGroupId}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` like concat('%', #{createUserName}, '%')</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and `update_user_name` like concat('%', #{updateUserName}, '%')</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var4` = #{ptVar4}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="region != null  and region != ''"> and `region` = #{region}</if>
        </where>
        order by `id` desc
    </select>
    
    <select id="selectSbchEquipmentAllotTransnationalImportById" parameterType="Long" resultMap="SbchEquipmentAllotTransnationalImportResult">
        <include refid="selectSbchEquipmentAllotTransnationalImportVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSbchEquipmentAllotTransnationalImport" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalImport">
        insert into `sbch_equipment_allot_transnational_import`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="mainId != null">`main_id`,</if>
            <if test="importProject != null">`import_project`,</if>
            <if test="importType != null">`import_type`,</if>
            <if test="consigneeInfo != null">`consignee_info`,</if>
            <if test="portName != null">`port_name`,</if>
            <if test="customsName != null">`customs_name`,</if>
            <if test="customsIntro != null">`customs_intro`,</if>
            <if test="tariffCondition != null">`tariff_condition`,</if>
            <if test="clearancePolicy != null">`clearance_policy`,</if>
            <if test="clearanceFlow != null">`clearance_flow`,</if>
            <if test="companyIntro != null">`company_intro`,</if>
            <if test="clearancePrecautions != null">`clearance_precautions`,</if>
            <if test="fileGroupId != null">`file_group_id`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createUserName != null">`create_user_name`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateUserName != null">`update_user_name`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="ptVar4 != null">`pt_var4`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="regionId != null">`region_id`,</if>
            <if test="region != null">`region`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="importProject != null">#{importProject},</if>
            <if test="importType != null">#{importType},</if>
            <if test="consigneeInfo != null">#{consigneeInfo},</if>
            <if test="portName != null">#{portName},</if>
            <if test="customsName != null">#{customsName},</if>
            <if test="customsIntro != null">#{customsIntro},</if>
            <if test="tariffCondition != null">#{tariffCondition},</if>
            <if test="clearancePolicy != null">#{clearancePolicy},</if>
            <if test="clearanceFlow != null">#{clearanceFlow},</if>
            <if test="companyIntro != null">#{companyIntro},</if>
            <if test="clearancePrecautions != null">#{clearancePrecautions},</if>
            <if test="fileGroupId != null">#{fileGroupId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="ptVar4 != null">#{ptVar4},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="region != null">#{region},</if>
         </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `sbch_equipment_allot_transnational_import` (
                                                `id`,
                                                                `main_id`,
                                                                `import_project`,
                                                                `import_type`,
                                                                `consignee_info`,
                                                                `port_name`,
                                                                `customs_name`,
                                                                `customs_intro`,
                                                                `tariff_condition`,
                                                                `clearance_policy`,
                                                                `clearance_flow`,
                                                                `company_intro`,
                                                                `clearance_precautions`,
                                                                `file_group_id`,
                                                                `remark`,
                                                                `create_user`,
                                                                `create_user_name`,
                                                                `create_time`,
                                                                `update_user`,
                                                                `update_user_name`,
                                                                `update_time`,
                                                                `del_user`,
                                                                `del_time`,
                                                                `del_flag`,
                                                                `pt_var1`,
                                                                `pt_var2`,
                                                                `pt_var3`,
                                                                `pt_var4`,
                                                                `dept_id`,
                                                                `project_id`,
                                                                `region_id`,
                                                                `region`
                                    )values
        <foreach collection="list" separator="," item="item" index="index" >
                                                (#{item.id},
                                                                #{item.mainId},
                                                                #{item.importProject},
                                                                #{item.importType},
                                                                #{item.consigneeInfo},
                                                                #{item.portName},
                                                                #{item.customsName},
                                                                #{item.customsIntro},
                                                                #{item.tariffCondition},
                                                                #{item.clearancePolicy},
                                                                #{item.clearanceFlow},
                                                                #{item.companyIntro},
                                                                #{item.clearancePrecautions},
                                                                #{item.fileGroupId},
                                                                #{item.remark},
                                                                #{item.createUser},
                                                                #{item.createUserName},
                                                                #{item.createTime},
                                                                #{item.updateUser},
                                                                #{item.updateUserName},
                                                                #{item.updateTime},
                                                                #{item.delUser},
                                                                #{item.delTime},
                                                                #{item.delFlag},
                                                                #{item.ptVar1},
                                                                #{item.ptVar2},
                                                                #{item.ptVar3},
                                                                #{item.ptVar4},
                                                                #{item.deptId},
                                                                #{item.projectId},
                                                                #{item.regionId},
                                                                #{item.region})
                                    </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `sbch_equipment_allot_transnational_import`
        <trim prefix="set" suffixOverrides=",">
                                                                <trim prefix="main_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.mainId != null ">
                                when `id` = #{item.id} then #{item.mainId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="import_project =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.importProject != null ">
                                when `id` = #{item.id} then #{item.importProject}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="import_type =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.importType != null ">
                                when `id` = #{item.id} then #{item.importType}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="consignee_info =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.consigneeInfo != null ">
                                when `id` = #{item.id} then #{item.consigneeInfo}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="port_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.portName != null ">
                                when `id` = #{item.id} then #{item.portName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsName != null ">
                                when `id` = #{item.id} then #{item.customsName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="customs_intro =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.customsIntro != null ">
                                when `id` = #{item.id} then #{item.customsIntro}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="tariff_condition =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.tariffCondition != null ">
                                when `id` = #{item.id} then #{item.tariffCondition}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="clearance_policy =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.clearancePolicy != null ">
                                when `id` = #{item.id} then #{item.clearancePolicy}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="clearance_flow =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.clearanceFlow != null ">
                                when `id` = #{item.id} then #{item.clearanceFlow}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="company_intro =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.companyIntro != null ">
                                when `id` = #{item.id} then #{item.companyIntro}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="clearance_precautions =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.clearancePrecautions != null ">
                                when `id` = #{item.id} then #{item.clearancePrecautions}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="file_group_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.fileGroupId != null ">
                                when `id` = #{item.id} then #{item.fileGroupId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="remark =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.remark != null ">
                                when `id` = #{item.id} then #{item.remark}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUser != null ">
                                when `id` = #{item.id} then #{item.createUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createUserName != null ">
                                when `id` = #{item.id} then #{item.createUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="create_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.createTime != null ">
                                when `id` = #{item.id} then #{item.createTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUser != null ">
                                when `id` = #{item.id} then #{item.updateUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_user_name =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateUserName != null ">
                                when `id` = #{item.id} then #{item.updateUserName}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="update_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.updateTime != null ">
                                when `id` = #{item.id} then #{item.updateTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_user =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delUser != null ">
                                when `id` = #{item.id} then #{item.delUser}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_time =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delTime != null ">
                                when `id` = #{item.id} then #{item.delTime}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="del_flag =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.delFlag != null ">
                                when `id` = #{item.id} then #{item.delFlag}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var1 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar1 != null ">
                                when `id` = #{item.id} then #{item.ptVar1}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var2 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar2 != null ">
                                when `id` = #{item.id} then #{item.ptVar2}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var3 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar3 != null ">
                                when `id` = #{item.id} then #{item.ptVar3}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="pt_var4 =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.ptVar4 != null ">
                                when `id` = #{item.id} then #{item.ptVar4}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="dept_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.deptId != null ">
                                when `id` = #{item.id} then #{item.deptId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="project_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.projectId != null ">
                                when `id` = #{item.id} then #{item.projectId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region_id =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.regionId != null ">
                                when `id` = #{item.id} then #{item.regionId}
                            </if>
                        </foreach>
                    </trim>
                                                    <trim prefix="region =case" suffix="end,">
                        <foreach collection="dataList" item="item" index="index">
                            <if test="item.region != null ">
                                when `id` = #{item.id} then #{item.region}
                            </if>
                        </foreach>
                    </trim>
                                    </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateSbchEquipmentAllotTransnationalImport" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalImport">
        update `sbch_equipment_allot_transnational_import`
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null">`main_id` = #{mainId},</if>
            <if test="importProject != null">`import_project` = #{importProject},</if>
            <if test="importType != null">`import_type` = #{importType},</if>
            <if test="consigneeInfo != null">`consignee_info` = #{consigneeInfo},</if>
            <if test="portName != null">`port_name` = #{portName},</if>
            <if test="customsName != null">`customs_name` = #{customsName},</if>
            <if test="customsIntro != null">`customs_intro` = #{customsIntro},</if>
            <if test="tariffCondition != null">`tariff_condition` = #{tariffCondition},</if>
            <if test="clearancePolicy != null">`clearance_policy` = #{clearancePolicy},</if>
            <if test="clearanceFlow != null">`clearance_flow` = #{clearanceFlow},</if>
            <if test="companyIntro != null">`company_intro` = #{companyIntro},</if>
            <if test="clearancePrecautions != null">`clearance_precautions` = #{clearancePrecautions},</if>
            <if test="fileGroupId != null">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createUserName != null">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateUserName != null">`update_user_name` = #{updateUserName},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null">`pt_var4` = #{ptVar4},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="regionId != null">`region_id` = #{regionId},</if>
            <if test="region != null">`region` = #{region},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSbchEquipmentAllotTransnationalImportById" parameterType="Long">
        update `sbch_equipment_allot_transnational_import` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteSbchEquipmentAllotTransnationalImportByIds" parameterType="String">
        update `sbch_equipment_allot_transnational_import` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="deleteDetailsByMainId" parameterType="Long">
        update `sbch_equipment_allot_transnational_import` set del_flag = 1 where main_id=#{mainId}
    </update>

</mapper>