<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.mapper.SbchEquipmentAllotTransnationalBulkMapper">
    <resultMap type="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalBulk" id="SbchEquipmentAllotTransnationalBulkResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="manageCode"    column="manage_code"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialSpec"    column="material_spec"    />
        <result property="sbSize"    column="sb_size"    />
        <result property="sbWeight"    column="sb_weight"    />
        <result property="bulkAmount"    column="bulk_amount"    />
        <result property="startPlace"    column="start_place"    />
        <result property="endPlace"    column="end_place"    />
        <result property="transportHours"    column="transport_hours"    />
        <result property="transportAgent"    column="transport_agent"    />
        <result property="precautions"    column="precautions"    />
        <result property="createUser"    column="create_user"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateUserName"    column="update_user_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delUser"    column="del_user"    />
        <result property="delTime"    column="del_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="ptVar1"    column="pt_var1"    />
        <result property="ptVar2"    column="pt_var2"    />
        <result property="ptVar3"    column="pt_var3"    />
        <result property="ptVar4"    column="pt_var4"    />
        <result property="deptId"    column="dept_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="regionId"    column="region_id"    />
        <result property="region"    column="region"    />
    </resultMap>

    <sql id="selectSbchEquipmentAllotTransnationalBulkVo">
        select `id`, `main_id`, `manage_code`, `material_code`, `material_name`, `material_spec`, `sb_size`, `sb_weight`, `bulk_amount`, `start_place`, `end_place`, `transport_hours`, `transport_agent`, `precautions`, `create_user`, `create_user_name`, `create_time`, `update_user`, `update_user_name`, `update_time`, `del_user`, `del_time`, `del_flag`, `pt_var1`, `pt_var2`, `pt_var3`, `pt_var4`, `dept_id`, `project_id`, `region_id`, `region` from `sbch_equipment_allot_transnational_bulk`
    </sql>

    <select id="selectSbchEquipmentAllotTransnationalBulkList" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalBulk" resultMap="SbchEquipmentAllotTransnationalBulkResult">
        <include refid="selectSbchEquipmentAllotTransnationalBulkVo"/>
        <where>
            `del_flag` = 0
            <if test="mainId != null "> and `main_id` = #{mainId}</if>
            <if test="manageCode != null  and manageCode != ''"> and `manage_code` = #{manageCode}</if>
            <if test="materialCode != null  and materialCode != ''"> and `material_code` = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and `material_name` like concat('%', #{materialName}, '%')</if>
            <if test="materialSpec != null  and materialSpec != ''"> and `material_spec` = #{materialSpec}</if>
            <if test="sbSize != null  and sbSize != ''"> and `sb_size` = #{sbSize}</if>
            <if test="sbWeight != null "> and `sb_weight` = #{sbWeight}</if>
            <if test="bulkAmount != null "> and `bulk_amount` = #{bulkAmount}</if>
            <if test="startPlace != null  and startPlace != ''"> and `start_place` = #{startPlace}</if>
            <if test="endPlace != null  and endPlace != ''"> and `end_place` = #{endPlace}</if>
            <if test="transportHours != null "> and `transport_hours` = #{transportHours}</if>
            <if test="transportAgent != null  and transportAgent != ''"> and `transport_agent` = #{transportAgent}</if>
            <if test="precautions != null  and precautions != ''"> and `precautions` = #{precautions}</if>
            <if test="createUser != null  and createUser != ''"> and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''"> and `create_user_name` like concat('%', #{createUserName}, '%')</if>
            <if test="updateUser != null  and updateUser != ''"> and `update_user` = #{updateUser}</if>
            <if test="updateUserName != null  and updateUserName != ''"> and `update_user_name` like concat('%', #{updateUserName}, '%')</if>
            <if test="delUser != null  and delUser != ''"> and `del_user` = #{delUser}</if>
            <if test="delTime != null "> and `del_time` = #{delTime}</if>
            <if test="ptVar1 != null  and ptVar1 != ''"> and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''"> and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''"> and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''"> and `pt_var4` = #{ptVar4}</if>
            <if test="deptId != null "> and `dept_id` = #{deptId}</if>
            <if test="projectId != null "> and `project_id` = #{projectId}</if>
            <if test="regionId != null "> and `region_id` = #{regionId}</if>
            <if test="region != null  and region != ''"> and `region` = #{region}</if>
        </where>
        order by `id` desc
    </select>

    <select id="selectSbchEquipmentAllotTransnationalBulkById" parameterType="Long" resultMap="SbchEquipmentAllotTransnationalBulkResult">
        <include refid="selectSbchEquipmentAllotTransnationalBulkVo"/>
        where `id` = #{id}
    </select>
    <insert id="insertSbchEquipmentAllotTransnationalBulk" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalBulk">
        insert into `sbch_equipment_allot_transnational_bulk`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">`id`,</if>
            <if test="mainId != null">`main_id`,</if>
            <if test="manageCode != null">`manage_code`,</if>
            <if test="materialCode != null">`material_code`,</if>
            <if test="materialName != null">`material_name`,</if>
            <if test="materialSpec != null">`material_spec`,</if>
            <if test="sbSize != null">`sb_size`,</if>
            <if test="sbWeight != null">`sb_weight`,</if>
            <if test="bulkAmount != null">`bulk_amount`,</if>
            <if test="startPlace != null">`start_place`,</if>
            <if test="endPlace != null">`end_place`,</if>
            <if test="transportHours != null">`transport_hours`,</if>
            <if test="transportAgent != null">`transport_agent`,</if>
            <if test="precautions != null">`precautions`,</if>
            <if test="createUser != null">`create_user`,</if>
            <if test="createUserName != null">`create_user_name`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateUser != null">`update_user`,</if>
            <if test="updateUserName != null">`update_user_name`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="delUser != null">`del_user`,</if>
            <if test="delTime != null">`del_time`,</if>
            <if test="delFlag != null">`del_flag`,</if>
            <if test="ptVar1 != null">`pt_var1`,</if>
            <if test="ptVar2 != null">`pt_var2`,</if>
            <if test="ptVar3 != null">`pt_var3`,</if>
            <if test="ptVar4 != null">`pt_var4`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="projectId != null">`project_id`,</if>
            <if test="regionId != null">`region_id`,</if>
            <if test="region != null">`region`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="manageCode != null">#{manageCode},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialSpec != null">#{materialSpec},</if>
            <if test="sbSize != null">#{sbSize},</if>
            <if test="sbWeight != null">#{sbWeight},</if>
            <if test="bulkAmount != null">#{bulkAmount},</if>
            <if test="startPlace != null">#{startPlace},</if>
            <if test="endPlace != null">#{endPlace},</if>
            <if test="transportHours != null">#{transportHours},</if>
            <if test="transportAgent != null">#{transportAgent},</if>
            <if test="precautions != null">#{precautions},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delUser != null">#{delUser},</if>
            <if test="delTime != null">#{delTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="ptVar1 != null">#{ptVar1},</if>
            <if test="ptVar2 != null">#{ptVar2},</if>
            <if test="ptVar3 != null">#{ptVar3},</if>
            <if test="ptVar4 != null">#{ptVar4},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="region != null">#{region},</if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert `sbch_equipment_allot_transnational_bulk` (
        `id`,
        `main_id`,
        `manage_code`,
        `material_code`,
        `material_name`,
        `material_spec`,
        `sb_size`,
        `sb_weight`,
        `bulk_amount`,
        `start_place`,
        `end_place`,
        `transport_hours`,
        `transport_agent`,
        `precautions`,
        `create_user`,
        `create_user_name`,
        `create_time`,
        `update_user`,
        `update_user_name`,
        `update_time`,
        `del_user`,
        `del_time`,
        `del_flag`,
        `pt_var1`,
        `pt_var2`,
        `pt_var3`,
        `pt_var4`,
        `dept_id`,
        `project_id`,
        `region_id`,
        `region`
        )values
        <foreach collection="list" separator="," item="item" index="index" >
            (#{item.id},
            #{item.mainId},
            #{item.manageCode},
            #{item.materialCode},
            #{item.materialName},
            #{item.materialSpec},
            #{item.sbSize},
            #{item.sbWeight},
            #{item.bulkAmount},
            #{item.startPlace},
            #{item.endPlace},
            #{item.transportHours},
            #{item.transportAgent},
            #{item.precautions},
            #{item.createUser},
            #{item.createUserName},
            #{item.createTime},
            #{item.updateUser},
            #{item.updateUserName},
            #{item.updateTime},
            #{item.delUser},
            #{item.delTime},
            #{item.delFlag},
            #{item.ptVar1},
            #{item.ptVar2},
            #{item.ptVar3},
            #{item.ptVar4},
            #{item.deptId},
            #{item.projectId},
            #{item.regionId},
            #{item.region})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        update `sbch_equipment_allot_transnational_bulk`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="main_id =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.mainId != null ">
                        when `id` = #{item.id} then #{item.mainId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="manage_code =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.manageCode != null ">
                        when `id` = #{item.id} then #{item.manageCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_code =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.materialCode != null ">
                        when `id` = #{item.id} then #{item.materialCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_name =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.materialName != null ">
                        when `id` = #{item.id} then #{item.materialName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="material_spec =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.materialSpec != null ">
                        when `id` = #{item.id} then #{item.materialSpec}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sb_size =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.sbSize != null ">
                        when `id` = #{item.id} then #{item.sbSize}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sb_weight =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.sbWeight != null ">
                        when `id` = #{item.id} then #{item.sbWeight}
                    </if>
                </foreach>
            </trim>
            <trim prefix="bulk_amount =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.bulkAmount != null ">
                        when `id` = #{item.id} then #{item.bulkAmount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="start_place =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.startPlace != null ">
                        when `id` = #{item.id} then #{item.startPlace}
                    </if>
                </foreach>
            </trim>
            <trim prefix="end_place =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.endPlace != null ">
                        when `id` = #{item.id} then #{item.endPlace}
                    </if>
                </foreach>
            </trim>
            <trim prefix="transport_hours =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.transportHours != null ">
                        when `id` = #{item.id} then #{item.transportHours}
                    </if>
                </foreach>
            </trim>
            <trim prefix="transport_agent =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.transportAgent != null ">
                        when `id` = #{item.id} then #{item.transportAgent}
                    </if>
                </foreach>
            </trim>
            <trim prefix="precautions =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.precautions != null ">
                        when `id` = #{item.id} then #{item.precautions}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.createUser != null ">
                        when `id` = #{item.id} then #{item.createUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_user_name =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.createUserName != null ">
                        when `id` = #{item.id} then #{item.createUserName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.createTime != null ">
                        when `id` = #{item.id} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.updateUser != null ">
                        when `id` = #{item.id} then #{item.updateUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user_name =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.updateUserName != null ">
                        when `id` = #{item.id} then #{item.updateUserName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.updateTime != null ">
                        when `id` = #{item.id} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_user =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.delUser != null ">
                        when `id` = #{item.id} then #{item.delUser}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_time =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.delTime != null ">
                        when `id` = #{item.id} then #{item.delTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="del_flag =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.delFlag != null ">
                        when `id` = #{item.id} then #{item.delFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var1 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar1 != null ">
                        when `id` = #{item.id} then #{item.ptVar1}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var2 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar2 != null ">
                        when `id` = #{item.id} then #{item.ptVar2}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var3 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar3 != null ">
                        when `id` = #{item.id} then #{item.ptVar3}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pt_var4 =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.ptVar4 != null ">
                        when `id` = #{item.id} then #{item.ptVar4}
                    </if>
                </foreach>
            </trim>
            <trim prefix="dept_id =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.deptId != null ">
                        when `id` = #{item.id} then #{item.deptId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="project_id =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.projectId != null ">
                        when `id` = #{item.id} then #{item.projectId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="region_id =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.regionId != null ">
                        when `id` = #{item.id} then #{item.regionId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="region =case" suffix="end,">
                <foreach collection="dataList" item="item" index="index">
                    <if test="item.region != null ">
                        when `id` = #{item.id} then #{item.region}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="dataList" separator="or" item="item" index="index" >
            `id` = #{item.id}
        </foreach>
    </update>




    <update id="updateSbchEquipmentAllotTransnationalBulk" parameterType="com.hhwy.pm.qqch.preparation.sbch.sbchequipmentallottransnational.domain.SbchEquipmentAllotTransnationalBulk">
        update `sbch_equipment_allot_transnational_bulk`
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null">`main_id` = #{mainId},</if>
            <if test="manageCode != null">`manage_code` = #{manageCode},</if>
            <if test="materialCode != null">`material_code` = #{materialCode},</if>
            <if test="materialName != null">`material_name` = #{materialName},</if>
            <if test="materialSpec != null">`material_spec` = #{materialSpec},</if>
            <if test="sbSize != null">`sb_size` = #{sbSize},</if>
            <if test="sbWeight != null">`sb_weight` = #{sbWeight},</if>
            <if test="bulkAmount != null">`bulk_amount` = #{bulkAmount},</if>
            <if test="startPlace != null">`start_place` = #{startPlace},</if>
            <if test="endPlace != null">`end_place` = #{endPlace},</if>
            <if test="transportHours != null">`transport_hours` = #{transportHours},</if>
            <if test="transportAgent != null">`transport_agent` = #{transportAgent},</if>
            <if test="precautions != null">`precautions` = #{precautions},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="createUserName != null">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
            <if test="updateUserName != null">`update_user_name` = #{updateUserName},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="delUser != null">`del_user` = #{delUser},</if>
            <if test="delTime != null">`del_time` = #{delTime},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag},</if>
            <if test="ptVar1 != null">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null">`pt_var4` = #{ptVar4},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="regionId != null">`region_id` = #{regionId},</if>
            <if test="region != null">`region` = #{region},</if>
        </trim>
        where `id` = #{id}
    </update>

    <update id="deleteSbchEquipmentAllotTransnationalBulkById" parameterType="Long">
        update `sbch_equipment_allot_transnational_bulk` set del_flag = 1 where `id` = #{id}
    </update>

    <update id="deleteSbchEquipmentAllotTransnationalBulkByIds" parameterType="String">
        update `sbch_equipment_allot_transnational_bulk` set del_flag = 1 where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="deleteDetailsByMainId" parameterType="Long">
        update `sbch_equipment_allot_transnational_bulk` set del_flag = 1 where main_id=#{mainId}
    </update>

</mapper>