<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.qqch.review.mapper.ReviewMapper">

    <resultMap type="com.hhwy.pm.qqch.review.domain.Review" id="QqchReviewResultMap">
        <result property="id" column="id"/>
        <result property="reviewName" column="review_name"/>
        <result property="stage" column="stage"/>
        <result property="reviewDeptId" column="review_dept_id"/>
        <result property="reviewDeptName" column="review_dept_name"/>
        <result property="finishDate" column="finish_date"/>
        <result property="reviewReq" column="review_req"/>
        <result property="planStage" column="plan_stage"/>
        <result property="planEstablishDirector" column="plan_establish_director"/>
        <result property="planEstablishDirectorId" column="plan_establish_director_id"/>
        <result property="planContent" column="plan_content"/>
        <result property="reqSubmitDate" column="req_submit_date"/>
        <result property="planNum" column="plan_num"/>
        <result property="finishNum" column="finish_num"/>
        <result property="exigencyStatus" column="exigency_status"/>
        <result property="taskStatus" column="task_status"/>
        <result property="fileGroupId" column="file_group_id"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
        <result property="initUserId" column="init_user_id"/>
        <result property="initUserName" column="init_user_name"/>
        <result property="initDate" column="init_date"/>
    </resultMap>
    <sql id="selectQqchReviewVo">
        select `id`
             , `review_name`
             , `stage`
             , `review_dept_id`
             , `review_dept_name`
             , `finish_date`
             , `review_req`
             , `plan_stage`
             , `plan_establish_director`
             , `plan_establish_director_id`
             , `plan_content`
             , `req_submit_date`
             , `plan_num`
             , `finish_num`
             , `exigency_status`
             , `task_status`
             , `file_group_id`
             , `remark`
             , `create_user`
             , `create_user_name`
             , `create_time`
             , `update_user`
             , `update_time`
             , `del_user`
             , `del_time`
             , `del_flag`
             , `review_status`
             , `pt_var2`
             , `pt_var3`
             , `pt_var4`
             , `pt_var5`
             , `init_user_id`
             , `init_user_name`
             , `init_date`
        from qqch_review
    </sql>
    <select id="getQqchReview" resultMap="QqchReviewResultMap">
        <include refid="selectQqchReviewVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewName != null  and reviewName != ''">and `review_name` = #{reviewName}</if>
            <if test="stage != null  and stage != ''">and `stage` = #{stage}</if>
            <if test="reviewDeptId != null  and reviewDeptId != ''">and `review_dept_id` = #{reviewDeptId}</if>
            <if test="reviewDeptName != null  and reviewDeptName != ''">and `review_dept_name` = #{reviewDeptName}</if>
            <if test="finishDate != null ">and `finish_date` = #{finishDate}</if>
            <if test="reviewReq != null  and reviewReq != ''">and `review_req` = #{reviewReq}</if>
            <if test="planStage != null  and planStage != ''">and `plan_stage` = #{planStage}</if>
            <if test="planEstablishDirector != null  and planEstablishDirector != ''">and `plan_establish_director` =
                #{planEstablishDirector}
            </if>
            <if test="planEstablishDirectorId != null ">and `plan_establish_director_id` = #{planEstablishDirectorId}
            </if>
            <if test="planContent != null  and planContent != ''">and `plan_content` = #{planContent}</if>
            <if test="reqSubmitDate != null ">and `req_submit_date` = #{reqSubmitDate}</if>
            <if test="planNum != null ">and `plan_num` = #{planNum}</if>
            <if test="finishNum != null ">and `finish_num` = #{finishNum}</if>
            <if test="exigencyStatus != null  and exigencyStatus != ''">and `exigency_status` = #{exigencyStatus}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="reviewStatus != null  and reviewStatus != ''">and `review_status` = #{reviewStatus}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="initUserId != null  and initUserId != ''">and `init_user_id` = #{initUserId}</if>
            <if test="initUserName != null  and initUserName != ''">and `init_user_name` = #{initUserName}</if>
            <if test="initDate != null  and initDate != ''">and `init_date` = #{initDate}</if>
        </where>
        order by create_time desc
        limit 1
    </select>

    <select id="getQqchReviewList" resultMap="QqchReviewResultMap">
        <include refid="selectQqchReviewVo"/>
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewName != null  and reviewName != ''">and `review_name` = #{reviewName}</if>
            <if test="stage != null  and stage != ''">and `stage` = #{stage}</if>
            <if test="reviewDeptId != null  and reviewDeptId != ''">and `review_dept_id` = #{reviewDeptId}</if>
            <if test="reviewDeptName != null  and reviewDeptName != ''">and `review_dept_name` = #{reviewDeptName}</if>
            <if test="finishDate != null ">and `finish_date` = #{finishDate}</if>
            <if test="reviewReq != null  and reviewReq != ''">and `review_req` = #{reviewReq}</if>
            <if test="planStage != null  and planStage != ''">and `plan_stage` = #{planStage}</if>
            <if test="planEstablishDirector != null  and planEstablishDirector != ''">and `plan_establish_director` =
                #{planEstablishDirector}
            </if>
            <if test="planEstablishDirectorId != null ">and `plan_establish_director_id` = #{planEstablishDirectorId}
            </if>
            <if test="planContent != null  and planContent != ''">and `plan_content` = #{planContent}</if>
            <if test="reqSubmitDate != null ">and `req_submit_date` = #{reqSubmitDate}</if>
            <if test="planNum != null ">and `plan_num` = #{planNum}</if>
            <if test="finishNum != null ">and `finish_num` = #{finishNum}</if>
            <if test="exigencyStatus != null  and exigencyStatus != ''">and `exigency_status` = #{exigencyStatus}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="reviewStatus != null  and reviewStatus != ''">and `review_status` = #{reviewStatus}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="initUserId != null  and initUserId != ''">and `init_user_id` = #{initUserId}</if>
            <if test="initUserName != null  and initUserName != ''">and `init_user_name` = #{initUserName}</if>
            <if test="initDate != null  and initDate != ''">and `init_date` = #{initDate}</if>
        </where>
        order by create_time desc
    </select>
    <select id="getFinishedReviewCountByStage" resultType="java.lang.Integer">
        select count(*) from qqch_review
        where del_flag = '0' and plan_stage = #{planStage} and review_status in ('2','3','4')
    </select>
    <select id="getApprovedDate" resultMap="QqchReviewResultMap">
        <include refid="selectQqchReviewVo"/>
        where del_flag = '0' and review_status = '3'
    </select>

    <insert id="insertQqchReview" useGeneratedKeys="true" keyProperty="id">
        insert into qqch_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="reviewName != null  and reviewName != ''">`review_name`,</if>
            <if test="stage != null  and stage != ''">`stage`,</if>
            <if test="reviewDeptId != null  and reviewDeptId != ''">`review_dept_id`,</if>
            <if test="reviewDeptName != null  and reviewDeptName != ''">`review_dept_name`,</if>
            <if test="finishDate != null ">`finish_date`,</if>
            <if test="reviewReq != null  and reviewReq != ''">`review_req`,</if>
            <if test="planStage != null  and planStage != ''">`plan_stage`,</if>
            <if test="planEstablishDirector != null  and planEstablishDirector != ''">`plan_establish_director`,</if>
            <if test="planEstablishDirectorId != null ">`plan_establish_director_id`,</if>
            <if test="planContent != null  and planContent != ''">`plan_content`,</if>
            <if test="reqSubmitDate != null ">`req_submit_date`,</if>
            <if test="planNum != null ">`plan_num`,</if>
            <if test="finishNum != null ">`finish_num`,</if>
            <if test="exigencyStatus != null  and exigencyStatus != ''">`exigency_status`,</if>
            <if test="taskStatus != null  and taskStatus != ''">`task_status`,</if>
            <if test="fileGroupId != null  and fileGroupId != ''">`file_group_id`,</if>
            <if test="remark != null  and remark != ''">`remark`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createUserName != null  and createUserName != ''">`create_user_name`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="reviewStatus != null  and reviewStatus != ''">`review_status`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
            <if test="initUserId != null  and initUserId != ''">`init_user_id`,</if>
            <if test="initUserName != null  and initUserName != ''">`init_user_name`,</if>
            <if test="initDate != null  and initDate != ''">`init_date`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="reviewName != null  and reviewName != ''">#{reviewName},</if>
            <if test="stage != null  and stage != ''">#{stage},</if>
            <if test="reviewDeptId != null  and reviewDeptId != ''">#{reviewDeptId},</if>
            <if test="reviewDeptName != null  and reviewDeptName != ''">#{reviewDeptName},</if>
            <if test="finishDate != null ">#{finishDate},</if>
            <if test="reviewReq != null  and reviewReq != ''">#{reviewReq},</if>
            <if test="planStage != null  and planStage != ''">#{planStage},</if>
            <if test="planEstablishDirector != null  and planEstablishDirector != ''">#{planEstablishDirector},</if>
            <if test="planEstablishDirectorId != null ">#{planEstablishDirectorId},</if>
            <if test="planContent != null  and planContent != ''">#{planContent},</if>
            <if test="reqSubmitDate != null ">#{reqSubmitDate},</if>
            <if test="planNum != null ">#{planNum},</if>
            <if test="finishNum != null ">#{finishNum},</if>
            <if test="exigencyStatus != null  and exigencyStatus != ''">#{exigencyStatus},</if>
            <if test="taskStatus != null  and taskStatus != ''">#{taskStatus},</if>
            <if test="fileGroupId != null  and fileGroupId != ''">#{fileGroupId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''">#{createUserName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="reviewStatus != null  and reviewStatus != ''">#{reviewStatus},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
            <if test="initUserId != null  and initUserId != ''">#{initUserId},</if>
            <if test="initUserName != null  and initUserName != ''">#{initUserName},</if>
            <if test="initDate != null  and initDate != ''">#{initDate},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertQqchReview -->
    <insert id="insertQqchReviewList">
        insert into qqch_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `review_name`,
            `stage`,
            `review_dept_id`,
            `review_dept_name`,
            `finish_date`,
            `review_req`,
            `plan_stage`,
            `plan_establish_director`,
            `plan_establish_director_id`,
            `plan_content`,
            `req_submit_date`,
            `plan_num`,
            `finish_num`,
            `exigency_status`,
            `task_status`,
            `file_group_id`,
            `remark`,
            `create_user`,
            `create_user_name`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `review_status`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
            `init_user_id`,
            `init_user_name`,
            `init_date`,
        </trim>
        values
        <foreach collection="reviewList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.reviewName},
                #{item.stage},
                #{item.reviewDeptId},
                #{item.reviewDeptName},
                #{item.finishDate},
                #{item.reviewReq},
                #{item.planStage},
                #{item.planEstablishDirector},
                #{item.planEstablishDirectorId},
                #{item.planContent},
                #{item.reqSubmitDate},
                #{item.planNum},
                #{item.finishNum},
                #{item.exigencyStatus},
                #{item.taskStatus},
                #{item.fileGroupId},
                #{item.remark},
                #{item.createUser},
                #{item.createUserName},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.reviewStatus},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
                #{item.initUserId},
                #{item.initUserName},
                #{item.initDate},
            </trim>
        </foreach>
    </insert>

    <update id="updateQqchReview">
        update qqch_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null ">`id` = #{id},</if>
            <if test="reviewName != null  and  reviewName != ''">`review_name` = #{reviewName},</if>
            <if test="stage != null  and  stage != ''">`stage` = #{stage},</if>
            <if test="reviewDeptId != null  and  reviewDeptId != ''">`review_dept_id` = #{reviewDeptId},</if>
            <if test="reviewDeptName != null  and  reviewDeptName != ''">`review_dept_name` = #{reviewDeptName},</if>
            <if test="finishDate != null ">`finish_date` = #{finishDate},</if>
            <if test="reviewReq != null  and  reviewReq != ''">`review_req` = #{reviewReq},</if>
            <if test="planStage != null  and  planStage != ''">`plan_stage` = #{planStage},</if>
            <if test="planEstablishDirector != null  and  planEstablishDirector != ''">`plan_establish_director` =
                #{planEstablishDirector},
            </if>
            <if test="planEstablishDirectorId != null ">`plan_establish_director_id` = #{planEstablishDirectorId},</if>
            <if test="planContent != null  and  planContent != ''">`plan_content` = #{planContent},</if>
            <if test="reqSubmitDate != null ">`req_submit_date` = #{reqSubmitDate},</if>
            <if test="planNum != null ">`plan_num` = #{planNum},</if>
            <if test="finishNum != null ">`finish_num` = #{finishNum},</if>
            <if test="exigencyStatus != null  and  exigencyStatus != ''">`exigency_status` = #{exigencyStatus},</if>
            <if test="taskStatus != null  and  taskStatus != ''">`task_status` = #{taskStatus},</if>
            <if test="fileGroupId != null  and  fileGroupId != ''">`file_group_id` = #{fileGroupId},</if>
            <if test="remark != null  and  remark != ''">`remark` = #{remark},</if>
            <if test="createUser != null  and  createUser != ''">`create_user` = #{createUser},</if>
            <if test="createUserName != null  and  createUserName != ''">`create_user_name` = #{createUserName},</if>
            <if test="createTime != null ">`create_time` = #{createTime},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="delUser != null  and  delUser != ''">`del_user` = #{delUser},</if>
            <if test="delTime != null ">`del_time` = #{delTime},</if>
            <if test="delFlag != null  and  delFlag != ''">`del_flag` = #{delFlag},</if>
            <if test="reviewStatus != null  and  reviewStatus != ''">`review_status` = #{reviewStatus},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
            <if test="initUserId != null  and  initUserId != ''">`init_user_id` = #{initUserId},</if>
            <if test="initUserName != null  and  initUserName != ''">`init_user_name` = #{initUserName},</if>
            <if test="initDate != null">`init_date` = #{initDate},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateQqchReviewList">
        update qqch_review
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.id}
                </foreach>
            </trim>
            <trim prefix="review_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewName}
                </foreach>
            </trim>
            <trim prefix="stage  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.stage}
                </foreach>
            </trim>
            <trim prefix="review_dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewDeptId}
                </foreach>
            </trim>
            <trim prefix="review_dept_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewDeptName}
                </foreach>
            </trim>
            <trim prefix="finish_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.finishDate}
                </foreach>
            </trim>
            <trim prefix="review_req  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewReq}
                </foreach>
            </trim>
            <trim prefix="plan_stage  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planStage}
                </foreach>
            </trim>
            <trim prefix="plan_establish_director  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planEstablishDirector}
                </foreach>
            </trim>
            <trim prefix="plan_establish_director_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planEstablishDirectorId}
                </foreach>
            </trim>
            <trim prefix="plan_content  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planContent}
                </foreach>
            </trim>
            <trim prefix="req_submit_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reqSubmitDate}
                </foreach>
            </trim>
            <trim prefix="plan_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.planNum}
                </foreach>
            </trim>
            <trim prefix="finish_num  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.finishNum}
                </foreach>
            </trim>
            <trim prefix="exigency_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.exigencyStatus}
                </foreach>
            </trim>
            <trim prefix="task_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.taskStatus}
                </foreach>
            </trim>
            <trim prefix="file_group_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.fileGroupId}
                </foreach>
            </trim>
            <trim prefix="remark  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.remark}
                </foreach>
            </trim>
            <trim prefix="create_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUser}
                </foreach>
            </trim>
            <trim prefix="create_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createUserName}
                </foreach>
            </trim>
            <trim prefix="create_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="del_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delUser}
                </foreach>
            </trim>
            <trim prefix="del_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delTime}
                </foreach>
            </trim>
            <trim prefix="del_flag  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.delFlag}
                </foreach>
            </trim>
            <trim prefix="review_status  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.reviewStatus}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>


            <trim prefix="init_user_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.initUserId}
                </foreach>
            </trim>
            <trim prefix="init_user_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.initUserName}
                </foreach>
            </trim>
            <trim prefix="init_date  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.initDate}
                </foreach>
            </trim>

        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteQqchReview">
        update `qqch_review` set del_flag = 1
        <where>
            <if test="id != null ">and `id` = #{id}</if>
            <if test="reviewName != null  and reviewName != ''">and `review_name` = #{reviewName}</if>
            <if test="stage != null  and stage != ''">and `stage` = #{stage}</if>
            <if test="reviewDeptId != null  and reviewDeptId != ''">and `review_dept_id` = #{reviewDeptId}</if>
            <if test="reviewDeptName != null  and reviewDeptName != ''">and `review_dept_name` = #{reviewDeptName}</if>
            <if test="finishDate != null ">and `finish_date` = #{finishDate}</if>
            <if test="reviewReq != null  and reviewReq != ''">and `review_req` = #{reviewReq}</if>
            <if test="planStage != null  and planStage != ''">and `plan_stage` = #{planStage}</if>
            <if test="planEstablishDirector != null  and planEstablishDirector != ''">and `plan_establish_director` =
                #{planEstablishDirector}
            </if>
            <if test="planEstablishDirectorId != null ">and `plan_establish_director_id` = #{planEstablishDirectorId}
            </if>
            <if test="planContent != null  and planContent != ''">and `plan_content` = #{planContent}</if>
            <if test="reqSubmitDate != null ">and `req_submit_date` = #{reqSubmitDate}</if>
            <if test="planNum != null ">and `plan_num` = #{planNum}</if>
            <if test="finishNum != null ">and `finish_num` = #{finishNum}</if>
            <if test="exigencyStatus != null  and exigencyStatus != ''">and `exigency_status` = #{exigencyStatus}</if>
            <if test="taskStatus != null  and taskStatus != ''">and `task_status` = #{taskStatus}</if>
            <if test="fileGroupId != null  and fileGroupId != ''">and `file_group_id` = #{fileGroupId}</if>
            <if test="remark != null  and remark != ''">and `remark` = #{remark}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createUserName != null  and createUserName != ''">and `create_user_name` = #{createUserName}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="reviewStatus != null  and reviewStatus != ''">and `review_status` = #{reviewStatus}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
            <if test="initUserId != null  and initUserId != ''">and `init_user_id` = #{initUserId}</if>
            <if test="initUserName != null  and initUserName != ''">and `init_user_name` = #{initUserName}</if>
            <if test="initDate != null  and initDate != ''">and `init_date` = #{initDate}</if>
        </where>
    </update>

    <update id="deleteQqchReviewByPks">
        update `qqch_review` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="qqchReviewPkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>