<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhwy.pm.xmsl.project.mapper.XmslProjectCulvertStructureMapper">

    <resultMap type="com.hhwy.pm.xmsl.project.domain.XmslProjectCulvertStructure" id="ProjectCulvertStructureResultMap">
        <result property="id" column="id"/>
        <result property="projectBasicInfoId" column="project_basic_info_id"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="type" column="type"/>
        <result property="holeCount" column="hole_count"/>
        <result property="span" column="span"/>
        <result property="clearHeight" column="clear_height"/>
        <result property="culvertStructure" column="culvert_structure"/>
        <result property="importExportForm" column="import_export_form"/>
        <result property="count" column="count"/>
        <result property="regionId" column="region_id"/>
        <result property="regionName" column="region_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="delUser" column="del_user"/>
        <result property="delTime" column="del_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="ptVar1" column="pt_var1"/>
        <result property="ptVar2" column="pt_var2"/>
        <result property="ptVar3" column="pt_var3"/>
        <result property="ptVar4" column="pt_var4"/>
        <result property="ptVar5" column="pt_var5"/>
    </resultMap>

    <select id="getProjectCulvertStructure" resultMap="ProjectCulvertStructureResultMap">
        select
        `id`
        ,`project_basic_info_id`
        ,`project_id`
        ,`project_name`
        ,`type`
        ,`hole_count`
        ,`span`
        ,`clear_height`
        ,`culvert_structure`
        ,`import_export_form`
        ,`count`
        ,`region_id`
        ,`region_name`
        ,`dept_id`
        ,`create_user`
        ,`create_time`
        ,`update_user`
        ,`update_time`
        ,`del_user`
        ,`del_time`
        ,`del_flag`
        ,`pt_var1`
        ,`pt_var2`
        ,`pt_var3`
        ,`pt_var4`
        ,`pt_var5`
        from xmsl_project_culvert_structure
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="projectBasicInfoId != null ">and `project_basic_info_id` = #{projectBasicInfoId}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="type != null  and type != ''">and `type` = #{type}</if>
            <if test="holeCount != null  and holeCount != ''">and `hole_count` = #{holeCount}</if>
            <if test="span != null  and span != ''">and `span` = #{span}</if>
            <if test="clearHeight != null  and clearHeight != ''">and `clear_height` = #{clearHeight}</if>
            <if test="culvertStructure != null  and culvertStructure != ''">and `culvert_structure` =
                #{culvertStructure}
            </if>
            <if test="importExportForm != null  and importExportForm != ''">and `import_export_form` =
                #{importExportForm}
            </if>
            <if test="count != null  and count != ''">and `count` = #{count}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <select id="getProjectCulvertStructureList" resultMap="ProjectCulvertStructureResultMap">
        select
        `id`
        ,`project_basic_info_id`
        ,`project_id`
        ,`project_name`
        ,`type`
        ,`hole_count`
        ,`span`
        ,`clear_height`
        ,`culvert_structure`
        ,`import_export_form`
        ,`count`
        ,`region_id`
        ,`region_name`
        ,`dept_id`
        ,`create_user`
        ,`create_time`
        ,`update_user`
        ,`update_time`
        ,`del_user`
        ,`del_time`
        ,`del_flag`
        ,`pt_var1`
        ,`pt_var2`
        ,`pt_var3`
        ,`pt_var4`
        ,`pt_var5`
        from xmsl_project_culvert_structure
        <where>
            del_flag = "0"
            <if test="id != null ">and `id` = #{id}</if>
            <if test="projectBasicInfoId != null ">and `project_basic_info_id` = #{projectBasicInfoId}</if>
            <if test="projectId != null ">and `project_id` = #{projectId}</if>
            <if test="projectName != null  and projectName != ''">and `project_name` = #{projectName}</if>
            <if test="type != null  and type != ''">and `type` = #{type}</if>
            <if test="holeCount != null  and holeCount != ''">and `hole_count` = #{holeCount}</if>
            <if test="span != null  and span != ''">and `span` = #{span}</if>
            <if test="clearHeight != null  and clearHeight != ''">and `clear_height` = #{clearHeight}</if>
            <if test="culvertStructure != null  and culvertStructure != ''">and `culvert_structure` =
                #{culvertStructure}
            </if>
            <if test="importExportForm != null  and importExportForm != ''">and `import_export_form` =
                #{importExportForm}
            </if>
            <if test="count != null  and count != ''">and `count` = #{count}</if>
            <if test="regionId != null ">and `region_id` = #{regionId}</if>
            <if test="regionName != null  and regionName != ''">and `region_name` = #{regionName}</if>
            <if test="deptId != null ">and `dept_id` = #{deptId}</if>
            <if test="createUser != null  and createUser != ''">and `create_user` = #{createUser}</if>
            <if test="createTime != null ">and `create_time` = #{createTime}</if>
            <if test="updateUser != null  and updateUser != ''">and `update_user` = #{updateUser}</if>
            <if test="updateTime != null ">and `update_time` = #{updateTime}</if>
            <if test="delUser != null  and delUser != ''">and `del_user` = #{delUser}</if>
            <if test="delTime != null ">and `del_time` = #{delTime}</if>
            <if test="delFlag != null  and delFlag != ''">and `del_flag` = #{delFlag}</if>
            <if test="ptVar1 != null  and ptVar1 != ''">and `pt_var1` = #{ptVar1}</if>
            <if test="ptVar2 != null  and ptVar2 != ''">and `pt_var2` = #{ptVar2}</if>
            <if test="ptVar3 != null  and ptVar3 != ''">and `pt_var3` = #{ptVar3}</if>
            <if test="ptVar4 != null  and ptVar4 != ''">and `pt_var4` = #{ptVar4}</if>
            <if test="ptVar5 != null  and ptVar5 != ''">and `pt_var5` = #{ptVar5}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertProjectCulvertStructure" useGeneratedKeys="true" keyProperty="id">
        insert into xmsl_project_culvert_structure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">`id`,</if>
            <if test="projectBasicInfoId != null ">`project_basic_info_id`,</if>
            <if test="projectId != null ">`project_id`,</if>
            <if test="projectName != null  and projectName != ''">`project_name`,</if>
            <if test="type != null  and type != ''">`type`,</if>
            <if test="holeCount != null  and holeCount != ''">`hole_count`,</if>
            <if test="span != null  and span != ''">`span`,</if>
            <if test="clearHeight != null  and clearHeight != ''">`clear_height`,</if>
            <if test="culvertStructure != null  and culvertStructure != ''">`culvert_structure`,</if>
            <if test="importExportForm != null  and importExportForm != ''">`import_export_form`,</if>
            <if test="count != null  and count != ''">`count`,</if>
            <if test="regionId != null ">`region_id`,</if>
            <if test="regionName != null  and regionName != ''">`region_name`,</if>
            <if test="deptId != null ">`dept_id`,</if>
            <if test="createUser != null  and createUser != ''">`create_user`,</if>
            <if test="createTime != null ">`create_time`,</if>
            <if test="updateUser != null  and updateUser != ''">`update_user`,</if>
            <if test="updateTime != null ">`update_time`,</if>
            <if test="delUser != null  and delUser != ''">`del_user`,</if>
            <if test="delTime != null ">`del_time`,</if>
            <if test="delFlag != null  and delFlag != ''">`del_flag`,</if>
            <if test="ptVar1 != null  and ptVar1 != ''">`pt_var1`,</if>
            <if test="ptVar2 != null  and ptVar2 != ''">`pt_var2`,</if>
            <if test="ptVar3 != null  and ptVar3 != ''">`pt_var3`,</if>
            <if test="ptVar4 != null  and ptVar4 != ''">`pt_var4`,</if>
            <if test="ptVar5 != null  and ptVar5 != ''">`pt_var5`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="projectBasicInfoId != null ">#{projectBasicInfoId},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="holeCount != null  and holeCount != ''">#{holeCount},</if>
            <if test="span != null  and span != ''">#{span},</if>
            <if test="clearHeight != null  and clearHeight != ''">#{clearHeight},</if>
            <if test="culvertStructure != null  and culvertStructure != ''">#{culvertStructure},</if>
            <if test="importExportForm != null  and importExportForm != ''">#{importExportForm},</if>
            <if test="count != null  and count != ''">#{count},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delUser != null  and delUser != ''">#{delUser},</if>
            <if test="delTime != null ">#{delTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="ptVar1 != null  and ptVar1 != ''">#{ptVar1},</if>
            <if test="ptVar2 != null  and ptVar2 != ''">#{ptVar2},</if>
            <if test="ptVar3 != null  and ptVar3 != ''">#{ptVar3},</if>
            <if test="ptVar4 != null  and ptVar4 != ''">#{ptVar4},</if>
            <if test="ptVar5 != null  and ptVar5 != ''">#{ptVar5},</if>
        </trim>
    </insert>

    <!-- 有默认值的情况下 会有问题，建议遍历插入，调用insertProjectCulvertStructure -->
    <insert id="insertProjectCulvertStructureList">
        insert into xmsl_project_culvert_structure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `project_basic_info_id`,
            `project_id`,
            `project_name`,
            `type`,
            `hole_count`,
            `span`,
            `clear_height`,
            `culvert_structure`,
            `import_export_form`,
            `count`,
            `region_id`,
            `region_name`,
            `dept_id`,
            `create_user`,
            `create_time`,
            `update_user`,
            `update_time`,
            `del_user`,
            `del_time`,
            `pt_var1`,
            `pt_var2`,
            `pt_var3`,
            `pt_var4`,
            `pt_var5`,
        </trim>
        values
        <foreach collection="xmslProjectCulvertStructureList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.projectBasicInfoId},
                #{item.projectId},
                #{item.projectName},
                #{item.type},
                #{item.holeCount},
                #{item.span},
                #{item.clearHeight},
                #{item.culvertStructure},
                #{item.importExportForm},
                #{item.count},
                #{item.regionId},
                #{item.regionName},
                #{item.deptId},
                #{item.createUser},
                #{item.createTime},
                #{item.updateUser},
                #{item.updateTime},
                #{item.delUser},
                #{item.delTime},
                #{item.ptVar1},
                #{item.ptVar2},
                #{item.ptVar3},
                #{item.ptVar4},
                #{item.ptVar5},
            </trim>
        </foreach>
    </insert>

    <update id="updateProjectCulvertStructure">
        update xmsl_project_culvert_structure
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectBasicInfoId != null ">`project_basic_info_id` = #{projectBasicInfoId},</if>
            <if test="projectId != null ">`project_id` = #{projectId},</if>
            <if test="projectName != null  and  projectName != ''">`project_name` = #{projectName},</if>
            <if test="type != null  and  type != ''">`type` = #{type},</if>
            <if test="holeCount != null  and  holeCount != ''">`hole_count` = #{holeCount},</if>
            <if test="span != null  and  span != ''">`span` = #{span},</if>
            <if test="clearHeight != null  and  clearHeight != ''">`clear_height` = #{clearHeight},</if>
            <if test="culvertStructure != null  and  culvertStructure != ''">`culvert_structure` =
                #{culvertStructure},
            </if>
            <if test="importExportForm != null  and  importExportForm != ''">`import_export_form` =
                #{importExportForm},
            </if>
            <if test="count != null  and  count != ''">`count` = #{count},</if>
            <if test="regionId != null ">`region_id` = #{regionId},</if>
            <if test="regionName != null  and  regionName != ''">`region_name` = #{regionName},</if>
            <if test="deptId != null ">`dept_id` = #{deptId},</if>
            <if test="updateUser != null  and  updateUser != ''">`update_user` = #{updateUser},</if>
            <if test="updateTime != null ">`update_time` = #{updateTime},</if>
            <if test="ptVar1 != null  and  ptVar1 != ''">`pt_var1` = #{ptVar1},</if>
            <if test="ptVar2 != null  and  ptVar2 != ''">`pt_var2` = #{ptVar2},</if>
            <if test="ptVar3 != null  and  ptVar3 != ''">`pt_var3` = #{ptVar3},</if>
            <if test="ptVar4 != null  and  ptVar4 != ''">`pt_var4` = #{ptVar4},</if>
            <if test="ptVar5 != null  and  ptVar5 != ''">`pt_var5` = #{ptVar5},</if>
        </trim>
        <where>
            <if test="id != null ">and `id` = #{id}</if>
        </where>
    </update>

    <update id="updateProjectCulvertStructureList">
        update xmsl_project_culvert_structure
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="project_basic_info_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectBasicInfoId}
                </foreach>
            </trim>
            <trim prefix="project_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectId}
                </foreach>
            </trim>
            <trim prefix="project_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.projectName}
                </foreach>
            </trim>
            <trim prefix="type  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.type}
                </foreach>
            </trim>
            <trim prefix="hole_count  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.holeCount}
                </foreach>
            </trim>
            <trim prefix="span  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.span}
                </foreach>
            </trim>
            <trim prefix="clear_height  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.clearHeight}
                </foreach>
            </trim>
            <trim prefix="culvert_structure  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.culvertStructure}
                </foreach>
            </trim>
            <trim prefix="import_export_form  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.importExportForm}
                </foreach>
            </trim>
            <trim prefix="count  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.count}
                </foreach>
            </trim>
            <trim prefix="region_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionId}
                </foreach>
            </trim>
            <trim prefix="region_name  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.regionName}
                </foreach>
            </trim>
            <trim prefix="dept_id  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.deptId}
                </foreach>
            </trim>
            <trim prefix="update_user  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateUser}
                </foreach>
            </trim>
            <trim prefix="update_time  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.updateTime}
                </foreach>
            </trim>
            <trim prefix="pt_var1  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar1}
                </foreach>
            </trim>
            <trim prefix="pt_var2  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar2}
                </foreach>
            </trim>
            <trim prefix="pt_var3  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar3}
                </foreach>
            </trim>
            <trim prefix="pt_var4  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar4}
                </foreach>
            </trim>
            <trim prefix="pt_var5  = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when `id`=#{item.id} then #{item.ptVar5}
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="deleteProjectCulvertStructure">
        update `xmsl_project_culvert_structure` set del_flag = 1
        <where>
            and `id` = #{id}
        </where>
    </update>

    <update id="deleteProjectCulvertStructureByPks">
        update `xmsl_project_culvert_structure` set del_flag = 1
        <where>
            `id` in
            <foreach item="id" collection="projectCulvertStructurePkList" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>